<div class="row">

    <!-- categories and orgins container -->
    <div class="col-3-md col-12-xs">

        <div id="jstree_categories-ID" class="well">
            <!-- in this example the tree is populated from inline HTML -->
                <ul>
                  <li>Root node 1
                    <ul>
                      <li id="child_node_1">Child node 1</li>
                      <li>Child node 2</li>
                    </ul>
                  </li>
                  <li>Root node 2</li>
                </ul>
        </div>

        <div id="jstree_origins-ID" class="well">
            <!-- in this example the tree is populated from inline HTML -->
                <ul>
                  <li>Root node 1
                    <ul>
                      <li id="child_node_1">Child node 1</li>
                      <li>Child node 2</li>
                    </ul>
                  </li>
                  <li>Root node 2</li>
                </ul>
        </div>

    </div>

    <!-- priducts container -->
    <div class="col-9-md col-12-xs">
        <div class="shop-component-list-products"></div>
    </div>

</div>