@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

@import "vendors";
@import "base/less/mpws-vars";

// theme by http://transvelo.in/demo/html/media-center/index.php?page=home&style=alt1&style=alt1
@import (inline) "theme/bootstrap.min.css";
@import "theme/main";
@import "theme/orange";

@import "custom";

@link-color: #3D3D3D;
@link-icon-color: #C6C6C6;
@font-color: #5D5D5D;
@hover-color: #F27A24;

// customization
.top-bar {
    .exchange-rates-widget {
        li {
            display: block;
        }
    }
    .mpws-js-top-nav-left {
        .fa {display: none;}
    }
}
.mpws-js-menu-cart {
    a:hover .badge {
        color: #F27A24;
    }
    .badge {
        &:before {
            content: '(';
        }
        &:after {
            content: ')';
        }
        color: @font-color;
        background: none;
        font-weight: normal;
        padding: 0px;
    }
}

.product-availability {
    display: none;
    .fa {
        font-size: 0.4em;
    }
}

button.btn * {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#shop-cart-embedded-ID {
    .btn {
        color: @link-color;
        .fa {
            color: @link-icon-color;
        }
        &:hover {
            color: @hover-color;
            .fa {
                color: @hover-color;
            }
        }
    }
}

header {
    .logo-holder {
        text-align: center;
        // overflow: hidden;
        // zoom: 1;
        div.logo {
            margin: -20px 0;
            a {
                display: inline-block;
            }
        }
    }
    // .top-search-holder .contact-row {
    //     margin-top: -18px;
    // }
    .top-search-holder .contact-row .phone {
        margin: 0px;
    }
    .address-item {
        &.single {
            .shop-name {
                display: none;
            }
        }
        .address-lines {
            display: none;
            > .block {
                display: inline-block;
                &.addresses {
                    padding-right: 10px;
                    margin-right: 10px;
                    border-right: 1px solid #eee;
                }
            }
        }
        .btn-group {
            cursor: pointer;
            .dropdown-toggle {
                box-shadow: none;
            }
        }
    }
    .address-switcher {
        margin-right: 15px;
        cursor: pointer;
        &.open .dropdown-toggle {
            box-shadow: none;
        }
    }
    .address-item-wrapper {
        display: inline-block;
    }
    // cart
    .shop-cart-embedded {
        .btn {
            margin-top: -5px;
            width: 150px;
            white-space: normal;
            text-align: left;
            vertical-align: top;
            border: 0;
            padding-left: 50px;
            position: relative;
            .fa {
                position: absolute;
                left: -5px;
                top: 5px;
                font-size: 40px;
                // margin-left: -25px;
            }
        }
    }
}

#footer {
    .sub-form-row {
        input {
            width: 70%;
        }
    }
}

.product-grid-holder .product-item-holder {
    border-right: 1px solid #ECECEC;
    margin-right: -1px;
}

.ribbon.mpws-shop-product-badge-ACTIVE {
    display: none;
}
.ribbon.mpws-shop-product-badge-ARCHIVED {
    &:after {
        border-top-color: #939393;
    }
}
.ribbon.mpws-shop-product-badge-DISCOUNT {
    &:after {
        border-top-color: #59B210;
    }
}
.ribbon.mpws-shop-product-badge-DEFECT {
    &:after {
        border-top-color: #F8484A;
    }
}
.ribbon.mpws-shop-product-badge-WAITING {
    &:after {
        border-top-color: #FAA900;
    }
}
.ribbon.mpws-shop-product-badge-PREORDER {
    &:after {
        border-top-color: #407AC5;
    }
}

a.btn-add-to-wishlist, a.btn-add-to-compare {
    &.added {
        color: #f27a24;
        &:before {
            color: #f27a24;
        }
    }
}

.shop-product-item-full {
    #single-product .body-holder .body .availability {
        margin-left: 0px;
        display: block;
    }
    #single-product .body-holder .body .brand {
        border: 0px none;
        line-height: normal;
        margin: 0;
        padding: 0;
    }
    .product-brand-and-id {
      line-height: 22px;
      padding-bottom: 7px;
      font-size: 10px;
      margin-bottom: 15px;
      border-bottom: 1px solid #e0e0e0;
      text-transform: uppercase;
    }
    .product-meta-id {
        font-size: 10px;
    }
}


.mpws-js-shop-categories-ribbon {
    #top-megamenu-nav {
        margin-top: 0;
    }
}