@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

@import "vendors";
@import "base/less/mpws-vars";

// theme by http://transvelo.in/demo/html/media-center/index.php?page=home&style=alt1&style=alt1
@import (inline) "theme/bootstrap.min.css";
@import "theme/main";
@import "theme/orange";

@import "custom";

// customization
header {
    .logo-holder {
        div.logo {
            margin: -20px 0;
            a {
                overflow: hidden;
                zoom: 1;
            }
        }
    }
    .top-search-holder .contact-row {
        margin-top: -18px;
    }
    .address-item {
        &.single {
            .shop-name {
                display: none;
            }
        }
        .address-lines {
            > .block {
                display: inline-block;
                &.addresses {
                    padding-right: 10px;
                    margin-right: 10px;
                    border-right: 1px solid #eee;
                }
            }
        }
    }
}
