/* 
    Document   : commonComponents
    Created on : Oct 15, 2012, 11:52:06 AM
    Description:
        Purpose of the stylesheet follows.
*/

/* ELEMEMENTS */
.mp (@m: 0px, @p: 0px) {
    margin: @m;
    padding: @p;
}
.wh (@w: 0px, @h: 0px) {
    width: @w;
    height: @h;
}
.bga (@color: @white, @aplha: 1) {
    background: hsla(hue(@color), saturation(@color), lightness(@color), @aplha);
}
.border (@size: 1px, @type: solid) {
    border: @size @type @colorBorder;
}
.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}
.borderComponent(@radius: 1px) {
    .border(1px, dotted);
    .rounded-corners (@radius);
}
.linkText() {
    color: @colorLink;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}
.linkButton() {
    text-decoration: none;
    background: #eee;
    border: 1px solid #aaa;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 white;
    display: inline-block;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 13px;
    height: 25px;
    line-height: 17px !important;
    margin: 0;
    min-width: 14px;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    padding: 4px 8px;
    text-align: center;
    background-image: -moz-linear-gradient(100% 100% 90deg, #DFDFDF, white);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#DFDFDF));
    background-image: -webkit-linear-gradient(white, #DFDFDF);
    background-image: -o-linear-gradient(white, #DFDFDF);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfdfdf',GradientType=0 );
    &:hover {
        border-color: #666;
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
    &:active {
        background-image: -moz-linear-gradient(100% 100% 90deg, #fff, #DFDFDF);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DFDFDF), to(#fff));
        background-image: -webkit-linear-gradient(#DFDFDF, #fff);
        background-image: -o-linear-gradient(#DFDFDF, #fff);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#ffffff',GradientType=0 );
    }
}
.fontPage () {
    color: @colorText;
    font: @textPage;
}
.fontComponent () {
    color: @colorText;
    font: @textComponent;
}
.fontHeader () {
    color: @colorText;
    font: @textHeader;
}
.standaloneComponent () {
    .border;
    padding: 10px;
    margin-bottom: 20px;
    background-image: -moz-linear-gradient(100% 100% 90deg, #DFDFDF, white);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#DFDFDF));
    background-image: -webkit-linear-gradient(white, #DFDFDF);
    background-image: -o-linear-gradient(white, #DFDFDF);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfdfdf',GradientType=0 );
}
.widgetBase () {
    .borderComponent(10px);
    border-color: @colorBg;
    padding: 10px;
    margin: 10px 0px 15px;
    box-shadow: 0px 0px 10px #000;
    background-color: desaturate(@colorComponent, 50%);
}

/* BASE COMPONENTS */

.component () {}

.componenMenuHorizontal () {
    /* Main menu */
    .MPWSListMenu
    {
        clear: both;
        display: block;
        margin: 10px -30px;
        width: auto;
        // margin: 0;
        padding: 10px 0 0 0;
        list-style: none;  
        background: #111;
        background: -moz-linear-gradient(#444, #111); 
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));  
        background: -webkit-linear-gradient(#444, #111);    
        background: -o-linear-gradient(#444, #111);
        background: -ms-linear-gradient(#444, #111);
        background: linear-gradient(#444, #111);
        -moz-border-radius: 0px;
        border-radius: 0px;
        -moz-box-shadow: 0 2px 1px #9c9c9c;
        -webkit-box-shadow: 0 2px 1px #9c9c9c;
        box-shadow: 0 2px 1px #9c9c9c;
    }

    .MPWSListMenu li
    {
        float: left;
        padding: 0 0 10px 0;
        position: relative;
        line-height: 0;
    }

    .MPWSListMenu a 
    {
        float: left;
        height: 25px;
        padding: 0 25px;
        color: #999;
        text-transform: uppercase;
        font: bold 12px/25px Arial, Helvetica;
        text-decoration: none;
        text-shadow: 0 1px 0 #000;
    }

    .MPWSListMenu li:hover > a
    {
        color: #fafafa;
    }


    .MPWSListMenu li:hover > ul
    {
        display: block;
    }

    /* Sub-menu */

    .MPWSListMenu ul
    {
        list-style: none;
        margin: 0;
        padding: 0;    
        display: none;
        position: absolute;
        top: 35px;
        left: 0;
        z-index: 99999;    
        background: #444;
        background: -moz-linear-gradient(#444, #111);
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
        background: -webkit-linear-gradient(#444, #111);    
        background: -o-linear-gradient(#444, #111); 
        background: -ms-linear-gradient(#444, #111);    
        background: linear-gradient(#444, #111);
        -moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
        -webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
        box-shadow: 0 0 2px rgba(255,255,255,.5);   
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .MPWSListMenu ul ul
    {
      top: 0;
      left: 150px;
    }

    .MPWSListMenu ul li
    {
        float: none;
        margin: 0;
        padding: 0;
        display: block;  
        -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
        -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
        box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    }

    .MPWSListMenu ul li:last-child
    {   
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;    
    }

    .MPWSListMenu ul a
    {    
        padding: 10px;
        height: 10px;
        width: 130px;
        height: auto;
        line-height: 1;
        display: block;
        white-space: nowrap;
        float: none;
        text-transform: none;
    }


    .MPWSListMenu ul a:hover
    {
        background: #0186ba;
        background: -moz-linear-gradient(#04acec,  #0186ba);    
        background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
        background: -webkit-linear-gradient(#04acec,  #0186ba);
        background: -o-linear-gradient(#04acec,  #0186ba);
        background: -ms-linear-gradient(#04acec,  #0186ba);
        background: linear-gradient(#04acec,  #0186ba);
    }

    .MPWSListMenu ul li:first-child > a
    {
        -moz-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
    }

    .MPWSListMenu ul li:first-child > a:after
    {
        content: '';
        position: absolute;
        left: 30px;
        top: -8px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 8px solid #444;
    }

    .MPWSListMenu ul ul li:first-child a:after
    {
        left: -8px;
        top: 12px;
        width: 0;
        height: 0;
        border-left: 0; 
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
        border-right: 8px solid #444;
    }

    .MPWSListMenu ul li:first-child a:hover:after
    {
        border-bottom-color: #04acec; 
    }

    .MPWSListMenu ul ul li:first-child a:hover:after
    {
        border-right-color: #04acec; 
        border-bottom-color: transparent;   
    }


    .MPWSListMenu ul li:last-child > a
    {
        -moz-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
    }

    /* Clear floated elements */
    .MPWSListMenu:after 
    {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}


// *html .MPWSListMenu ul a /* IE6 */
// {    
//     height: 10px;
// }

// *:first-child+html .MPWSListMenu ul a /* IE7 */
// {    
//     height: 10px;
// }

// * html .MPWSListMenu             { zoom: 1; } /* IE6 */
// *:first-child+html .MPWSListMenu { zoom: 1; } /* IE7 */

// *html #menu ul a{ /* IE6 */   
//  height: 10px;
//  width: 150px;
// }

// *:first-child+html #menu ul a{  IE7     
//  height: 10px;
//  width: 150px;
// }
// *html .MPWSListMenu li a:hover  IE6 
// {
//     color: #fafafa;
// }








/* DOCUMENT ELEMENTS */

button {
    padding: 3px 5px;
    .linkButton;
}

/* LINKS */
a.MPWSLink {.linkText}


/* COMMON ELEMENTS */
.MPWSText {}
.MPWSHidden {display: none;}
.MPWSWrapper {overflow: hidden; zoom: 1;}
.MPWSBlock {padding: 5px;}
.MPWSSpacer {clear: both; height: 10px;}
.MPWSValue {font-weight: bold;}

/* CONTROLS */
.MPWSControlField {
    /* common */
    .MPWSControl {
        .border;
        border-color: #aaa;
    }
    /* specific controls */
    .MPWSControlPassword,
    .MPWSControlTextBox {
        width: 300px;
        padding: 5px;
    }
    .MPWSControlDropDown {}
    .MPWSControlTextArea {
        width: 300px;
        padding: 5px;
    }
    .MPWSControlCheckBox {}
}

.MPWSForm {
    .MPWSFormBody {
        padding: 5px 0px 20px;
    }
    .MPWSFormFooter {
    }
}

/* RENDER MODES */
.MPWSRenderModeError {
    color: @colorError;
    input, textarea {.border;}
    font-weight: bold;
    .MPWSTextAsterix {
        font-size: 15px;
        padding-top: 5px;
        margin-left: 20px;
    }
}

/* BASE ELEMENTS */
.MPWSWidget {
    .widgetBase;
}

.MPWSHeader {font-size: 18px;}

.MPWSBlockControl.MPWSBlockControl_mpwsLabelValue {
    padding: 2px 10px 8px; 
    zoom: 1;
    overflow: hidden;
    .MPWSLabel {font-weight: bold; float: left; padding-right: 20px;}
    .MPWSControlField {float: left;}
}

.MPWSBlockDataRow {
    padding: 2px 0px;
    .MPWSText {display: inline-block;}
    .MPWSValue {display: inline-block;}
}

.MPWSWidgetDataApiViewer .MPWSValue {display: inline;word-break: break-all;}