/* 
    Document   : commonComponents
    Created on : Oct 15, 2012, 11:52:06 AM
    Description:
        Purpose of the stylesheet follows.
*/

.border (@size: 1px, @type: solid) {
    border: @size @type @colorBorder;
}
.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}
.borderComponent(@radius: 1px) {
    .border(1px, dotted);
    .rounded-corners (1px);
}
.linkText() {
    color: @colorLink;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}
.linkButton() {
    float: left;
    .border;
    .linkText;
    padding: 3px 5px;
    margin-right: 5px;
    text-decoration: none;
    background-color: @colorBg;
    color: @colorComponent;
    &:hover {
        background-color: @colorError;
        color: @colorComponent;
        cursor: pointer;
    }
    &:visited {
        text-decoration: none;
    }
}
.fontPage () {
    color: @colorText;
    font: @textPage;
}
.fontComponent () {
    color: @colorText;
    font: @textComponent;
}
.fontHeader () {
    color: @colorText;
    font: @textHeader;
}

/* DOCUMENT ELEMENTS */

body {
    margin: 0;
    padding: 10px;
    background-color: @colorBg;
    .fontPage;
}

button {
    padding: 3px 5px;
    .linkButton;
}

.MPWSLayout {}

/* MPWS PAGE */
.MPWSPage {
    width: 800px;
    margin: 0px auto;
    background-color: @colorComponent;
    padding: 20px 30px;
    box-shadow: 0px 0px 10px #222;
    border-radius: 10px;
}

/* LINKS */
a.MPWSLink {.linkText}


/* COMMON ELEMENTS */
.MPWSHidden {display: none;}

/* CONTROLS */
.MPWSControlField {
    /* common */
    .MPWSControl {
        .border;
        padding: 5px;
    }
    /* specific controls */
    .MPWSControlTextBox {
        width: 300px;
    }
    .MPWSControlDropDown {}
    .MPWSControlTextArea {
        width: 300px;
    }
    .MPWSControlCheckBox {}
}

/* RENDER MODES */
.MPWSRenderModeError {
    color: @colorError;
    input, textarea {.border;}
}


.componenMenuHorizontal () {
    clear: both;
    display: both;
    margin: 10px -30px;
    background-color: @colorBg;
    .MPWSList {
        zoom: 1;
        margin: 0px;
        padding: 0px;
        z-index: 999;
        height: 40px;
        .MPWSListItem {
            margin: 0px;
            padding: 0px;
            float: left;
            list-style: none;
            position: relative;
            a.MPWSLink {
                color: @colorComponent;
                text-decoration: none;
                font-size: 14px;
                float: left;
                padding: 10px;
                height: 20px;
                &:hover {
                    background-color: @colorError;
                    color: @colorComponent;
                }
            }
            /* hide inner menus */
            div {display: none;}
            &:hover div {
                display: block;
                position: absolute;
                width: 150px;
                z-index: 99999;
                opacity: 0.9;
            }
        }
    }
}