/* COMPONENTS */
.MPWSComponent {}

.MPWSComponentWidgetSummary {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 3px solid @color;
    .MPWSText {display: block;}
    .MPWSTextTitle {
        font-weight: bold;
        font-size: 16px;
    }
    .MPWSTextDetails {
        font-size: 11px;
        font-style: italic;
    }
}

.MPWSComponentMessagesList {
    .standaloneComponent;
    .MPWSList {
        .MPWSListItem {}
    }
}

.MPWSComponentHeader {
    font-size: 14px;
    color: @colorBg;
    display: block;
    border-bottom: 1px solid @color;
    h3 {font-size: 14px;}
}


.MPWSComponentErrorFieldsList {
    color: @colorError;
    padding: 0px 0px 0px 20px;
}

.MPWSComponentDataBaseField {}

/* COMPONENT: search box */
.MPWSComponentSearchBox {
    
}

.MPWSRowLabelValue {
    overflow: hidden;
    border-bottom: 1px dashed #BAC0AC;
    padding: 5px 10px;
    margin-bottom: 10px;
    .MPWSLabel {float: left; width: 200px;}
    .MPWSValue {font-weight: bold;}
}

/* COMPONENT: quick filtering */
.MPWSComponenQuickFiltering {
    padding: 10px 0px 25px;
}

/* COMPONENT: data table top actions */
.MPWSComponentDataTableTopActions {
    padding: 0px 0 20px;
    overflow: hidden;
    zoom: 1;
    a.MPWSLink {
        .linkButton;
    }
}


/* COMPONENT: data table */
.MPWSComponentDataTable {
    .standaloneComponent;
    .MPWSDataTableRows {
        .MPWSDataTableRowCaptions {
            background-color: @colorBorder;
            color: @colorComponent;
            margin-bottom: 10px;
            padding: 5px 0px 5px 0px;
            a.MPWSLink {
                &:hover {text-decoration: none;}
            }
            &:hover {background-color: @colorBorder !important;}
        }
        .MPWSDataTableRow {
            border-bottom: 1px solid @colorBorder;
            overflow: hidden;
            position: relative;
            padding-bottom: 5px;
            margin-bottom: 2px;
            .MPWSDataTableCell {
                float: left;
                padding: 5px 5px 2px;
                width: 120px;
            }
            .MPWSDataTableCellActions {
                width: 160px;
                .MPWSBlockControl.MPWSBlockControl_mpwsLinkAction {float: left; padding: 0px 5px 0px 0px;}
            }
            &:hover {
                color: @colorComponent;
                background-color: desaturate(@colorBorder, 20%) * 2;
                .MPWSLink {color: @colorComponent;}
            }
        }
    }
}

.MPWSComponenPagingBar {
    .standaloneComponent;
    margin-top: 10px;
    .MPWSWrapper {margin-top: 8px;}
    .MPWSRowLabelValue {
        margin: 0px;
    }
    .MPWSBlockEdgeLinks {float: left; width: 200px; border-right: 3px solid @colorBg;}
    .MPWSBlockPageLinks {
        padding-left: 20px;
        float: left;
    }
    .MPWSLink {.linkButton}
    .MPWSLinkPagingActive {font-weight: bold;}
}

/* WIDGETS */
.MPWSWidget {}


/* WIDGET: system plugin list */
.MPWSWidgetSystemPluginList {
    .MPWSList {
        .mp;
        overflow: hidden;
        zoom: 1;
        list-style: none;
        padding: 40px 0px;
        .MPWSListItem {
            float: left;
            .MPWSWrapper {
                //background: @colorBg;//#003D4C;
                .bga(@colorBg, 0.8);
                color: #fff;
                padding: 5px 0px 10px 12px;
                position: absolute;
                bottom: 0px;
                .wh(188px, 20px);
                overflow: hidden;
            }
            .MPWSBlock {
                .mp;
                .wh(200px, 200px);
                -webkit-box-shadow: 0px 0px 0px 17px rgba(0,0,0,0.2);
                -moz-box-shadow: 0px 0px 0px 17px rgba(0,0,0,0.2);
                box-shadow: 0px 0px 0px 17px rgba(0,0,0,0.2);
                filter:alpha(opacity=30);
                -moz-opacity: 0.3;
                -khtml-opacity: 0.3;
                opacity: 0.3;
                position: relative;
                float: left;
                margin-left: 60px;
                /* hover state */
                &:hover {
                    filter:alpha(opacity=1);
                    -moz-opacity: 1;
                    -khtml-opacity: 1;
                    opacity: 1;
                    cursor: pointer;
                }
            }
            .MPWSLink, .MPWSText {text-decoration: none;}
            .MPWSTextDescription {
                font-size: 90%;
                font-weight: normal;
                font-style: italic;
                display: block;
                width: 150px;
                margin-left: -300px;
            }
            .MPWSTextLink {
                font-size: 120%;
                font-weight: bold;
                display: block;
                background: url("arrows-ffffff.png") no-repeat 155px 4px;
                text-align: right;
                padding-right: 40px;
                margin-right: -300px;
                color: #fff;
                margin-top: 7px;
            }

        }
    }
}

/* WIDGET: dataeditor */

.MPWSWidgetDataTableView {
}

.MPWSWidgetDataEditor {
    form.MPWSFormEditor {
        padding: 10px;
        .MPWSComponentField {
            overflow: hidden;
            zoom: 1;
            padding: 5px 0px 7px;
            .MPWSFieldLabel {
                width: 200px;
                float: left;
                font-weight: bold;
                margin-top: 5px;
            }
            .MPWSControlField {
                float: left;
            }
        }
        .MPWSControlFieldFormButtons {
            border-top: 1px dotted @colorBorder;
            padding: 10px 0 0;
        }
    }
    .MPWSBlockDataEditorBottomLinks {

    }
    
    /* Edit Page */
    form.MPWSFormEditorPageEdit {
    }
    /* Preview Page */
    form.MPWSFormEditorPagePreview {
        .MPWSComponentDataBaseField {
            .MPWSFieldLabel {
                margin-top: 0px;
            }
        }
    }
    /* Save Page */

    /* Cancel Page */
    .MPWSFormEditorPageCancel {
        
    }
}

//
.MPWSWidgetSystemUserInfo {
    margin: 0px 10px 10px;
    .MPWSRowLabelValue {margin: 0px;}
    .MPWSControlFieldFormButtons {margin-top: 5px; float: right;}
}

