@import url(//fonts.googleapis.com/css?family=Lora:400italic,400,700italic);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,300italic,700,600,800);

@import "vendors";
@import "base/less/mpws-vars";
@import "base/less/starburst";

// theme by http://transvelo.in/demo/html/media-center/index.php?page=home&style=alt1&style=alt1
@import "theme/reset";
@import "theme/styles";
@import "theme/contact";
@import (css) "/static_/vendors/odometer/themes/odometer-theme-default.css";
@import (css) "/static_/vendors/iCheck/skins/all.css";

@import "custom";

body {
    background: url('@{imgPath}bg.jpg') repeat;
}

h1#logo a {
    background: none;
    text-indent: 0;
}

#options ul li a {
    color: #D7D7D7;
    .fa {
        display: none;
    }
}

.mpws-js-catalog-tree {
    ul {
        float: none;
    }
    .dropdown.menu-item {
        float: none;
        display: block;
        text-align: center;
        a {
            padding: 0px;
        }
    }
}

.element p {
    word-break: break-all;
}

footer {
    ul.social a {
        text-indent: 0;
        color: #fff;
        border: 1px solid #fff;
        display: inline-block;
        border-radius: 2em;
        padding: 10px 6px;
        .fa {
            font-size: 2em;
        }
        &:hover {
            background-color: #fff;
            .fa {
                color: #A57350;
            }
        }
    }
    .mpws-js-addressline-footer * {
        color: #D7D7D7;
    }
    .mpws-js-copyright * {
        color: #D7D7D7;
    }
}