@mainColor: #CF7400;
@textColor: #fff;
@textForegroundColor: #fff;
@buttonTextColor: #333;
@buttonColorHover: darken(@mainColor, 10%);

@import "base";
@import "sb-admin2";
@import "metisMenu";
@import "animations/fbLoader";
@import "animations/shake";
@import "bootstrap-magnify";
@import "bootstrap-combobox";
@import "bootstrap-slider";
@import "backgrid-paginator";
@import "bootstrap-dialog";
@import "bootstrap-editable";

body {
    background-image: none;
}

.PageSignin {
    background-color: #292525;
    .navbar-static-top {
        display: none;
    }
    #page-wrapper {
        padding-top: 100px;
        background: none;
        margin: 0px;
    }
}

.title-powered {
    color: #fff;
    display: none;
    margin-left: 35px;
    position: relative;
    top: -15px;
    font-size: 0.65em;
}

.toolbox-component-form-signin {
    margin: 0px auto;
    border: 1px solid #333;
    box-shadow: 0px 0px 10px #000;
    background-color: #FFF;
    padding: 10px;
    width: 400px;
    &, legend {
        color: #333;
    }
    .form-group.buttons {
        text-align: right;
    }
}

.plugin-shop-stats {
    .panel-heading {
        .text-right {
            a {
                color: #fff;
                display: inline-block;
                margin-left: 5px;
                border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
                &:hover {
                    text-decoration: none;
                    border-bottom: 1px dashed #fff;
                }
            }
        }
        .huge {
            a {
                border: 0px none;
                &:hover {
                    border: 0px none;
                    text-shadow: 0px 0px 10px #fff;
                }
            }
        }
    }
}


// .pluginShopOrderPopup {
//     .modal-dialog {
        
//     width: 50%;
//     }
// }

.pluginShopOrderPopup {
    .modal-dialog {
        width: 70%;
    }
    .shop-widget-productlist {
      .wrapper {
        position: relative;
        padding: 3px 0px 14px;
        border-top: 1px solid #ddd;
        &:nth-child(odd) {
          background-color: #f9f9f9;
        }
        &:nth-child(even) {
          background-color: #fff;
        }
        .shop-product-image-main {
            height: 32px; max-width: 32px; max-height: 32px; display: inline-block;
        }
        .product-name { }
        .product-price {}
        .label-default { }
        .product-quantity { }
        .product-total { }
        .productQuantityAction {}
        .form-control.quantity {
            display: none;
        }
        .shop-product-remove {
            display: none;;
        }
      }
    }
    .cartInfo {
        .btn-promo-cancel {display: none;}
        .shopPropmoCode {
            display: none;
        }
    }
    .list-group-item-status_ACTIVE {
        background-color: #EFD;
    }
    .list-group-item-status_NEW {
        background-color: #FDD;
    }
    .list-group-item-status_LOGISTIC_DELIVERING,
    .list-group-item-status_LOGISTIC_DELIVERED {
        background-color: #FFFEDD;
    }
    .list-group-item-status_SHOP_CLOSED {
        background-color: #DDD;
    }
}