@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);

@mainColor: #CF7400;
@textColor: #fff;
@textForegroundColor: #fff;
@buttonTextColor: #333;
@buttonColorHover: darken(@mainColor, 10%);

@import "base";
@import "dropdowns-sub";
@import "bootstrap-magnify";
@import "bootstrap-combobox";
@import "bootstrap-slider";
@import "bootstrap-dialog";
@import "bootstrap-editable";
@import "bootstrap-tagsinput";
@import "lightbox";
@import "select2";
@import "bootstrap-account-create";
@import "backgrid";
@import "jsTreeStyle";

.MPWSPageBody {
    background-color: fade(@textColor, 20%);
    margin-left: 40px;
    transition: all .4s ease 0s;
    .MPWSBlockLeft {
        // .make-sm-column(1);
        // .make-md-column(1);
    }
    .MPWSBlockCenter {
        padding: 20px;
        transition: all .4s ease 0s;
        // .make-sm-column(12);
        // .make-md-column(12);
    }
}

.toolbox-menu-active {
    .MPWSPageBody {
        margin-left: 170px;
        transition: all .4s ease 0s;
    }
}

.MPWSLayout {
    background: none;
    width: auto;
    max-width: 100%;
    .MPWSPageHeader {
        display: none;
    }
    .MPWSWidgetsTop {
        display: none;
    }
    .MPWSPageBody {
        padding: 0px;
        background: none;
    }
}

.navbar {
    border-radius: 0px;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.9);
    .navbar-brand {
        float: left;
        font-size: 18px;
        line-height: 20px;
        color: @mainColor;
        padding: 0;
    }
    .logo {
        margin: 5px;
        height: 40px;
    }
    display: none;
}

.breadcrumb {
    background-color: #2F2F2F;
}

.toolbox-logo {
    height: 50px;
    font-size: 22px;
    color: #fff;
    text-shadow: 2px 2px 10px #aaa;
}

.container-menu {
    .panel {
        margin-bottom: 20px;
        .panel-heading {
            .glyphicon {
                margin-right: 5px;
            }
        }
    }
}

.shop-toolbox-orders {
    .backgrid, .backgrid-paginator {
        background-color: #eee;
    }
}

.shop-toolbox-products {
    .backgrid, .backgrid-paginator {
        background-color: #eee;
    }
}

.bootstrap-dialog.shop-toolbox-order-edit {
    .modal-dialog {
        width: 800px;
    }
}

// Page: SignIn
// ============
.MPWSPage.PageSignin {
    .MPWSPageHeader {
        display: none;
    }
    .MPWSPageBody,
    .MPWSLayout {
        background: none;
    }
    .toolbox-component-form-signin {
        margin: 0px auto;
        border: 1px solid #eee;
        box-shadow: 0px 0px 10px #000;
        background-color: fade(@textColor, 20%);
        .border-top-radius(5px);
        .border-bottom-radius(5px);
        padding: 10px;
        width: 400px;
        &, legend {
            text-shadow: 2px 2px 9px #000;
            color: #FFF;
        }
        .form-group.buttons {
            text-align: right;
        }
    }
}

.helper {
    color: #0088cc;
    &.helper-left {
        margin: 0px 3px 0px 0px;
    }
    &.helper-right {
        margin: 0px 0px 0px 3px;
    }
    &.helper-middle {
        margin: 0px 3px 0px 3px;
    }
}

.shop-toolbox-orders {
    .backgrid .html-cell .fa {
        margin: 0px 10px 0px 5px;
    }
    .fa-dot-circle-o {
        color: #FF0000;
    }
    .fa-circle {
        color: #C2A407;
    }
    .fa-plane {
        color: #B307C2;
    }
    .fa-gift {
        color: #0743C2;
    }
    .fa-check {
        color: #0ECF0E;
    }
}

.shop-toolbox-products {
    .bootstrap-tagsinput { width: 100%; }
    @import "bootstrap-vertical-tabs";
    ul.nav-tabs {
        li.productList_Active > a {
            color: #183;
        }
        li.productList_Inactive > a {
            color: #777;
        }
        li.productList_Uncompleted > a {
            color: #ff2222;
        }
        li.productList_Sales > a {
            color: #183;
        }
        li.productList_Popular > a {
            color: #A715EC;
        }
        li.productList_NotPopular > a {
            color: #990000;
        }
    }
}

.shop-widget-productlist {
  .wrapper {
    position: relative;
    padding: 3px 15px 14px;
    border-top: 1px solid #ddd;
    &:nth-child(odd) {
      background-color: #f9f9f9;
    }
    &:nth-child(even) {
      background-color: #fff;
    }
    & > div, & > span, .product-row > span {display: inline-block;}
    .shop-product-image-main {
        img {height: 32px; max-width: 32px; max-height: 32px; display: inline-block;}
    }
    .product-name { }
    .product-price { }
    .label-default { }
    .product-quantity { }
    .product-total { }
    .productQuantityAction {}
    .productQuantityAdd {padding: 0px 5px 0px 15px;}
    .productQuantitySub {padding: 0px 15px 0px 5px;}
  }
}

.backgrid .select-cell:hover {
    cursor: pointer;
    outline: 1px solid #aaa;
}

.shop-popup-category {
    .category-props {
        h4 {
            display: inline-block;
            margin-left: 10px;
        }
        button.category-props-add {
            float: left;
        }
    }

}

.shop-toolbox-origins {
    .backgrid-filter.form-search {
        margin: 3px 10px;
    }
}

.shop-product-manager {
    .shop-manager-buttons-create {
        button {
            margin-bottom: 10px;
        }
        button:last-child {
            margin-bottom: 0px;
        }
    }
}


#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%;
    .row{
        margin-left:0px;
        margin-right:0px;
    }
    #sidebar-wrapper {
        margin-left: -218px;
        left: 70px;
        width: 190px;
        background: #222;
        position: fixed;
        height: 100%;
        z-index: 10000;
        transition: all .4s ease 0s;
    }

    .sidebar-nav {
        display: block;
        float: left;
        width: 190px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #page-content-wrapper {
        padding-left: 0;
        margin-left: 0;
        width: 100%;
        height: auto;
    }
    &.active {
        padding-left: 200px;
    }
    &.active #sidebar-wrapper {
        left: 200px;
    }

    #page-content-wrapper {
      width: 100%;
    }

    #sidebar_menu li a, .sidebar-nav li a {
        color: #999;
        display: block;
        float: left;
        text-decoration: none;
        width: 190px;
        background: #252525;
        border-top: 1px solid #373737;
        border-bottom: 1px solid #1A1A1A;
        -webkit-transition: background .5s;
        -moz-transition: background .5s;
        -o-transition: background .5s;
        -ms-transition: background .5s;
        transition: background .5s;
        padding-left: 10px;
        position: relative;
    }
    .sidebar_name {
        padding-top: 25px;
        color: #fff;
        opacity: .7;
    }

    .sidebar-nav li {
      line-height: 40px;
      text-indent: 20px;
    }

    .sidebar-nav li a {
      color: #999999;
      display: block;
      text-decoration: none;
    }

    .sidebar-nav li a:hover {
      color: #fff;
      background: rgba(255,255,255,0.2);
      text-decoration: none;
    }

    .sidebar-nav li a:active,
    .sidebar-nav li a:focus {
      text-decoration: none;
    }

    .sidebar-nav > .sidebar-brand {
      height: 65px;
      line-height: 60px;
      font-size: 18px;
    }

    .sidebar-nav > .sidebar-brand a {
      color: #999999;
    }

    .sidebar-nav > .sidebar-brand a:hover {
      color: #fff;
      background: none;
    }

    #main_icon
    {
        // float:right;
        position: absolute;
        right: 15px;
        top: 25px;
        font-size: 0.7em;
        // padding-right: 57px;
        // padding-top:20px;
    }
    .sub_icon
    {
        // float:right;
        position: absolute;
        // padding-right: 57px;
        // padding-top:10px;
        right: 15px;
        top: 15px;
    }
    .content-header {
      height: 65px;
      line-height: 65px;
    }

    .content-header h1 {
      margin: 0;
      margin-left: 20px;
      line-height: 65px;
      display: inline-block;
    }
}

@media (max-width:767px) {
    #wrapper {
        padding-left: 7px;
        transition: all .4s ease 0s;
        #sidebar-wrapper {
            left: 70px;
        }
        &.active {
            padding-left: 190px;
        }
        &.active #sidebar-wrapper {
            left: 190px;
            width: 200px;
            transition: all .4s ease 0s;
        }
    }
}
