<div class="well cartInfo">
    <div class="shopCartSubTotal">
        <span class="value-prefix">Сума:</span>
        <span class="value">{{info.subTotal}}<span class="moneyType">грн.</span></span>
    </div>
    <div class="shopCartTotal">
        <span class="value-prefix">До оплати:</span>
        <span class="value label label-success">{{info.total}}<span class="moneyType">грн.</span></span>
    </div>
</div>