<!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-cog"></i> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="/#shop/order/{{ID}}">Редагувати</a></li>
    <li><a href="#">Надрукувати</a></li>
    <li class="divider"></li>
    <li><a href="#">Надіслати код відстеження</a></li>
    <li><a href="#">Надіслати фактуру</a></li>
  </ul>
</div>