<div class="row well">
    <h4>Фільтр товарів</h4>
    <input data-role="tagsinput">
</div>
<div class="row well shop-product-lists">
    <ul class="nav nav-tabs">
        <li class="productList_Defects" data-type="Defects">
            <a href="#product_type_Defects-ID" data-toggle="tab">
                <i class="fa fa-wheelchair"></i>
                {{lang.product_type_Defects}}
                <span class="badge"></span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="product_type_Active-ID"></div>
    </div>
</div>