<div class="panel-heading">
    <a href="{{bb_link instances.shop.urls.originCreate id=data.ID asRoot=true}}">
        <i class="fa fa-plus"></i>
    </a>
    {{lang.pluginMenu_Origins_Grid_Title}}
</div>
<div class="panel-body origins"></div>