<li><a href="#shop/dashboard">{{lang.pluginMenu_Dashboard}}<span class="sub_icon fa fa-tachometer"></span></a></li>
<li><a href="#shop/products">{{lang.pluginMenu_Products}}<span class="sub_icon fa fa-shopping-cart"></span></a></li>
<li><a href="#shop/orders">{{lang.pluginMenu_Orders}}<span class="sub_icon fa fa-usd"></span></a></li>
<li><a href="#shop/reports">{{lang.pluginMenu_Reports}}<span class="sub_icon fa fa-signal"></span></a></li>