<li class="hide"><a href="#shop/stats" class="auto-active"><span class="sub_icon fa fa-bar-chart-o"></span> {{lang.pluginMenu_Dashboard}}</a></li>
<li><a href="#shop/product_manager" class="auto-active"><span class="sub_icon fa fa-shopping-cart"></span> {{lang.pluginMenu_Products}}</a></li>
<li><a href="#shop/orders" class="auto-active"><span class="sub_icon fa fa-usd"></span> {{lang.pluginMenu_Orders}}</a></li>
<li><a href="#shop/reports" class="auto-active"><span class="sub_icon fa fa-signal"></span> {{lang.pluginMenu_Reports}}</a></li>