<div class="panel">


    <div class="row">
        <div class="col-md-12">
            <h4>Деталі виробника:</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="prefix">Дата створення:</span>
                    <span><strong>{{data.order.DateCreated}}</strong></span>
                </li>
            </ul>
        </div>

    </div>

</div>