<div class="row well">

    <button class="button button-add-product" data-action="plugin:shop:product:add">
      <i class="fa fa-plus-circle"></i>
      Новий товар
    </button>
      <button class="button button-add-category" data-action="plugin:shop:category:add">
        <i class="fa fa-plus-circle"></i>
        Нова категорія
      </button>
    <button class="button button-add-origin" data-action="plugin:shop:origin:add">
      <i class="fa fa-plus-circle"></i>
      Новий виробник
    </button>

</div>

<!-- categories and orgins container -->
<div class="row">
    <div class="col-md-6 shop-categories"></div>
    <div class="col-md-6 shop-origins"></div>
</div>

<div class="row shop-products"></div>