<div class="panel-heading">
    <i title="Ці товари слід закуповувати більше." class="fa fa-star helper helper-left"></i> ТОП 15 товарів:
</div>
<div class="panel-body">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Ред.</th>
                <th>Виробник</th>
                <th>Назва</th>
                <th>Продано</th>
                <th>Сума</th>
            </tr>
        </thead>
        <tbody>
        {{#each data.products_popular}}
            <tr>
                <td><i class="fa fa-pencil-square-o"></i></td>
                <td>{{OriginName}}</td>
                <td>{{Name}}</td>
                <td>{{SoldTotal}}</td>
                <td>{{SumTotal}}<span class="moneyType">грн.</span></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>