<div class="well newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5><i class="fa fa-envelope"></i> Отримуйте першими найвигідніші пропозиції!!!</h5>
                <p>Ми зобовязуємось не передавати Вашу ел.адресу іншим особам. Ваша ел.адреса буде збережена тільки в нашій системі і на яку ми будемо відправляти Вам каталог нових та акційних товарів.</p>
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input type="email" class="form-control" id="search" placeholder="Ваша ел.адреса">
                    </div>
                    <button type="submit" class="btn btn-default">Підписатися</button>
                </form>
            </div>
        </div>
    </div>
</div>