{{#each data.PhonesMap}}
<li>
    <a href="javascript://" class="phone">
        <i class="fa fa-phone"></i>
        <span class="preffix">{{label}}:</span>
        <span class="contact" itemprop="telephone">{{value}}</span>
    </a>
</li>
{{/each}}