{{#each data.PhonesMap}}
<li>
    <a href="javascript://" class="phone">
        <i class="fa fa-phone"></i>
        {{#if label}}
        <span class="preffix">{{{label}}}</span>{{/if}}
        {{#if value}}
        <span class="contact" itemprop="telephone">{{value}}</span>{{/if}}
    </a>
</li>
{{/each}}