<span type="button" class="dropdown-toggle btn btn-default" data-toggle="dropdown" aria-expanded="false">
    <span class="active-currency"></span>
    <span class="caret"></span>
</span>
<ul class="dropdown-menu" role="menu">
    {{#each instances.shop.settings.CUSTOM.currencyList}}
    <li class="currency {{@key}}" data-currency="{{@key}}">
        <a href="javascript://">{{@key}} {{Label}}</a>
    </li>
    {{/each}}
</ul>