<div id="content_wrapper">
    <a href="/page/make-order.html" id="order_now" title="Order Now">
        <img src="/static/orderNow4.gif" alt="Order Now"/>
    </a>
    <h1>Your account is activated!</h1>
    <div class="content">

        <p>
        <h2>Congratulations! Your account is activated now!</h2>
        Please use provided login and password to enter your Personal Page.
        We also recommend change your credentials when you sing in.
        </p>
        <p>Please re login if you are logged into your account.</p>

    </div>
</div>

