<div id="content_wrapper">
    <a href="/page/make-order.html" id="order_now"><img src="/static/orderNow.png"/></a>
    <h1>Download ready Essays!</h1>
    <div class="content">

    <div class="MPWSStaticContentWrapper" title="Get Free Essays General">
    <?=getValue($model['PROPS']['GET_FREE_ESSAYS_GENERAL']);?>
    </div>
    
        <?php if ($model['MODE'] !== 'LIVEEDIT') : ?>
        <form action="" method="POST" style="margin-bottom:30px;">
        <table cellpadding="5" cellspacing="0" border="0" width="50%" align="center">
        <tr>
            <td colspan="2" align="center" class="cell01">Search Essay</td>
        </tr>
        <tr>
            <td class="cell02">By title</td>
            <td class="cell02"><input type="text" id="MPWSField_SubjectNameID" class="MPWSTextBox" name="searchbox_sale_Title" value="<?=libraryRequest::getPostValue('searchbox_sale_Title');?>" placeholder="... part of title"/></td>
        </tr>
        <tr>
            <td class="cell02">By description</td>
            <td class="cell02"><input type="text" id="MPWSField_SubjectNameID" class="MPWSTextBox" name="searchbox_sale_Description" value="<?=libraryRequest::getPostValue('searchbox_sale_Description');?>" placeholder="... part of description"/></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                    <input type="submit" name="do" value="Search" />
                    <?php if($model['CUSTOMER']['SEARCHBOX']['ACTIVE'] ) : ?>
                        <input type="submit" name="do" value="Discard"/>
                    <?php endif ?>
                </td>
        </tr>
        </table>
        </form>
        <?php endif ?>
        
    <?php if($model['CUSTOMER']['SEARCHBOX']['ACTIVE'] ) : ?>

        <?php if(empty($model['CUSTOMER']['DATA'])) : ?>
            <div id="msg02">
                <span><b>Search results</b></span>
                <span><b>No</b> match found</span>
            </div>
        <?php else : ?>
            <div id="msg01">
                <span><b>Search results</b></span>
                <span>Browsing results matching
                    <b>
                    <?php
                        $_filterString = array();
                        foreach($model['CUSTOMER']['SEARCHBOX']['FILTER'] as $sbKey => $sbVal)
                            $_filterString[] = ' field "' . $sbKey . '" contains value "' . trim($sbVal, '%') . '"';
                        echo 'The ' . implode(', and the ', $_filterString);
                    ?>
                    </b>
                </span>
            </div>
        <?php endif ?>

    <?php endif ?>
            
        <table cellpadding="5" cellspacing="0" border="0" width="100%">
            <tr>
                <td class="cell01">TITLE</td>
                <td class="cell01">PAGES</td>
                <td class="cell01">PRICE</td>
            </tr>
            <?php foreach($model['CUSTOMER']['DATA'] as $entry) { ?>
            <tr>
                <td class="cell02"><a href="?action=details&oid=<?=$entry['ID'];?>"><?=$entry['Title'];?></a></td>
                <td class="cell02"><a href="?action=details&oid=<?=$entry['ID'];?>"><?=$entry['Pages'];?></a></td>
                <td class="cell02">FREE</td>
            </tr>
            <?php } ?>
            <?php if(count($model['CUSTOMER']['PAGELINKS']) > 1) : ?>
            <tr>
                <td class="cell03" colspan="3">
                <?php 
                    if (!empty($model['CUSTOMER']['EDGELINKS'])) {
                        foreach ($model['CUSTOMER']['EDGELINKS'] as $key => $page)
                            echo '<a href="?'.$page.'" class="pagination">' . $key . '</a>';
                        echo '<span class="vseparator"> | </span>';
                    }
                    foreach ($model['CUSTOMER']['PAGELINKS'] as $key => $page)
                        if ($key == $model['CUSTOMER']['CURRENT'])
                            echo '<a href="?'.$page.'" class="pagination_active">' . $key . '</a>';
                        else
                            echo '<a href="?'.$page.'" class="pagination">' . $key . '</a>';
                ?>
                </td>
            </tr>
            <?php endif ?>
        </table>
    </div>
</div>
<div id="base-text">
    <div class="MPWSStaticContentWrapper" title="Get Free Essays">
    <?=getValue($model['PROPS']['GET_FREE_ESSAYS']);?>
    </div>
</div>