<div>
    
<?php
    if(count($model['CUSTOMER']['MESSAGES'])) {
        echo '<b>We\'ve found some errors in the fields below:</b>';
        echo '<ul>';
        foreach ($model['CUSTOMER']['MESSAGES'] as $msg)
            echo '<li>' . $msg . '</li>';
        echo '</ul>';
    }
?>
    
    
<form action="/page/make-order.html" method="POST"> 
    
    
    <div class="MPWSSection">
        <label>Document Type</label>
        <select name="order_doc">
            <?php
                foreach($model['CUSTOMER']['DATA_DOCS'] as $e) {
                    $selected = '';
                    if ($model['CUSTOMER']['DATA']['DocumentID'] == $e['ID'])
                        $selected = ' selected="selected"';
                    echo '<option value="'.$e['ID'].'"'.$selected .'>'.$e['Name'].'</option>';
                }
            ?>
        </select>
    </div>
    
    <div class="MPWSSection">
        <label>Subject</label>
        <select name="order_subject">
            <?php
                foreach($model['CUSTOMER']['DATA_SUBJECTS'] as $e) {
                    $selected = '';
                    if ($model['CUSTOMER']['DATA']['SubjectID'] == $e['ID'])
                        $selected = ' selected="selected"';
                    echo '<option value="'.$e['ID'].'"'.$selected .'>'.$e['Name'].'</option>';
                }
            ?>
        </select>
    </div>
    
    <div class="MPWSSection">
        <label>Title</label>
        <input type="text" name="order_title" value="<?=$model['CUSTOMER']['DATA']['Title'];?>"/>
    </div>
    
    <div class="MPWSSection">
        <label>Email to deliver paper</label>
        <input type="text" name="order_email" value="<?=$model['CUSTOMER']['DATA']['Email'];?>"/>
    </div>
    
    <div class="MPWSSection">
        <label>Number of pages</label>
        <select name="order_pages">
            <?php
                for($i=1;$i<=20;$i++) {
                    $selected = '';
                    if ($model['CUSTOMER']['DATA']['Pages'] == $i)
                        $selected = ' selected="selected"';
                    echo '<option value="'.$i.'"'.$selected .'>'.$i.'</option>';
                }
            ?>
        </select>
    </div>
    <div class="MPWSSection">
        <label>Delivery date</label>
        <select name="order_price">
            <?php
                foreach($model['CUSTOMER']['DATA_PRICES'] as $e) {
                    $selected = '';
                    if ($model['CUSTOMER']['DATA']['PriceID'] == $e['ID'])
                        $selected = ' selected="selected"';
                    echo '<option value="'.$e['ID'].'"'.$selected .'>'.$e['Name'].'</option>';
                }
            ?>
        </select>
    </div>
    
    <div class="MPWSSection">
        <label>Academic level</label>
        <select name="order_level">
            <?php
                foreach($model['CUSTOMER']['DATA_FIELDS']['Level'] as $e) {
                    $selected = '';
                    if ($model['CUSTOMER']['DATA']['Level'] == $e)
                        $selected = ' selected="selected"';
                    echo '<option value="'.$e.'"'.$selected .'>'.$e.'</option>';
                }
            ?>
        </select>
    </div>
    
    <div class="MPWSSection">
        <label>Paper format</label>
        <select name="order_format">
            <?php
                foreach($model['CUSTOMER']['DATA_FIELDS']['Format'] as $e) {
                    $selected = '';
                    if ($model['CUSTOMER']['DATA']['Format'] == $e)
                        $selected = ' selected="selected"';
                    echo '<option value="'.$e.'"'.$selected .'>'.$e.'</option>';
                }
            ?>
        </select>
    </div>

    <div class="MPWSSection">
        <label>Number of sources</label>
        <select name="order_sources" id="MPWSOrderSourceCountID">
            <?php
                for($i=0;$i<=20;$i++) {
                    $selected = '';
                    if ($model['CUSTOMER']['DATA']['Sources'] == $i)
                        $selected = ' selected="selected"';
                    echo '<option value="'.$i.'"'.$selected .'>'.$i.'</option>';
                }
            ?>
        </select>
    </div>
    
    <div class="MPWSSection" id="MPWSSectionOrderSourcesLinksID">
        <div class="MPWSSourceRow"></div>
        <!-- sources from preview page -->
        <?php if (!empty($model['CUSTOMER']['DATA']['SourceLinks'])) foreach ($model['CUSTOMER']['DATA']['SourceLinks'] as $link) : ?>
            <div class="MPWSSourceRow">
            <input type="text" name="order_source_links[]" value="<?=$link;?>"/>
            </div>
        <?php endforeach ?>
    </div>

    <div class="MPWSSection">
        <label>Paper instructions</label>
        <textarea name="order_notes"><?=$model['CUSTOMER']['DATA']['Description'];?></textarea>
    </div>
    
    <div class="MPWSSection">
        <label>Time Zone</label>
<select name="order_timezone" class="field_timezone" id="Timezone">
<option value="-12">(GMT -12:00) Eniwetok, Kwajalein</option>
<option value="-11">(GMT -11:00) Midway Island, Samoa</option>
<option value="-10">(GMT -10:00) Hawaii</option>
<option value="-9">(GMT -9:00) Alaska</option>
<option value="-8">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
<option value="-7">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
<option value="-6">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
<option value="-5">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
<option value="-4">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
<option value="-3.5">(GMT -3:30) Newfoundland</option>
<option value="-3">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
<option value="-2">(GMT -2:00) Mid-Atlantic</option>
<option value="-1">(GMT -1:00 hour) Azores, Cape Verde Islands</option>
<option value="0" selected="selected">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
<option value="1">(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
<option value="2">(GMT +2:00) Kaliningrad, South Africa</option>
<option value="3">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
<option value="3.5">(GMT +3:30) Tehran</option>
<option value="4">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
<option value="4.5">(GMT +4:30) Kabul</option>
<option value="5">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
<option value="5.5">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
<option value="5.75">(GMT +5:45) Kathmandu</option>
<option value="6">(GMT +6:00) Almaty, Dhaka, Colombo</option>
<option value="7">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
<option value="8">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
<option value="9">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
<option value="9.5">(GMT +9:30) Adelaide, Darwin</option>
<option value="10">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
<option value="11">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
<option value="12">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
</select>
    </div>
    
    
    <input type="hidden" name="session_key" value="<?=$model['CUSTOMER']['DATA_SESSION'];?>"/>
    <input type="submit" name="do" value="Proceed"/>
</form>
    
    
</div>