<div id="content_wrapper">
    <a href="/page/make-order.html" id="order_now" title="Order Now">
        <img src="/static/orderNow4.gif" alt="Order Now"/>
    </a>
	<h1>Make an order</h1>
	<div class="content">
        <form action="/page/make-order.html" method="POST"> 
        <table cellpadding="5" cellspacing="0" border="0" width="100%">
        <tr>
            <td class="cell01" colspan="2">Preview Your Order</td>
        </tr>
        <tr>
            <td class="cell04">Document type</td>
            <td class="cell04a">
                <span><?=$model['CUSTOMER']['DATA_DOC']['Name'];?></span>
                <input type="hidden" name="order_doc" value="<?=$model['CUSTOMER']['DATA']['DocumentID'];?>"/>
            </td>
        </tr>
        <tr>
            <td class="cell04">Subject</td>
            <td class="cell04a">
                <span><?=$model['CUSTOMER']['DATA_SUBJECT']['Name'];?></span>
                <input type="hidden" name="order_subject" value="<?=$model['CUSTOMER']['DATA']['SubjectID'];?>"/>
            </td>
        </tr>
        <tr>
            <td class="cell04">Title</td>
            <td class="cell04a">
                <span><?=$model['CUSTOMER']['DATA']['Title'];?></span>
                <input type="hidden" name="order_title" value="<?=$model['CUSTOMER']['DATA']['Title'];?>"/>
            </td>
        </tr>
        <tr>
            <td class="cell04">Email to deliver paper</td>
            <td class="cell04a">
                <span><?=$model['CUSTOMER']['DATA']['Email'];?></span>
                <input type="hidden" name="order_email" value="<?=$model['CUSTOMER']['DATA']['Email'];?>"/>
            </td>
        </tr>
        <tr>
            <td class="cell04">Your IM</td>
            <td class="cell04a">
                <span><?=$model['CUSTOMER']['DATA']['IM'];?></span>
                <input type="hidden" name="order_im" value="<?=$model['CUSTOMER']['DATA']['IM'];?>"/>
            </td>
        </tr>
        <tr>
            <td class="cell04">Number of pages</td>
            <td class="cell04a">
                <span><?=$model['CUSTOMER']['DATA']['Pages'];?></span>
                <input type="hidden" name="order_pages" value="<?=$model['CUSTOMER']['DATA']['Pages'];?>"/>
            </td>
        </tr>
        <tr>
            <td class="cell04">Price Type</td>
            <td class="cell04a">
                <span><?=$model['CUSTOMER']['DATA_PRICE']['Name'];?></span>
                <input type="hidden" name="order_price" value="<?=$model['CUSTOMER']['DATA']['PriceID'];?>"/>
            </td>
        </tr>
        <tr>
            <td class="cell04">Academic level</td>
            <td class="cell04a">
                <span><?=$model['CUSTOMER']['DATA']['Level'];?></span>
                <input type="hidden" name="order_level" value="<?=$model['CUSTOMER']['DATA']['Level'];?>"/>
            </td>
        </tr>
        <tr>
            <td class="cell04">Paper format</td>
            <td class="cell04a">
                <span><?=$model['CUSTOMER']['DATA']['Format'];?></span>
                <input type="hidden" name="order_format" value="<?=$model['CUSTOMER']['DATA']['Format'];?>"/>
            </td>
        </tr>
        <tr>
            <td class="cell04">Number of sources</td>
            <td class="cell04a">
                <span><?=$model['CUSTOMER']['DATA']['UseSources'];?></span>
                <input type="hidden" name="order_sources" value="<?=$model['CUSTOMER']['DATA']['UseSources'];?>"/>
                <ul>
                <?php if (!empty($model['CUSTOMER']['DATA']['SourceLinks'])) foreach ($model['CUSTOMER']['DATA']['SourceLinks'] as $link) { if (empty($link)) continue; ?>
                    <li>
                    <a href="<?=$link;?>" target="blank"><?=basename($link);?></a>
                    <input type="hidden" name="order_source_links[]" value="<?=$link;?>"/>
                    </li>
                <?php } ?>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="cell04">Additional files</td>
            <td class="cell04a">
                <div id="MPWSFileUploadSection">
                    <noscript>Please enable JavaScript for file upload widget</noscript>
                </div>
                <script>
                    // file upload
                    new mpws.ui.fileUpload({realm: 'eafile',files:<?=$model['CUSTOMER']['UPLOADS']['JSON']?>,showUploadsOnly: true});
                </script>
            </td>
        </tr>
        <tr>
            <td class="cell04">Delivery date</td>
            <td class="cell04a">
                <span><?=$model['CUSTOMER']['DATA']['DateDeadline'];?></span>
                <input type="hidden" name="order_datedeadline" value="<?=$model['CUSTOMER']['DATA']['DateDeadline'];?>"/>
            </td>
        </tr>
        <tr>
            <td class="cell04">Your Time Zone</td>
            <td class="cell04a">
                <span>
                <?php
                    foreach($model['CUSTOMER']['TIME_TZ'] as $e) {
                        if ($model['CUSTOMER']['DATA']['TimeZone'] == $e['key'])
                            echo $e['title'];
                    }
                ?>
                </span>
                <input type="hidden" name="order_timezone" value="<?=$model['CUSTOMER']['DATA']['TimeZone'];?>"/>
            </td>
        </tr>
        <tr>
            <td class="cell04">Total Cost</td>
            <td class="cell04a">
                <?=$model['CUSTOMER']['DATA_PRICE']['Price']*$model['CUSTOMER']['DATA']['Pages'];?>
            </td>
        </tr>
        </table>
        
        <table cellpadding="5" cellspacing="0" border="0" width="100%">
        <tr>
            <td class="cell01">Paper instructions</td>
        </tr>
        <tr>
            <td class="cell05" align="right">
            <p>
                <?=$model['CUSTOMER']['DATA']['Description'];?>
                <input type="hidden" name="order_notes" value="<?=$model['CUSTOMER']['DATA']['Description'];?>"/>
            </p>
            </td>
        </tr>
        </table>
        <center>
            <input type="hidden" name="session_key" value="<?=$model['CUSTOMER']['DATA_SESSION'];?>"/>
            <input type="submit" name="do" value="Edit"/>
            <input type="submit" name="do" value="Checkout"/>
        </center>
        </form>
    </div>
</div>