Thank You!
Please check your email to activate your account!

<form action='https://www.2checkout.com/checkout/purchase' method='post'>
	<p>
	    <input type='hidden' name='sid' value='1799160'>
	    <input type='hidden' name='quantity' value='1'>
	    <input type='hidden' name='product_id' value='1'>
            <input type="hidden" name="merchant_order_id" value="<?=$model['CUSTOMER']['DATA_TOKEN'];?>"/>
            <input type="hidden" name="email" value="<?=$model['CUSTOMER']['DATA_EMAIL'];?>"/>
	    <input name='submit' type='submit' value='Buy from 2CO' >
	</p>
</form>
<p>2CheckOut.com Inc. (Ohio, USA) is an authorized retailer for goods and services provided by demo company.</p>