<div>
    
<form action="/page/make-order.html" method="POST"> 
    
    
    <div class="MPWSSection">
        <label>Document Type</label>
        <span><?=$model['CUSTOMER']['DATA_DOC']['Name'];?></span>
        <input type="hidden" name="order_doc" value="<?=$model['CUSTOMER']['DATA']['DocumentID'];?>"/>
    </div>
    <div class="MPWSSection">
        <label>Subject</label>
        <span><?=$model['CUSTOMER']['DATA_SUBJECT']['Name'];?></span>
        <input type="hidden" name="order_subject" value="<?=$model['CUSTOMER']['DATA']['SubjectID'];?>"/>
    </div>
    
    <div class="MPWSSection">
        <label>Title</label>
        <span><?=$model['CUSTOMER']['DATA']['Title'];?></span>
        <input type="hidden" name="order_title" value="<?=$model['CUSTOMER']['DATA']['Title'];?>"/>
    </div>
    
    <div class="MPWSSection">
        <label>Email to deliver paper</label>
        <span><?=$model['CUSTOMER']['DATA']['Email'];?></span>
        <input type="hidden" name="order_email" value="<?=$model['CUSTOMER']['DATA']['Email'];?>"/>
    </div>
    
    <div class="MPWSSection">
        <label>Number of pages</label>
        <span><?=$model['CUSTOMER']['DATA']['Pages'];?></span>
        <input type="hidden" name="order_pages" value="<?=$model['CUSTOMER']['DATA']['Pages'];?>"/>
    </div>
    <div class="MPWSSection">
        <label>Price Type</label>
        <span><?=$model['CUSTOMER']['DATA_PRICE']['Name'];?></span>
        <input type="hidden" name="order_price" value="<?=$model['CUSTOMER']['DATA']['PriceID'];?>"/>
    </div>
    
    <div class="MPWSSection">
        <label>Academic level</label>
        <span><?=$model['CUSTOMER']['DATA']['Level'];?></span>
        <input type="hidden" name="order_level" value="<?=$model['CUSTOMER']['DATA']['Level'];?>"/>
    </div>
    
    <div class="MPWSSection">
        <label>Paper format</label>
        <span><?=$model['CUSTOMER']['DATA']['Format'];?></span>
        <input type="hidden" name="order_format" value="<?=$model['CUSTOMER']['DATA']['Format'];?>"/>
    </div>

    <div class="MPWSSection">
        <label>Number of sources</label>
        <span><?=$model['CUSTOMER']['DATA']['Sources'];?></span>
        <input type="hidden" name="order_sources" value="<?=$model['CUSTOMER']['DATA']['Sources'];?>"/>
    </div>

    <div class="MPWSSection">
        <label>Sources</label>
        <ul>
        <?php if (!empty($model['CUSTOMER']['DATA']['SourceLinks'])) foreach ($model['CUSTOMER']['DATA']['SourceLinks'] as $link) : ?>
            <li>
            <a href="<?=$link;?>" target="blank"><?=basename($link);?></a>
            <input type="hidden" name="order_source_links[]" value="<?=$link;?>"/>
            </li>
        <?php endforeach ?>
        </ul>
    </div>
    
    <div class="MPWSSection">
        <label>Paper instructions</label>
        <textarea name="order_notes"><?=$model['CUSTOMER']['DATA']['Description'];?></textarea>
    </div>
    
    <div class="MPWSSection">
        <label>Delivery date</label>
        <span><?=$model['CUSTOMER']['DATA']['DateDeadline'];?></span>
        <input type="hidden" name="order_datedeadline" value="<?=$model['CUSTOMER']['DATA']['DateDeadline'];?>"/>
    </div>
    
    <div class="MPWSSection">
        <label>Your Time Zone</label>
        <span><?=$model['CUSTOMER']['DATA_TIMEZONE']['Title'];?></span>
        <input type="hidden" name="order_timezone" value="<?=$model['CUSTOMER']['DATA']['TimeZone'];?>"/>
    </div>
    
    <p class="MPWSAdditionalActions">
        <div class="MPWSSection">
            <label>Total cost</label>
            <span><?=$model['CUSTOMER']['DATA_PRICE']['Price']*$model['CUSTOMER']['DATA']['Pages'];?></span>
        </div>
    </p>

    <input type="hidden" name="session_key" value="<?=$model['CUSTOMER']['DATA_SESSION'];?>"/>
    <input type="submit" name="do" value="Edit"/>
    <input type="submit" name="do" value="Checkout"/>
</form>
    
    
</div>
