<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf8"/>
    <meta http-equiv="description" content="<?=$model['CONFIG']['DISPLAY']['DESCRIPTION'];?>"/>
    <meta http-equiv="keywords" content="<?=$model['CONFIG']['DISPLAY']['KEYWORDS'];?>"/>
    <title><?=$model['CONFIG']['DISPLAY']['TITLE'];?></title>
    <meta name="description" content="<?=$model['CONFIG']['DISPLAY']['DESCRIPTION'];?>"/>
    <meta name="keywords" content="<?=$model['CONFIG']['DISPLAY']['KEYWORDS'];?>"/>
    <link rel="stylesheet" type="text/css" href="/static/mpwsDisplay.css">
    <script type="text/javascript" src="/static/mpwsAction.js"></script>
    <script type="text/javascript">
        // security token
        mpws.token = '<?=libraryRequest::getOrValidatePageSecurityToken();?>';
    </script>
    <meta name="robots" content="index, follow">
    <meta name="revisit" content="7 days">
    <meta name="revisit-after" content="7 days">
</head>
<body class="MPWSPage">
    <div>
        
        <h1>Personal Page Layout</h1>
        
        <form action="" method="POST">
            <div>Welcome: <?=$model['USER']['NAME'];?><div>
            <input type="submit" name="do" value="Logout">
        </form>
        
        <?php if (!empty($model['CUSTOMER']['MESSAGES'])) : ?>
        <div class="MPWSComponent MPWSComponenContentMessages">
            <h4>System Messages:</h4>
            <ul>
            <?php foreach ($model['CUSTOMER']['MESSAGES'] as $msg) echo '<li>' . $msg . '</li>'; ?>
            </ul>
        </div>
        <?php endif ?>
    
        <?=$model['HTML']['COMPONENT']['MENU_MAIN'];?>
        <?=$model['HTML']['COMPONENT']['MENU_ACCOUNT'];?>
        
    
    
    <hr size="5"/>
    
    <?=$model['HTML']['CONTENT'];?>
    
    
    
    </div>
</body>
</html>