<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?=$model['CONFIG']['DISPLAY']['TITLE'];?></title>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet/less" type="text/css" href="/static/mpwsStyle.css">
<script src="/static/mpwsLight.js" type="text/javascript"></script>
<?php if ($model['MODE'] === 'LIVEEDIT') : ?>
<link rel="stylesheet" type="text/css" href="/static/mpwsEdit.css">
<script src="/static/mpwsEditable.js" type="text/javascript"></script>
<?php endif ?>
<!-- PNG FIX for IE6 -->
<!-- http://24ways.org/2007/supersleight-transparent-png-in-ie6 -->
<!--[if lte IE 6]>
    <script type="text/javascript" src="/static/mpwsActionIE6.js"></script>
<![endif]-->
<script type="text/javascript">
    // security token
    mpws.token = '<?=libraryRequest::getOrValidatePageSecurityToken();?>';
    // page
    mpws.page = '<?=libraryRequest::getPage();?>';
</script>
</head>
<body>

<?php if ($model['MODE'] === 'LIVEEDIT') : ?>
<form method="POST" action="">
<div class="MPWSTopSlider">
    <img src="/static/mpws-log_mini_eee.png">
    <div id="MPWSEditPanelID"></div>
    <div class="MPWSButtonBlock">
        <input type="submit" name="do" value="Save Changes">
        <input type="submit" name="do" value="Exit Editor">
    </div>
</div>
<?php endif ?>
    
    
<div id="header">
    <?php if ($model['MODE'] !== 'LIVEEDIT') : ?>
    <div id="top_menu_wrapper">
        <div class="top_menu_base">
        <?php if($model['USER']['ACTIVE']) : ?>
            <div class="top_menu_base_wrapper">
            <?=$model['HTML']['COMPONENT']['MENU_ACCOUNT'];?>
            </div>
            <form action="/page/account.html" method="POST">
                <div>Welcome: <?=$model['USER']['NAME'];?></div>
                <div>You are signed is as: <?=$model['USER']['TYPE'];?></div>
                <input type="submit" name="do" value="Logout">
            </form>
        <?php else : ?>
        <form action="/page/account.html" method="post" style="margin-bottom:30px;">
        <table cellpadding="5" cellspacing="0" border="0" width="50%" align="center">
        <tr>
        <td class="cell02">Username</td>
        <td class="cell02"><input type="text" name="user_login" value="" /></td>
        </tr>
        <tr>
        <td class="cell02">Password</td>
        <td class="cell02"><input type="password" name="user_pwd" value="" /></td>
        </tr>
        <tr>
        <td colspan="2" align="center"><input name="do" type="submit" value="Log In" /></td>
        </tr>
        </table>
        </form>
        <?php endif ?>
        </div>
        <div class="top_menu_button">
        <?php if($model['USER']['ACTIVE']) : ?>
            Welcome: <?=$model['USER']['NAME'];?>
        <?php else : ?>
            Please Login
        <?php endif ?>
        </div>
    </div>
    <?php endif ?>
    
    <div id="contacts">
        <a href="<?=$model['CONFIG']['MAIL']['IM']['SKYPE'];?>">
            <img src="/static/contacts_skype.png" />
            <img src="/static/currently_online.png" style="left:100%;top:-5px;" />
            Talk to TeamLead
        </a>
        <a href="mailto:<?=$model['CONFIG']['MAIL']['SUPPORT']['EMAIL'];?>">
            <img src="/static/contacts_mail.png" />
            Send us eMail
        </a>
        <a href="#">
            <img src="/static/contacts_phone.png" />
            Call Us
        </a>
    </div>
</div>

<div id="menu">
    <?=$model['HTML']['COMPONENT']['MENU_MAIN'];?>
</div>

<?=$model['HTML']['CONTENT'];?>

<div id="guarantee">
    <a href="#"><img src="/static/guarantee01.jpg" /></a>
    <a href="#"><img src="/static/guarantee02.jpg" /></a>
    <a href="#"><img src="/static/guarantee03.jpg" /></a>
</div>

<div id="footer">
    <div class="footerMenu">
        <?=$model['HTML']['COMPONENT']['MENU_FOOTER'];?>
    </div>
</div>


<?php if ($model['MODE'] === 'LIVEEDIT') : ?>
<script>
//mpws.tools.log('go live edit');
editable.goLiveEdit();
</script>
</form>
<? endif ?>

</body>
</html>
