<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><?=$model['CONFIG']['DISPLAY']['TITLE'];?></title>
<meta name="description" content="essay-about.com is a custom essay writing service offering essays,research papers, term papers, book reports and dissertations on various themes to help students with their individual writing goals. Customized research paper writing services hence offer expert aid in generating your personal essays, book reports and term papers by delivering an original view on your theme, more comprehensive research, etc." />
<meta name="keywords" content="essay, custom essay, free essay, writing, write essay, paper, writers, order, low prices, term paper, coursework, research paper, book report, observation report, thesis, dissertation, discount, urgent essay" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet/less" type="text/css" href="/static/mpwsStyle.css"/>
<script src="/static/mpwsLight.js" type="text/javascript"></script>
<?php if ($model['MODE'] === 'LIVEEDIT') : ?>
<script src="/static/mpwsEditable.js" type="text/javascript"></script>
<?php endif ?>
<!-- PNG FIX for IE6 -->
<!-- http://24ways.org/2007/supersleight-transparent-png-in-ie6 -->
<!--[if lte IE 6]>
    <script type="text/javascript" src="/static/mpwsActionIE6.js"></script>
<![endif]-->
<script type="text/javascript">
    // security token
    mpws.token = '<?=libraryRequest::getOrValidatePageSecurityToken();?>';
    // page
    mpws.page = '<?=libraryRequest::getPage();?>';
</script>
</head>
<body class="MPWSPage_<?=ucfirst(libraryRequest::getPage('home'));?>">

<noscript><h2>Please enable JavaScript to switch the site in fully functional mode</h2></noscript>
                
<div id="header">
    <div id="top_menu_wrapper">
        <?php if($model['USER']['ACTIVE']) : ?>
        <div class="top_menu_base logged">
            <div class="loggout"> 
                <form action="/page/account.html" method="POST">
                    <div class="MPWSMessage MPWSMessageWelcome">Welcome: <?=$model['USER']['NAME'];?></div>
                    <?php if(!empty($model['NOTIFY']['NEW']['COUNT'])) : ?>
                        <div class="MPWSMessage MPWSMessageNotify MPWSMessageNotifyNew">You have <?=$model['NOTIFY']['NEW']['COUNT'];?> new order(s).</div>
                    <?php endif ?>
                    <?php if(!empty($model['NOTIFY']['REWORK']['COUNT'])) : ?>
                        <div class="MPWSMessage MPWSMessageNotify MPWSMessageNotifyRework">You have <?=$model['NOTIFY']['REWORK']['COUNT'];?> order(s) to rework.</div>
                    <?php endif ?>
                    <?php if(!empty($model['NOTIFY']['PENDING']['COUNT'])) : ?>
                        <div class="MPWSMessage MPWSMessageNotify MPWSMessageNotifyPending">You have <?=$model['NOTIFY']['PENDING']['COUNT'];?> order(s) to review.</div>
                    <?php endif ?>
                    <div class="MPWSMessage MPWSMessageNote">Please do not forget to do log out before you leave your account page.</div>
                    <input type="submit" name="do" value="Logout">
                </form>
            </div>
            <div class="top_menu_base_wrapper">
                <?=$model['HTML']['COMPONENT']['MENU_ACCOUNT'];?>
            </div>
        </div>
        <?php else : ?>
        <div class="top_menu_base">
            <form action="/page/account.html" method="post" style="margin-bottom:30px;">
                <table cellpadding="5" cellspacing="0" border="0" width="50%" align="center">
                    <tr>
                        <td class="cell02">Username</td>
                        <td class="cell02"><input type="text" name="user_login" value="" /></td>
                    </tr>
                    <tr>
                        <td class="cell02">Password</td>
                        <td class="cell02"><input type="password" name="user_pwd" value="" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><input name="do" type="submit" value="Log In" /></td>
                    </tr>
                </table>
            </form>
        </div>
        <?php endif ?>
        <div class="top_menu_button" title="My Writing Desk">
            <?php if($model['USER']['ACTIVE']) : ?>
                Welcome: <?=$model['USER']['NAME'];?>
            <?php else : ?>
                My Writing Desk
            <?php endif ?>
        </div>
    </div>
    
    <div id="contacts">
        <a href="<?=$model['CONFIG']['MAIL']['IM']['SKYPE'];?>">
            <img src="/static/contacts_skype.png" alt="Skype Us"/>
            <div class="MPWSOnlineName"><span>&nbsp;</span></div>
            Talk to TeamLead
        </a>
        <a href="mailto:<?=$model['CONFIG']['MAIL']['SUPPORT']['EMAIL'];?>">
            <img src="/static/contacts_mail.png" alt="Email Us"/>
            Send us eMail
        </a>
        <a href="<?=$model['CONFIG']['MAIL']['IM']['SKYPE_PHONE'];?>">
            <img src="/static/contacts_phone.png" alt="Phone Us"/>
            Call Us
        </a>
        <span class="phoneNumber" alt="phone">+1-214-884-8035</span>
    </div>
</div>

<div id="menu">
    <?=$model['HTML']['COMPONENT']['MENU_MAIN'];?>
</div>

<?=$model['HTML']['CONTENT'];?>

<div id="guarantee">
    <a href="#"><img src="/static/guarantee01.jpg" alt="Guarantee Money Back"/></a>
    <a href="#"><img src="/static/guarantee02.jpg" alt="Guarantee Satisfaction"/></a>
    <a href="#"><img src="/static/guarantee03.jpg" alt="Guarantee Confidentiality"/></a>
</div>

<div id="footer">
    <div class="footerMenu">
        <?=$model['HTML']['COMPONENT']['MENU_FOOTER'];?>
    </div>
</div>

</body>
</html>
