<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Easy-Essay.com</title>
<link rel="stylesheet/less" type="text/css" href="/static/public/start.css">
    <!-- PNG FIX for IE6 -->
    <!-- http://24ways.org/2007/supersleight-transparent-png-in-ie6 -->
    <!--[if lte IE 6]>
        <script type="text/javascript" src="/static/public/supersleight-min.js"></script>
    <![endif]-->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/static/public/less.js" type="text/javascript"></script>
<script src="/static/public/slide.js" type="text/javascript"></script>
</head>
<body>
<div id="header">
    <div id="top_menu_wrapper">
        <div class="top_menu_base">
        <?php if($model['USER']['ACTIVE']) : ?>
            <?=$model['HTML']['COMPONENT']['MENU_ACCOUNT'];?>
            <form action="/page/account.html" method="POST">
                <div>Welcome: <?=$model['USER']['NAME'];?></div>
                <div>You are signed is as: <?=$model['USER']['TYPE'];?></div>
                <input type="submit" name="do" value="Logout">
            </form>
        <?php else : ?>
            <form action="/page/account.html" method="POST">
                <input type="text" name="user_login" value="" placeholder="login"/>
                <div></div>
                <input type="password" name="user_pwd" value="" placeholder="pwd"/>
                <div></div>
                <input type="submit" name="do" value="Log In">
            </form>
        <?php endif ?>
        </div>
        <div class="top_menu_button">
        <?php if($model['USER']['ACTIVE']) : ?>
            Welcome: <?=$model['USER']['NAME'];?>
        <?php else : ?>
            Please Login
        <?php endif ?>
        </div>
    </div>
    
    <div id="contacts">
        <a href="#">
            <img src="/static/contacts_skype.png" />
            <img src="/static/currently_online.png" style="left:100%;top:-5px;" />
            Talk to TeamLead
        </a>
        <a href="#">
            <img src="/static/contacts_mail.png" />
            Send us eMail
        </a>
        <a href="#">
            <img src="/static/contacts_phone.png" />
            Call Us
        </a>
    </div>
</div>

<div id="menu">
    <?=$model['HTML']['COMPONENT']['MENU_MAIN'];?>
</div>

<?=$model['HTML']['CONTENT'];?>

<div id="guarantee">
    <a href="#"><img src="/static/guarantee01.jpg" /></a>
    <a href="#"><img src="/static/guarantee02.jpg" /></a>
    <a href="#"><img src="/static/guarantee03.jpg" /></a>
</div>

<div id="footer">
    <div class="footerMenu">
        <?=$model['HTML']['COMPONENT']['MENU_FOOTER'];?>
    </div>
</div>

</body>
</html>
