/* SIMPLE */
<span class="MPWSText"></span>
<div class="MPWSSpacer"></div>
<label class="MPWSLabel"></label>
<ul class="MPWSList">
    <li class="MPWSListItem"></li>
</ul>
<div class="MPWSComponent"></div>
<div class="MPWSWidget"></div>
<div class="MPWSBlock"></div>

/* CONTROLS */
<input type="submit" class="MPWSControl"/>
<input type="text" class="MPWSControl"/>
<input type="password" class="MPWSControl"/>
<input type="checkbox" class="MPWSControl"/>
<input type="hidden" class="MPWSControl"/>
<select class="MPWSControl">
    <option></option>
</select>
<textarea class="MPWSControl"></textarea>
<button class="MPWSControl"></button>

/* FORM */
<form class="MPWSForm">
    <div class="MPWSFormHeader"></div>
    <div class="MPWSFormBody"></div>
    <div class="MPWSFormFoter"></div>
</form>

/* COMPONENTS */
<div class="MPWSComponent">
    <div class="MPWSBlock"></div>
</div>

/* BLOCKS */
<div class="MPWSBlock">
    /* simple elements must be here */
</div>

/* SPECIAL BLOCKS */
<div class="MPWSBlockControl">
    <label class="MPWSLabel"></label>
    <input type="text" class="MPWSControl"/>
</div>
<div class="MPWSBlockDataRow">
    <span class="MPWSText"></span>
    <span class="MPWSValue"></span>
</div>