*.log
/DemoNB/nbproject/private/
/mpws/nbproject/private/
/mpws/data/bin/
secure
*.csv
*.dat
*.cache.php
unused
deprecated
css/
node_modules/
build/
old/
mpws.sublime-project
mpws.sublime-workspace
uploads/