Options +FollowSymLinks
RewriteEngine On
RewriteBase /
DirectoryIndex /engine/controllers/display.php

# SEO
RewriteRule ^sitemap\.xml /engine/controllers/sitemap.php [L]
# RewriteRule ^\?_escaped_fragment_=(.*)$ /engine/controllers/snapshot.php?params=$1 [L]
# RequestHeader set Host "api.seo4ajax.com"
### If a bot requests an escaped URL then proxify the request to SEO4Ajax
#RewriteCond %{QUERY_STRING} ^_escaped_fragment_=(.*)$ [NC]
#RewriteRule ^(.*?)_escaped_fragment_=(.*)$ /engine/controllers/snapshot.php?params=$1 [QSA,L]
RewriteCond %{QUERY_STRING} ^_escaped_fragment_= [NC]
RewriteRule ^(.*)$ /engine/controllers/snapshot.php?$1 [QSA,L]

# STATIC:
RewriteRule ^static/customers/(.*)/nls/(.*) /engine/controllers/nls.php?customer=$1&lang=$2 [L]
RewriteRule ^static/(.*) /web/$1 [L]

# API
#RewriteRule ^api\.js?(.*) /engine/controllers/api.php?$1 [QSA,L]
#RewriteRule ^auth\.js?(.*) /engine/controllers/auth.php?$1 [QSA,L]
#RewriteRule ^upload/?(.*) /engine/controllers/upload.php?$1 [QSA,L]
#RewriteRule ^background/?(.*) /engine/controllers/background.php?$1 [QSA,L]

# NEW API
#RewriteRule ^static/(.*) /resources/$1 [QSA,L]
RewriteRule ^api/(\w+)/(\w+)/(.*)? /engine/controllers/api.php?api=$1:$2&params=$3 [QSA,L]
RewriteRule ^api/(\w+)/(\w+) /engine/controllers/api.php?api=$1:$2 [QSA,L]
RewriteRule ^api/(\w+)/(\w+)/ /engine/controllers/api.php?api=$1:$2 [QSA,L]
RewriteRule ^upload/$ /engine/controllers/upload.php [QSA,L]
