{* SIMPLE: label *}
{* 
    @required:
    _action

    @optional:
    _ownerName
    _renderMode
    _mode
    _target
    _oid
    _href
    
*}

{$controlLinkHref = $_href|default:''}
{$controlLinkTarget = $_target|default:''}
{$_resourceOwner=$_resourceOwner|default:'control'}
{$controlLinkTitle = $_useValueAsTitle|default:$CURRENT.OBJECT->{"objectProperty_`$_resourceOwner`_controlActionLinkTitle`$_controlOwner``$_action|upper`"}}
{$mpwsParams = $_mpwsParams|default:false}
{$customParams = $_customParams|default:false}

{$controlLinkAttr = ["id=\"MPWSActionLink_`$_action`ID\""]}
{if not empty($_action)}
    {$controlLinkAttr[]="mpws-fn=\"`$_action`\""}
{/if}
{if not empty($_oid)}
    {$controlLinkAttr[]="mpws-oid=\"`$_oid`\""}
{/if}
{if not empty($controlLinkTarget) }
    {$controlLinkAttr[]="target=\"`$controlLinkTarget`\""}
{/if}
{* mpws attributes *}
{if not empty($mpwsParams)}
    {foreach $mpwsParams as $_p => $_pk}
        {$controlLinkAttr[]="mpws-`$_p`=\"`$_pk`\""}
    {/foreach}
{/if}
{* custom attributes *}
{if not empty($customParams)}
    {$_customLinkAttrString=[]}
    {foreach $customParams as $_p => $_pk}
        {$_customLinkAttrString[]="`$_p`=`$_pk`"}
    {/foreach}
    {$controlLinkAttr[]="mpws-custom=\"{urlencode(implode('&',$_customLinkAttrString))}\""}
{/if}
        
{if empty($controlLinkHref)}
    {if not isset($_mode) or $_mode eq 'normal'}

        {$_linkActions=[]}
        {if empty($controlLinkHref)}
            {$controlLinkHref = '#'}
        {/if}
        {if isset($_action)}
            {$_linkActions[]="action=`$_action|lower`"}
        {/if}
        {if not empty($_oid)}
            {$_linkActions[]="oid=`$_oid`"}
        {/if}

        {$_linkAction=implode('&amp;', $_linkActions)}
        {$controlLinkHref="`$controlLinkHref`?`$_linkAction`"}

    {elseif $_mode eq 'system'}

        {* add standart *}
        {if $CURRENT.OBJECT->isObjectTypeEquals(OBJECT_T_PLUGIN)}
            {$_linkActions[]="plugin=`$CURRENT.OBJECT->getObjectName()|lower`"}
        {/if}
        {if not empty($INFO.GET.DISPLAY)}
            {$_linkActions[]="display=`$INFO.GET.DISPLAY|lower`"}
        {/if}
        {$_linkActions[]="action=`$_action|lower`"}

        {* add oid *}
        {if not empty($_oid)}
            {$_linkActions[]="oid=`$_oid`"}
        {/if}

        {* custom params *}
        {if not empty($customParams)}
            {foreach $customParams as $_p => $_pk}
                {$_linkActions[]="`$_p`=`$_pk`"}
            {/foreach}
        {/if}
            
        {* get action link *}
        {$_linkAction=implode('&amp;', $_linkActions)}
        {$controlLinkHref="`$CURRENT.OBJECT->objectConfiguration_object_menuExecObjectPath`?`$_linkAction`"}

    {else}
        {include file=$CURRENT.OBJECT->objectTemplatePath_component_exception _message="Wrong action link mode" _tpl=$smarty.template}
    {/if}
{/if}

{include file=$CURRENT.OBJECT->objectTemplatePath_simple_link _href=$controlLinkHref _target=$controlLinkTarget _attr=$controlLinkAttr _title=$controlLinkTitle}