{* default control attribute values *}
{$_controlCssName = 'FormButtons'}
{$_controlPage = ''}
{if isset($_page)}
    {$_controlPage = $_page|capitalize}
{/if}
{* control implemetation *}
<div class="MPWSControlField MPWSControlField{$_controlCssName}">
    {foreach $_buttons as $_button}
        <button id="MPWSControl{$_controlCssName}{$_button}ID" type="submit" name="do" value="{$_button}" class="MPWSControl MPWSControlButton{$_button}">
            {$CURRENT.OBJECT->{"objectProperty_component_formPage`$_controlPage`Button`$_button`"}}
        </button>
    {/foreach}
</div>