<!-- Main -->
<div class="row">
    <div class="col-md-3">
        <div class="panel-group toolbox-menu" id="toolbox-menu-ID"></div>
    </div>
    <div class="col-md-9 toolbox-page" id="toolbox-page-ID"></div>
</div>
<!-- /Main -->