<!-- Main -->
<div class="row">
    <div class="col-md-3">
        <div class="panel-group toolbox-menu" id="toolbox-menu-ID"></div>
    </div><!-- /col-3 -->
    <div class="col-md-9 toolbox-page" id="toolbox-page-top-ID"></div><!--/col-span-9-->
    <div class="col-md-9 toolbox-page" id="toolbox-page-center-ID"></div><!--/col-span-9-->
    <div class="col-md-9 toolbox-page" id="toolbox-page-bottom-ID"></div><!--/col-span-9-->
</div>
<!-- /Main -->