<form class="form form-horizontal">
  <fieldset>

  <!-- Form Name -->
  <legend>Toolbox Access</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Login</label>
    <div class="col-md-4">
    <input id="signinEmail" type="text" class="form-control input-md">
      
    </div>
  </div>

  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="passwordinput">Password</label>
    <div class="col-md-4">
      <input id="signinPassword" type="password" class="form-control input-md">
      
    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="singlebutton"></label>
    <div class="col-md-4">
      <button class="btn btn-primary">Sign in</button>
    </div>
  </div>

  </fieldset>
</form>