<div id="top-banner-and-menu">
    <div class="container">
        <div class="col-xs-12 col-sm-4 col-md-3 sidemenu-holder">
            <!-- ========== TOP NAVIGATION ========== -->
            <div class="side-menu animate-dropdown">
                <div class="head"><i class="fa fa-fw fa-list"></i>Всі категорії</div>
                <nav class="yamm megamenu-horizontal" role="navigation">
                    <div class="mpws-js-catalog-tree"></div>
                </nav><!-- /.megamenu-horizontal -->
            </div><!-- /.side-menu -->
            <!-- ========== TOP NAVIGATION : END ========== -->
        </div><!-- /.sidemenu-holder -->

        <div class="col-xs-12 col-sm-8 col-md-9 homebanner-holder hidden">
        

            <!-- ========== SECTION – HERO ========== -->
            <div id="hero">
                <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm owl-theme" style="opacity: 1; display: block;">
                    
                    <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 3592px; left: -386.11755px; display: block;"><div class="owl-item" style="width: 898px;"><div class="item" style="background-image: url(assets/images/sliders/slider01.jpg);">
                        <div class="container-fluid">
                            <div class="caption vertical-center text-left">
                                <div class="big-text fadeInDown-1" style="opacity: 1; top: 0px;">
                                    Save up to a<span class="big"><span class="sign">$</span>400</span>
                                </div>

                                <div class="excerpt fadeInDown-2" style="opacity: 1; top: 0px;">
                                    on selected laptops<br>
                                    &amp; desktop pcs or<br>
                                    smartphones
                                </div>
                                <div class="small fadeInDown-2" style="opacity: 1; top: 0px;">
                                    terms and conditions apply
                                </div>
                                <div class="button-holder fadeInDown-3" style="opacity: 1; top: 0px;">
                                    <a href="index.php?page=single-product" class="big le-button ">shop now</a>
                                </div>
                            </div><!-- /.caption -->
                        </div><!-- /.container-fluid -->
                    </div></div><div class="owl-item active" style="width: 898px;"><div class="item" style="background-image: url(assets/images/sliders/slider03.jpg);">
                        <div class="container-fluid">
                            <div class="caption vertical-center text-left">
                                <div class="big-text fadeInDown-1" style="opacity: 0; top: -15px;">
                                    Want a<span class="big"><span class="sign">$</span>200</span>Discount?
                                </div>

                                <div class="excerpt fadeInDown-2" style="opacity: 0; top: -15px;">
                                    on selected <br>desktop pcs<br>
                                </div>
                                <div class="small fadeInDown-2" style="opacity: 0; top: -15px;">
                                    terms and conditions apply
                                </div>
                                <div class="button-holder fadeInDown-3" style="opacity: 0; top: -15px;">
                                    <a href="index.php?page=single-product" class="big le-button ">shop now</a>
                                </div>
                            </div><!-- /.caption -->
                        </div><!-- /.container-fluid -->
                    </div></div></div></div><!-- /.item -->

                    <!-- /.item -->

                <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-chevron-left"></i></div><div class="owl-next"><i class="fa fa-chevron-right"></i></div></div></div></div><!-- /.owl-carousel -->
            </div>
            <!-- ========== SECTION – HERO : END ========== -->


        </div><!-- /.homebanner-holder -->
    </div><!-- /.container -->
</div>