<main id="faq" class="inner">
    <div class="container">
        <div class="row">
            <div class="col-md-8 center-block">
                <div class="info-404 text-center">
                    <h2 class="primary-color inner-bottom-xs">404</h2>
                    <p class="lead">Нажаль такої сторінки не існує.</p>
                    <div class="sub-form-row inner-top-xs inner-bottom-xs">
                        <form role="form">
                            <input placeholder="Пошук у каталозі" autocomplete="off">
                            <button class="le-button">шукати</button>
                        </form>
                    </div>
                    <div class="text-center">
                        <a href="/" class="btn-lg huge"><i class="fa fa-fw fa-home"></i>Назад, на головну</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>