<div class="main-content" id="main-content">
    <div class="row">
        <div class="col-lg-10 center-block page-wishlist style-cart-page inner-bottom-xs">

            <div class="inner-xs">
                <div class="page-header">
                    <h2 class="page-title">Мій список бажань</h2>
                </div>
            </div><!-- /.section-page-title -->

            <div class="items-holder mpws-js-products-wishlist">
            </div><!-- /.items-holder -->

        </div><!-- .large-->
    </div><!-- .row-->  
</div>