<section id="recently-reviewd" class="wow fadeInUp animated">
    <div class="container">
        <div class="carousel-holder">
            
            <div class="title-nav">
                <h2 class="h1">Нещодавно переглянуті</h2>
                <div class="nav-holder">
                    <a href="javascript://" class="slider-prev btn-prev fa fa-angle-left"></a>
                    <a href="javascript://" class="slider-next btn-next fa fa-angle-right"></a>
                </div>
            </div><!-- /.title-nav -->

            <div class="owl-carousel" id="owl-recently-viewed">
                <div class="item"><h4>1</h4></div>
                <div class="item"><h4>2</h4></div>
                <div class="item"><h4>3</h4></div>
                <div class="item"><h4>4</h4></div>
                <div class="item"><h4>5</h4></div>
                <div class="item"><h4>6</h4></div>
                <div class="item"><h4>7</h4></div>
                <div class="item"><h4>8</h4></div>
                <div class="item"><h4>9</h4></div>
                <div class="item"><h4>10</h4></div>
                <div class="item"><h4>11</h4></div>
                <div class="item"><h4>12</h4></div>
            </div>

        </div><!-- /.carousel-holder -->
    </div><!-- /.container -->
</section>