<section id="recently-reviewd" class="wow fadeInUp animated">
    <div class="container">
        <div class="carousel-holder">
            
            <div class="title-nav">
                <h2 class="h1">Нещодавно переглянуті</h2>
                <div class="nav-holder">
                    <a href="javascript://" class="slider-prev btn-prev fa fa-angle-left"></a>
                    <a href="javascript://" class="slider-next btn-next fa fa-angle-right"></a>
                </div>
            </div><!-- /.title-nav -->

            <div id="owl-recently-viewed" class="owl-carousel mpws-js-shop-viewed-products product-grid-holder">
            </div>

        </div><!-- /.carousel-holder -->
    </div><!-- /.container -->
</section>