{$_widgetName = "DataRecordRemoval"}
{$_resourceOwner = $_resourceOwner|default:($CURRENT.SOURCE.RESOURCE|default:$_widgetName)}
{assign var="DTV_CFG" value=$CURRENT.OBJECT->{"objectConfiguration_widget_dataRecordRemoval`$CURRENT.SOURCE.NAME`"}}

<div id="MPWSWidget{$_resourceOwner|capitalize}ID" class="MPWSWidget MPWSWidget{$_widgetName} MPWSWidget{$_resourceOwner|capitalize}">
    
    
    {if not $CURRENT.SOURCE.DATA.VALID}
    
        {* show error messages *}
    
        {include file=$CURRENT.OBJECT->objectTemplatePath_component_messageList _messages=$CURRENT.SOURCE.DATA.ERRORS _resourceOwner=$_resourceOwner _controlOwner="`$_widgetName`Validator"}
    
    {else}
    
        {* show content if no errors *}
    
        {if $CURRENT.SOURCE.DATA.PAGE eq 'VIEW'}

        <form action="" method="POST" class="MPWSForm">
            <div class="MPWSFormHeader">
                {include file=$CURRENT.OBJECT->objectTemplatePath_simple_header _title=$CURRENT.SOURCE.DATA.RECORD[$DTV_CFG.caption]}
            </div>
            <div class="MPWSFormBody">
                <input type="hidden" name="mpws_field_session" value="{$CURRENT.SOURCE.DATA.SESSION}"/>
                {foreach $CURRENT.SOURCE.DATA.RECORD as $fieldName => $fieldValue}
                    {include file=$CURRENT.OBJECT->objectTemplatePath_trigger_control _type='mpwsLabelValue' _name=$fieldName _resourceOwner=$_resourceOwner _value=$fieldValue}
                {/foreach}
            </div>
            <div class="MPWSFormFooter">
                {* form controls *}
                {include file=$CURRENT.OBJECT->objectTemplatePath_control_mpwsFormButtons _buttons=['Remove', 'Cancel'] _controlOwner=$_widgetName _resourceOwner='control'}
            </div>
        </form>

        {elseif $CURRENT.SOURCE.DATA.PAGE eq 'REMOVED'}

            {if $DTV_CFG.redirectOnRemove}
                {include file=$CURRENT.OBJECT->objectTemplatePath_trigger_redirect _location=$CURRENT.SOURCE.DATA.REFERER}
            {else}
                {* canceled page *}
                {include file=$CURRENT.OBJECT->objectTemplatePath_simple_text _resourceOwner='display' _key="`$_widgetName`RemovedMain"}
                {include file=$CURRENT.OBJECT->objectTemplatePath_simple_text _resourceOwner='display' _key="`$_widgetName`RemovedSubText"}
            {/if}

        {elseif $CURRENT.SOURCE.DATA.PAGE eq 'CANCELED'}

            {if $DTV_CFG.redirectOnCancel}
                {include file=$CURRENT.OBJECT->objectTemplatePath_trigger_redirect _location=$CURRENT.SOURCE.DATA.REFERER}
            {else}
                {* canceled page *}
                {include file=$CURRENT.OBJECT->objectTemplatePath_simple_text _resourceOwner='display' _key="`$_widgetName`CancelMain"}
                {include file=$CURRENT.OBJECT->objectTemplatePath_simple_text _resourceOwner='display' _key="`$_widgetName`CancelSubText"}
            {/if}

        {/if}
    
    {/if}
    
    {* additional links *}
    <div class="MPWSBlock MPWSBlockDataEditorBottomLinks">
         
        {include file=$CURRENT.OBJECT->objectTemplatePath_trigger_control
            _type='mpwsLinkAction'
            _name='BackToRecords'
            _controlOwner=$_widgetName
            _action='BackToRecords'
            _resourceOwner=$_resourceOwner
            _href=$CURRENT.SOURCE.DATA.REFERER
            _single=true
            _mode='system'}
    </div>
</div>