{* WIDGET dataTableView *}
{* Contains:
	- searchbox
	- filtering
	- datatable
	- pagination
*}

{* Get Configuration For The Widget *}
{$_widgetName = "DataTableView"}
{$_resourceOwner = $_resourceOwner|default:($CURRENT.SOURCE.RESOURCE|default:$_widgetName)}
{assign var="DTV_CFG" value=$CURRENT.OBJECT->{"objectConfiguration_widget_dataTableView`$CURRENT.SOURCE.NAME`"}}

<div id="MPWSWidget{$_resourceOwner|capitalize}ID" class="MPWSWidget MPWSWidget{$_widgetName} MPWSWidget{$_resourceOwner|capitalize}">
    
{include file=$CURRENT.OBJECT->objectTemplatePath_component_title _resourceOwner=$_resourceOwner}

{* data table view *}
{if not empty($DTV_CFG.searchbox) and $DTV_CFG.searchbox.enabled}
    {include file=$CURRENT.OBJECT->objectTemplatePath_component_searchBox _confing=$DTV_CFG _data=$CURRENT.SOURCE.DATA.SEARCH _resourceOwner=$_resourceOwner}
{/if}

{if not empty($DTV_CFG.filtering) and $DTV_CFG.filtering.enabled}
    {include file=$CURRENT.OBJECT->objectTemplatePath_component_quickFiltering _confing=$DTV_CFG _resourceOwner=$_resourceOwner}
{/if}

{if not empty($DTV_CFG.datatable)}
    {include file=$CURRENT.OBJECT->objectTemplatePath_component_dataTable _confing=$DTV_CFG _data=$CURRENT.SOURCE.DATA.SOURCE.RECORDS _resourceOwner=$_resourceOwner}
{/if}

{if not empty($DTV_CFG.pagination) and $DTV_CFG.pagination.enabled}
    {include file=$CURRENT.OBJECT->objectTemplatePath_component_pagingBar _confing=$DTV_CFG _data=$CURRENT.SOURCE.DATA.PAGING}
{/if}

</div>