<div id="content_wrapper">
    <a href="/page/make-order.html" id="order_now"><img src="/static/orderNow.png"/></a>
    <h1>Join Us</h1>
    <div class="content">

        <?php
            if(count($model['CUSTOMER']['MESSAGES'])) {
                echo '<b>We\'ve found some errors in the fields below:</b>';
                echo '<ul>';
                foreach ($model['CUSTOMER']['MESSAGES'] as $msg)
                    echo '<li>' . $msg . '</li>';
                echo '</ul>';
            }
            if ($model['USER']['STATE'] == 'USER_WRONG_CREDENTIALS') {
                echo '<b>We\'ve found some errors in the fields below:</b>';
                echo '<ul>';
                    echo '<li>Sorry, that user login or password does not match our records. Please re-check your entries and try again.</li>';
                echo '</ul>';
            }
            
        ?>

        <?php if ($model['MODE'] !== 'LIVEEDIT') : ?>
        <form action="" method="POST" class="MPWSPageForm MPWSPageRegisterForm">
            <div class="MPWSFormTitle MPWSFormTitle_New">Student Registration</div>
            <input type="text" class="MPWSControl MPWSControlText" name="user_name" value="<?=$model['REGISTER']['DATA']['Name'];?>" placeholder="name"/>
            <div class="MPWSFormHint">Your name can contain blank spaces, upper and lower case characters, numbers, hyphen and underscore only.</div>
            <div></div>
            <input type="text" class="MPWSControl MPWSControlText" name="user_login" value="<?=$model['REGISTER']['DATA']['Login'];?>" id="MPWSControlTextUserLoginRegisterID" placeholder="login"/>
            <div class="MPWSFormHint">Your login should not contain any blank spaces, but it can have any letters and numbers.</div>
            <input  
                type="button"
                class="MPWSControl MPWSControlButton"
                id="MPWSButtonCheckLoginID"
                mpws-action="check_login"
                mpws-oid="<?=$entry['ID']?>"
                mpws-realm="public"
                value="Check if the login is available">
            <div></div>
            <input type="password" class="MPWSControl MPWSControlText" name="user_pwd" value="" placeholder="password"/>
            <div></div>
            <input type="password" class="MPWSControl MPWSControlText" name="user_pwd_dbl" value="" placeholder="confirm password"/>
            <div class="MPWSFormHint">
            Your password:
            <ul>
                <li>Must be between 8-16 characters</li>
                <li>Must contain upper and lower alpha characters</li>
                <li>Must contain at least one special character</li>
                <li>Is case-sensitive</li>
                <li>Can not contain space</li>
            </ul>
            </div>
            <div></div>
            <input type="text" class="MPWSControl MPWSControlText" name="user_email" value="<?=$model['REGISTER']['DATA']['Email'];?>" placeholder="email"/>
            <div></div>
            <input type="submit" class="MPWSControl MPWSControlButton" name="do" value="Register">
        </form>

        <form action="" method="POST" class="MPWSPageForm MPWSPageLoginForm">
            <div class="MPWSFormTitle MPWSFormTitle_Login">Your Personal Desk</div>
            <input type="text" class="MPWSControl MPWSControlText" name="user_login" value="" placeholder="login"/>
            <div></div>
            <input type="password" class="MPWSControl MPWSControlText" name="user_pwd" value="" placeholder="password"/>
            <div></div>
            <input type="submit" name="do" class="MPWSControl MPWSControlButton" value="Log In">
        </form>
        <?php endif ?>

    </div>
</div>