<h2>Your Orders</h2>
<hr size="2"/>

<div class="MPWSDivTable MPWSDivTableWithGroups">
    <div class="MPWSDivTableRow MPWSDivTableRowHeader">
        <span class="MPWSDivTableCell MPWSDivTableCellHeader MPWSDivTableCellSize1">Actions</span>
        <span class="MPWSDivTableCell MPWSDivTableCellHeader MPWSDivTableCellSize3">Title</span>
        <span class="MPWSDivTableCell MPWSDivTableCellHeader MPWSDivTableCellSize2">Status</span>
        <span class="MPWSDivTableCell MPWSDivTableCellHeader MPWSDivTableCellSize1">Pages</span>
        <span class="MPWSDivTableCell MPWSDivTableCellHeader MPWSDivTableCellSize1">Price</span>
        <span class="MPWSDivTableCell MPWSDivTableCellHeader MPWSDivTableCellSize1">Reworks</span>
        <span class="MPWSDivTableCell MPWSDivTableCellHeader MPWSDivTableCellSize2_5">Created</span>
        <span class="MPWSDivTableCell MPWSDivTableCellHeader MPWSDivTableCellSize2_5">Deadline</span>
    </div>
    <?php foreach($model['CUSTOMER']['DATA'] as $groupKey => $groupEntry) : ?>
    <?php if (empty($groupEntry)) continue; ?>
    
    <h3 class="MPWSDivTableGroupTitle"><?=$groupKey;?></h3>
    <?php foreach($groupEntry as $entry) : ?>
        <div class="MPWSDivTableRow MPWSDivTableRowData">
            <span class="MPWSDivTableCell MPWSDivTableCellData MPWSDivTableCellSize1">
                <a href="?action=details&oid=<?=$entry['ID'];?>">Details</a>
            </span>
            <span class="MPWSDivTableCell MPWSDivTableCellData MPWSDivTableCellSize3"><?=$entry['Title'];?>&nbsp;</span>
            <span class="MPWSDivTableCell MPWSDivTableCellData MPWSDivTableCellSize2 MPWSDivTableCellDataState MPWSDivTableCellDataState_<?=libraryView::getFrendlyClassName($entry['Status']);?>" title="<?=libraryView::getFrendlyClassName($entry['Status']);?>"><?=libraryView::getFrendlyLabel($entry['Status']);?>&nbsp;</span>
            <span class="MPWSDivTableCell MPWSDivTableCellData MPWSDivTableCellSize1"><?=$entry['Pages'];?></span>
            <span class="MPWSDivTableCell MPWSDivTableCellData MPWSDivTableCellSize1"><?=$entry['Price'];?></span>
            <span class="MPWSDivTableCell MPWSDivTableCellData MPWSDivTableCellSize1"><?=$entry['ReworkCount'];?></span>
            <span class="MPWSDivTableCell MPWSDivTableCellData MPWSDivTableCellSize2_5"><?=$entry['DateCreated'];?></span>
            <span class="MPWSDivTableCell MPWSDivTableCellData MPWSDivTableCellSize2_5"><?=$entry['DateDeadline'];?></span>
        </div>
    <?php endforeach ?>



    <?php endforeach ?>
</div>