<h1>Order History</h1>
<div class="content">

<h3>Select Date</h3>
<form action="" method="POST" class="MPWSForm MPWSFormInfo">
        <label class="MPWSFieldLabel">Start Date:</label>
        <input type="text" class="MPWSTextBox MPWSControlOrderDateRange" name="start_date" value="<?=$model['CUSTOMER']['DATA_DATE_START'];?>"/>
        <div class="MPWSSeparator"></div>
        <label class="MPWSFieldLabel">End Date:</label>
        <input type="text" class="MPWSTextBox MPWSControlOrderDateRange" name="end_date" value="<?=$model['CUSTOMER']['DATA_DATE_END'];?>"/>
        <div class="MPWSSeparator"></div>
    <hr size="2"/>
    <input type="submit" name="do" value="Show Orders"/>
</form>

<?php if (!empty($model['CUSTOMER']['DATA'])) : ?>

<h3>Total: <?=$model['CUSTOMER']['DATA_SUMA'];?>$</h3>

<table cellpadding="5" cellspacing="0" border="0" width="100%">
    <tr>
        <td class="cell01">Actions</td>
        <td class="cell01">Title</td>
        <td class="cell01">Status</td>
        <td class="cell01">Pages</td>
        <td class="cell01">Price</td>
        <td class="cell01">Reworks</td>
        <td class="cell01">Created</td>
        <td class="cell01">Deadline</td>
    </tr>
<?php foreach($model['CUSTOMER']['DATA'] as $idx => $entry) : ?>
    <?php $__className = 'cell02'.(($idx%2==0)?'a':'b'); ?>
    <tr>
        <td class="<?=$__className;?>">
            <a href="?display=orders&action=details&oid=<?=$entry['ID'];?>">Details</a>
        </td>
        <td class="<?=$__className;?>"><?=$entry['Title'];?></td>
        <td class="<?=$__className;?>"><?=libraryView::getFrendlyLabel($entry['PublicStatus']);?></td>
        <td class="<?=$__className;?>"><?=$entry['Pages'];?></td>
        <td class="<?=$__className;?>"><?=$entry['Credits'];?>$</td>
        <td class="<?=$__className;?>"><?=$entry['ReworkCount'];?></td>
        <td class="<?=$__className;?>">
            <?=convDT($entry['DateCreated'],$model['CUSTOMER']['USER']['TimeZone'],'UTC');?>
        </td>
        <td class="<?=$__className;?>">
            <?=libraryUtils::subDateHours(convDT($entry['DateDeadline'],$model['CUSTOMER']['USER']['TimeZone'],'UTC'),2,$model['CUSTOMER']['DB_DATE_FORMAT']);?>
        </td>
    </tr>
<?php endforeach ?>
</table>
<?php endif ?>

<div>