<h1>Your Orders</h1>
<div class="content">
<?php foreach($model['CUSTOMER']['DATA'] as $groupKey => $groupEntry) : ?>
    <?php if (empty($groupEntry)) continue; ?>
    <h3 class="MPWSDivTableGroupTitle"><?=$groupKey;?></h3>
    <table cellpadding="5" cellspacing="0" border="0" width="100%">
        <tr>
            <td class="cell01">Actions</td>
            <td class="cell01">Title</td>
            <td class="cell01">Status</td>
            <td class="cell01">Pages</td>
            <td class="cell01">Price</td>
            <td class="cell01">Reworks</td>
            <td class="cell01">Created</td>
            <td class="cell01">Deadline</td>
        </tr>
    <?php foreach($groupEntry as $idx => $entry) : ?>
        <?php $__className = 'cell02'.(($idx%2==0)?'a':'b'); ?>
        <tr>
            <td class="<?=$__className;?>">
                <a href="?display=orders&action=details&oid=<?=$entry['ID'];?>">Details</a>
            </td>
            <td class="<?=$__className;?>"><?=$entry['Title'];?></td>
            <td class="<?=$__className;?>"><?=libraryView::getFrendlyLabel($entry['PublicStatus']);?></td>
            <td class="<?=$__className;?>"><?=$entry['Pages'];?></td>
            <td class="<?=$__className;?>"><?=$entry['Price'];?></td>
            <td class="<?=$__className;?>"><?=$entry['ReworkCount'];?></td>
            <td class="<?=$__className;?>"><?=$entry['DateCreated'];?></td>
            <td class="<?=$__className;?>"><?=$entry['DateDeadline'];?></td>
        </tr>
    <?php endforeach ?>
    </table>

<?php endforeach ?>
</div>