<h1>Order Details</h1>
<div class="content">

<div class="MPWSOrderDetailsBlock">

<?php
    if(count($model['CUSTOMER']['MESSAGES'])) {
        echo '<div id="msg02">
        <span><b>Search results</b></span>';
        echo '<ul>';
        foreach ($model['CUSTOMER']['MESSAGES'] as $msg)
            echo '<li>' . $msg . '</li>';
        echo '</ul>';
        echo '</div>';
    }
?>

<h2>#<?=ucfirst($model['CUSTOMER']['DATA']['ID']);?>. <?=ucfirst($model['CUSTOMER']['DATA']['Title']);?></h2>
    
<form action="" method="POST" class="MPWSForm MPWSFormDetails" name="order_details_form">
    <div class="MPWSFormFields">

        <label for="MPWSField_WriterNameID" class="MPWSFieldLabel">Document Type:</label>
        <span class="MPWSValue"><?=$model['CUSTOMER']['DATA_DOCUMENT']['Name'];?>&nbsp;</span>
        <div class="MPWSSeparator"></div>

        <label for="MPWSField_WriterNameID" class="MPWSFieldLabel">Subject:</label>
        <span class="MPWSValue"><?=$model['CUSTOMER']['DATA_SUBJECT']['Name'];?>&nbsp;</span>
        <div class="MPWSSeparator"></div>

        <label for="MPWSField_WriterNameID" class="MPWSFieldLabel">Title:</label>
        <span class="MPWSValue"><?=ucfirst($model['CUSTOMER']['DATA']['Title']);?>&nbsp;</span>
        <div class="MPWSSeparator"></div>

        <label for="MPWSField_WriterNameID" class="MPWSFieldLabel">Status:</label>
        <span class="MPWSValue"><?=libraryView::getFrendlyClassName($model['CUSTOMER']['DATA']['PublicStatus']);?>&nbsp;</span>
        <div class="MPWSSeparator"></div>

        <h3>Dates And Deadline</h3>

        <fieldset>
            <legend>Owner Local Time</legend>
            <label for="MPWSField_WriterEnabledID" class="MPWSFieldLabel">Time Zone:</label>
            <span class="MPWSValue"><?=$model['CUSTOMER']['DATA']['TimeZone'];?></span>
            <div class="MPWSSeparator"></div>
            <label for="MPWSField_WriterEnabledID" class="MPWSFieldLabel">Offset:</label>
            <span class="MPWSValue"><?=$model['CUSTOMER']['TIME']['pORDER'];?> Hours</span>
            <div class="MPWSSeparator"></div>
            <label for="MPWSField_WriterEnabledID" class="MPWSFieldLabel">Date Created:</label>
            <span class="MPWSValue"><?=$model['CUSTOMER']['TIME']['dcORDER'];?></span>
            <div class="MPWSSeparator"></div>
            <label for="MPWSField_WriterEnabledID" class="MPWSFieldLabel">Now:</label>
            <span class="MPWSValue"><?=$model['CUSTOMER']['TIME']['nORDER'];?></span>
            <div class="MPWSSeparator"></div>
            <label for="MPWSField_WriterEnabledID" class="MPWSFieldLabel">Deadline:</label>
            <span class="MPWSValue"><?=$model['CUSTOMER']['TIME']['h2ORDER'];?></span>
            <div class="MPWSSeparator"></div>
        </fieldset>
        
        <fieldset>
            <legend>Your Local Time</legend>
            <label for="MPWSField_WriterEnabledID" class="MPWSFieldLabel">Time Zone:</label>
            <span class="MPWSValue"><?=$model['CUSTOMER']['USER']['TimeZone'];?></span>
            <div class="MPWSSeparator"></div>
            <label for="MPWSField_WriterEnabledID" class="MPWSFieldLabel">Offset:</label>
            <span class="MPWSValue"><?=$model['CUSTOMER']['TIME']['pWRITER'];?> Hours</span>
            <div class="MPWSSeparator"></div>
            <label for="MPWSField_WriterEnabledID" class="MPWSFieldLabel">Date Created:</label>
            <span class="MPWSValue"><?=$model['CUSTOMER']['TIME']['dcWRITER'];?></span>
            <div class="MPWSSeparator"></div>
            <label for="MPWSField_WriterEnabledID" class="MPWSFieldLabel">Now:</label>
            <span class="MPWSValue"><?=$model['CUSTOMER']['TIME']['nWRITER'];?></span>
            <div class="MPWSSeparator"></div>
            <label for="MPWSField_WriterEnabledID" class="MPWSFieldLabel">Deadline:</label>
            <span class="MPWSValue"><?=$model['CUSTOMER']['TIME']['h2WRITER'];?></span>
            <div class="MPWSSeparator"></div>
            <label for="MPWSField_WriterPhoneID" class="MPWSFieldLabel">Hours To Complete</label>
            <span class="MPWSValue"><big><?=($model['CUSTOMER']['TIME']['LEFT'] - 2);?></big>&nbsp;</span>
            <div class="MPWSSeparator"></div>
        </fieldset>
        
        <h3>General Information</h3>

        <label for="MPWSField_WriterPhoneID" class="MPWSFieldLabel">Academic Level</label>
        <span class="MPWSValue"><?=$model['CUSTOMER']['DATA']['Level'];?>&nbsp;</span>
        <div class="MPWSSeparator"></div>

        <label for="MPWSField_WriterPhoneID" class="MPWSFieldLabel">Paper format</label>
        <span class="MPWSValue"><?=$model['CUSTOMER']['DATA']['Format'];?>&nbsp;</span>
        <div class="MPWSSeparator"></div>

        <label for="MPWSField_WriterPhoneID" class="MPWSFieldLabel">Order Price</label>
        <span class="MPWSValue"><?=$model['CUSTOMER']['DATA']['Credits'];?>&nbsp;</span>
        <div class="MPWSSeparator"></div>

        <label for="MPWSField_WriterPhoneID" class="MPWSFieldLabel">Total Pages:</label>
        <span class="MPWSValue"><?=$model['CUSTOMER']['DATA']['Pages'];?>&nbsp;</span>
        <div class="MPWSSeparator"></div>

        <label for="MPWSField_WriterPhoneID" class="MPWSFieldLabel">Additional notes:</label>
        <span class="MPWSValue"><?=$model['CUSTOMER']['DATA']['Description'];?>&nbsp;</span>
        <div class="MPWSSeparator"></div>


        <hr size="2"/>
        <h3>Sources</h3>

        <label for="MPWSField_WriterPhoneID" class="MPWSFieldLabel">Additional sources:</label>
        <div class="MPWSSection" id="MPWSSectionOrderSourcesLinksID">
            <!-- sources from preview page -->
            <ul>
            <?php if (!empty($model['CUSTOMER']['DATA_SOURCES'])) foreach ($model['CUSTOMER']['DATA_SOURCES'] as $link) : ?>
                <li>
                    <a href="<?=$link['SourceURL'];?>" target="blank"/><?=basename($link['SourceURL']);?></a>
                </li>
            <?php endforeach ?>
            </ul>
        </div>
        
        <div class="MPWSSeparator"></div>

        <h3>Resolution Document</h3>
        <label for="MPWSField_WriterPhoneID" class="MPWSFieldLabel">Add document link to review:</label>
        <span class="MPWSValue">
            <input type="text" name="order_resolution_document" value="<?=$model['CUSTOMER']['DATA']['ResolutionDocumentLink'];?>">
        </span>
        <div class="MPWSSeparator"></div>
        
        <hr size="2"/>
        <h3>Work Process</h3>

        <label for="MPWSField_WriterPhoneID" class="MPWSFieldLabel">Reworks</label>
        <span class="MPWSValue"><?=$model['CUSTOMER']['DATA']['ReworkCount'];?></span>
        <div class="MPWSSeparator"></div>

        <?php if($model['CUSTOMER']['DATA']['InternalStatus'] != 'CLOSED' &&
                 $model['CUSTOMER']['DATA']['PublicStatus'] != 'PENDING' &&
                 $model['CUSTOMER']['DATA']['InternalStatus'] != 'PENDING') : ?>
        
        <hr size="2"/>
        <h3>Order Actions</h3>
        
        <?php if($model['CUSTOMER']['DATA']['PublicStatus'] == 'NEW') : ?>
            <input type="submit" name="do" value="Accept"/>
            <input type="submit" name="do" value="Reject"/>
        <?php else : ?>
            <input type="submit" name="do" value="Save Changes"/>
        <?php endif ?>
        <?php if (!empty($model['CUSTOMER']['DATA']['ResolutionDocumentLink']) &&
                 $model['CUSTOMER']['DATA']['PublicStatus'] == 'IN PROGRESS') : ?>
            <input type="submit" name="do" value="Send To Review"/>
        <?php endif ?>
        
        <?php if($model['CUSTOMER']['DATA']['PublicStatus'] == 'REWORK') : ?>
            <input type="submit" name="do" value="Start Working"/>
        <?php endif ?>
        
        
        <?php endif ?>
        
        <?php if($model['CUSTOMER']['DATA']['PublicStatus'] == 'PENDING') : ?>
            <h4>Currently the owner reviews your resolution document.</h4>
        <?php endif ?>
        
        <?php if($model['CUSTOMER']['DATA']['InternalStatus'] == 'PENDING') : ?>
            <h4>Webmaster is reviewing your order.</h4>
        <?php endif ?>
        
        <?php if($model['CUSTOMER']['DATA']['PublicStatus'] == 'TO REFUND') : ?>
            <h4>Webmaster will take further actions.</h4>
        <?php endif ?>
        
    </div>
</form>

<hr size="2"/>

<h3>Messages</h3>

<div class="MPWSBlock">
    <form action="" method="POST">
        <label for="MPWSField_WriterSubjectID" class="MPWSFieldLabel">Subject:</label>
        <input type="text" id="MPWSField_WriterSubjectID" class="MPWSTextBox" name="messages_subject" placeholder="Subjects"/>
        <div class="MPWSSeparator"></div>
        <label for="MPWSField_WriterMessageID" class="MPWSFieldLabel">Message:</label>
        <textarea id="MPWSField_WriterMessageID" cols="30" rows="8" class="MPWSTextBox" name="messages_message"></textarea>
        <div class="MPWSSeparator"></div>
        <input type="submit" name="do" value="Post Message"/>
    </form>
</div>

<?php foreach($model['CUSTOMER']['DATA_MESSAGES'] as $entry) { ?>
    <div class="MPWSSection MPWSSectionOrderMessages">
        <div class="MPWSBlock MPWSBlockMessageState">
            <span class="MPWSDivTableCell">
                Is new:
                <input type="checkbox" 
                    name="message_notify" 
                    id="MPWSControl_MessageMarkAsReadID" 
                    class="MPWSCheckbox MPWSControl_MessageMarkAsRead" 
                    mpws-action="mark_as_read"
                    mpws-oid="<?=$entry['ID']?>"
                    mpws-realm="public"
                    <?=$entry['IsUnread']?'checked="checked"':'';?>
                />
            </span>
        </div>
        <div class="MPWSBlock MPWSBlockMessageBody">
            <div class="MPWSMessageInformation">
                <span class="MPWSDivTableCell MPWSDivTableCellData MPWSDivTableCellDataOwner">Message Owner: <?=$entry['Owner'];?></span>
                <span class="MPWSDivTableCell MPWSDivTableCellData MPWSDivTableCellDataDateCreated">Date: <?=$entry['DateCreated'];?></span>
            </div>
            <span class="MPWSDivTableCell MPWSDivTableCellData MPWSDivTableCellDataSubject"><?=$entry['Subject'];?></span>
            
            <div class="MPWSSeparator"></div>
            <span class="MPWSDivTableCell MPWSDivTableCellData MPWSDivTableCellDataMessages"><?=$entry['Message'];?></span>
        </div>
    </div>
<?php } ?>

<div>