<div id="content_wrapper">
    <a href="/page/make-order.html" id="order_now" title="Order Now">
        <img class="MPWSOrderButton" src="/static/orderNow4.gif" alt="Order Now"/>
    </a>
    <h1>Join Us</h1>
    <div class="content">

        <div class="MPWSStaticContentWrapper" title="Join Us General">
        <?=getValue($model['PROPS']['JOIN_US_GENERAL']);?>
        </div>

    </div>
</div>
<div id="base-text">
    <div class="MPWSStaticContentWrapper" title="Join Us">
    <?=getValue($model['PROPS']['JOIN_US']);?>
    </div>
</div>
