@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);

@import "base";
@import "bootstrap";
@import "dropdowns-sub";
@import "bootstrap-magnify";
@import "bootstrap-combobox";
@import "bootstrap-slider";
@import "lightbox";

@mainColor: #CF7400;
@textColor: #333;
@textForegroundColor: #fff;
@buttonTextColor: #333;
@buttonColorHover: darken(@mainColor, 10%);

/* page components */
.MPWSPageBody {padding: 10px;}
.MPWSPageHeader .MPWSBlockLeft {display: none;}
body {
    padding-top: 0px;
    padding-bottom: 0px;
    background: url('@{imgPath}bg.png');
    font-family: "Open Sans", Arial, sans-serif;
}

footer {
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid #DEDEDE;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.MPWSLayout {
    max-width: 1210px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background: rgba(0, 0, 0, 0.1);
    .MPWSWidgetsTop {
      margin-top: -10px;
      margin-bottom: 10px;
      padding-right: 10px;
      text-align: right;
    }
}

.navbar {
    border-radius: 0px;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.9);
    .navbar-brand {
        float: left;
        // padding-top: 20px;
        // padding-bottom: 20px;
        font-size: 18px;
        line-height: 20px;
        color: @mainColor;
        padding: 0;
    }
    .logo {
        // margin-top: -95px;
        // margin-left: -25px;
        // margin-right: 50px;
        margin: 5px 5px 5px -10px;
        height: 40px;
    }
    // .nav > .dropdown.shop-dropdown-catalog {
    //   margin-left: 50px;
    // }
}

/* links */
a {color: @mainColor;}
a:hover, a:focus {color: lighten(@mainColor, 20%);}

/* buttons */
.btn {
    border: none;
    border-radius: 0px;
    color: @buttonTextColor;
}
.btn:hover, .btn:focus, .btn:active {
    background-color: @buttonColorHover;
}
.btn-primary {
    background-color: @mainColor;
    border-color: @buttonColorHover;
}
.btn-success {
  background-color: @buttonColorHover;
  border-color: @mainColor;
  color: @textForegroundColor;
  &:hover {
    background-color: lighten(@buttonColorHover, 10%);
    color: @buttonTextColor;
  }
}

// .label { color: lighten(@textColor, 80%); text-shadow: 1px 1px 3px #00l0; box-shadow: 0px 0px 2px 1px #333; }

span { cursor: default; }

/* controls */
.form-control,
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: @buttonColorHover;
    border: 1px solid @mainColor;
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.8);
}
select, select option {cursor: pointer;}

/* components */
.breadcrumb {
    background-color: #2F2F2F;
}

/* navbar */

.MPWSPageHeader {
  .nav > li > a {
    display: block;
  }
  .nav > li > a:hover, .nav > li > a:focus {
      text-shadow: 0px 0px 3px @mainColor;
      color: #333;
  }
  .nav > li > a:after {
    border-bottom: 2px solid @textForegroundColor;
    margin-top: -3px;
    height: 2px;
  }

  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {background-color: transparent;}
  .navbar-nav > .dropdown > a:hover .caret, .navbar-nav > .dropdown > a:focus .caret {
      border-top-color: @textForegroundColor;
      border-bottom-color: @textForegroundColor;
  }
  .navbar-nav > .dropdown > a .caret {
      border-top-color: @mainColor;
      border-bottom-color: @mainColor;
  }
  .navbar-nav > .active > a::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 4px;
      margin: 0 0 0 -5px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid @mainColor;
  }
  .navbar-nav > .active > a::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 4px;
      background: @mainColor;
  }
  .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
      color: @mainColor;
      background-color: rgba(26, 188, 156, 0.07);
  }
  .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
      color: @textForegroundColor;
      text-shadow: 0px 0px 3px @mainColor;
      background-color: transparent;
  }
  a.list-group-item {
      background-color: rgba(100, 100, 100, 0.5);
      border: 0px none;
      color: #fff;
      &:hover {color: #555;}
      &.disabled:hover,
      &.disabled:focus {
        background-color: rgba(100, 100, 100, 0.5);
      }
  }

}

.tab-content {
  padding: 10px;
}


i.fa {cursor: pointer;}




.badge {
  &.label-success {
    background-color: @mainColor;
  }
}

/************** product components ****************/

/* product card */
.mixin_box-shadow (@x: 5px, @y: 5px, @blur: 10px, @shadowColor, @opacity: 1) {
    shadowColor: @shadowColor;
    -webkit-box-shadow: @x @y @blur rgba(red(@shadowColor), green(@shadowColor), blue(@shadowColor), @opacity);
    -moz-box-shadow: @x @y @blur rgba(red(@shadowColor), green(@shadowColor), blue(@shadowColor), @opacity);
    box-shadow: @x @y @blur rgba(red(@shadowColor), green(@shadowColor), blue(@shadowColor), @opacity);
}

.mixin_shop-product-view () {
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 0px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    color: #F9F9F9;
}

.mixin_effect_slick (@shadowColor, @opacity: 1) {

    position: relative;

    &:before, &:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width: 300px;
        background: rgba(hue(@shadowColor), saturation(@shadowColor), lightness(@shadowColor), @opacity);
        .mixin_box-shadow(0px, 15px, 10px, @shadowColor, @opacity);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    &:after {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        transform: rotate(5deg);
        right: 10px;
        left: auto;
    }
}

.shop-product-view .panel {
    .mixin_shop-product-view();
    &:hover {
        box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.4);
    }
}

.shop-product-item-full {
  .product-name {color: @textForegroundColor;}
}

.shop-product-item-short {
  .shop-product-image-main {
    .link {
      display: block;
      background-color: #fff;
      .image {
        max-height: 150px;
        margin: 0px auto;
      }
    }
  }
  .shop-product-attr {
    .value-prefix {
      width: auto;
    }
  }
}

/* product images */
.shop-product-images {
  .shop-product-image {
    margin-bottom: 25px;
  }
  .shop-product-image-main { .mixin_effect_slick(#fff, 0.5); }

  .shop-product-image-additional {
    h4 {
      margin: 0px 0px 20px;
    }
    padding: 10px 20px 20px;
    background-color: #2F2F2F;
    box-shadow: 0 0 10px #ffffff;
    ul li {display: inline-block;}
    .image {
      height: 50px;
    }
    .shop-product-image-additional-entry {
      margin-bottom: 10px;
      margin-right: -15px;
    }
  }
  .link {
    display: block;
  }
  .image {}
  .image:hover {
    box-shadow: 0 0 10px #ffffff;
  }
}

/* product attributes */
.shop-product-attr {
  padding-bottom: 5px;
  .value-prefix {display: inline-block; width: 100px;}
}

.shop-product-description {padding: 5px 0px 15px;}

// Shopping cart: common
.shop-component-cart {
  color: #fff;
}

// Shopping cart: embedded
.shop-component-cart-embedded {
  color: @textColor;
  .label-product-name .link {color: @textColor;}
}
.shop-component-cart-standalone {
  .table {
    td {
      line-height: 45px;
    }
  }
  .shop-product-image-main {
    max-width: 80px;
    .link {
      display: block;
      background-color: #fff;
      .image {
        max-height: 45px;
        margin: 0px auto;
      }
      .image:hover {
        box-shadow: none;
      }
    }
  }
}

.shop-component-checkout-wizard {
  .wizard {
    ul li {
      color: #333;
    }
    ul li.active {
      background-color: @mainColor;
      color: #fff;
      .chevron:before {
        border-left: 14px solid @mainColor;
      }
    }
  }
  .table {
    td {
      line-height: 45px;
    }
  }
  .shop-product-image-main {
    max-width: 80px;
    .link {
      display: block;
      background-color: #fff;
      .image {
        max-height: 45px;
        margin: 0px auto;
      }
      .image:hover {
        box-shadow: none;
      }
    }
  }
}

.shop-component-catalog-filtering {
    margin-bottom: 20px;
    .title {
        background: @buttonColorHover;
        padding: 8px 12px;
        strong {
            display:block;
            font: normal 14px/16px Arial, Helvetica, sans-serif;
            min-height: 16px;
            padding: 2px 0 2px;
            text-transform: uppercase;
            color: @textForegroundColor;
        }
        a { text-decoration:none !important; }
    }
    .row {
        margin: 0;
        padding: 5px 9px;
        color: #eee;
    }
    .subtitle {
        font-size: 1em;
        font-weight: bold;
    }
}

.shop-component {
    h4 {color: #eee;}
}

.navbar-toggle {border-color: @mainColor;}
.navbar-toggle .icon-bar {background-color: @mainColor;}

.shop-cart-embedded {
  .btn.dropdown-toggle {
    width: 190px;
  }
  .dropdown-menu {
    width: 300px;
    margin-left: -110px;
  }
  .shop-cart-productlist {
    .wrapper {
      text-align: left;
      .shop-product-image-main {
        width: 32px;
        height: 32px;
        margin-top: 8px;
        img {height: 32px; max-width: 32px; max-height: 32px; display: inline-block;}
        a {
          display: block;
        }
      }
      .product-row {
        display: block;
        text-align: right;
        position: relative;
        right: 0px;
        margin-top: -40px;
      }
      .shop-product-remove {z-index: 99; position: relative;}
      .product-name {display: block;}
      .product-price {width: 50px;}
      .product-quantity {width: 25px;}
      .product-total {width: 50px;}
    }
  }
}


.shop-cart-productlist {
  .wrapper {
    position: relative;
    padding: 3px 15px 14px;
    border-top: 1px solid #ddd;
    &:nth-child(odd) {
      background-color: #f9f9f9;
    }
    & > div, & > span {display: inline-block;}
    .shop-product-image-main { }
    .product-name { }
    .product-price { }
    .label-default { }
    .product-quantity { }
    .product-total { }
  }
}

.cartInfo {
  margin-top: 10px;
  .shopCartSubTotal {padding-right: 10px;}
  .value {font-weight: bold;}
}