@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);

@import "base";
@import "bootstrap";
@import "dropdowns-sub";
@import "bootstrap-magnify";
@import "lightbox";

/* page components */
.MPWSPageBody {padding: 10px;}
.MPWSPageHeader .MPWSBlockLeft {display: none;}
body {
    padding-top: 0px;
    padding-bottom: 0px;
    background: url('@{imgPath}bg.png');
    font-family: "Open Sans", Arial, sans-serif;
}

footer {
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid #DEDEDE;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.MPWSLayout {
    max-width: 1210px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background: rgba(0, 0, 0, 0.1);
}

.navbar {
    border-radius: 0px;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.9);
    .navbar-brand {
        float: left;
        // padding-top: 20px;
        // padding-bottom: 20px;
        font-size: 18px;
        line-height: 20px;
        color: #CFB900;
        padding: 0;
    }
    .logo {
        // margin-top: -95px;
        // margin-left: -25px;
        // margin-right: 50px;
        margin: 5px 5px 5px -10px;
        height: 40px;
    }
    // .nav > .dropdown.shop-dropdown-catalog {
    //   margin-left: 50px;
    // }
}

/* links */
a {color: #CFB900;}
a:hover, a:focus {color: #CFB900;}

/* buttons */
.btn {
    border: none;
    border-radius: 0px;
}
.btn:hover, .btn:focus, .btn:active {
    background-color: #8C7E00;
}
.btn-primary {
    background-color: #CFB900;
    border-color: #FFE500;
}

/* controls */
.form-control,
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFE500;
    border: 1px solid #CFB900;
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.8);
}
select, select option {cursor: pointer;}

/* components */
.breadcrumb {
    background-color: #2F2F2F;
}

/* navbar */

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #CFB900;
    color: #333;
}

.navbar-nav > .dropdown > a:hover .caret, .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-nav > .dropdown > a .caret {
    border-top-color: #CFB900;
    border-bottom-color: #CFB900;
}
.navbar-nav > .active > a::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 4px;
    margin: 0 0 0 -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #CFB900;
}
.navbar-nav > .active > a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background: #CFB900;
}
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #CFB900;
    background-color: rgba(26, 188, 156, 0.07);
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: #333;
    background-color: #CFB900;
}

.nav-tabs > li > a {
    border: 0px none;
}
.nav-tabs > li > a:hover {
    border-color: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #CFB900;
    border: 0px none;
}

i.fa {cursor: pointer;}

.list-group-item {
    background-color: rgba(100, 100, 100, 0.5);
    border: 0px none;
    color: #EEE;
}

.tab-content {
  border-width: 0px 1px 1px;
  border-color: #CFB900;
  border-style: solid;
  background-color: #2F2F2F;
  .tab-pane {
    padding: 20px;
  }
}

.nav-tabs {
border-bottom: 1px solid #CFB900;
}

/************** product components ****************/

/* product card */
.mixin_box-shadow (@x: 5px, @y: 5px, @blur: 10px, @shadowColor, @opacity: 1) {
    shadowColor: @shadowColor;
    -webkit-box-shadow: @x @y @blur rgba(red(@shadowColor), green(@shadowColor), blue(@shadowColor), @opacity);
    -moz-box-shadow: @x @y @blur rgba(red(@shadowColor), green(@shadowColor), blue(@shadowColor), @opacity);
    box-shadow: @x @y @blur rgba(red(@shadowColor), green(@shadowColor), blue(@shadowColor), @opacity);
}

.mixin_shop-product-view () {
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 0px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    color: #F9F9F9;
}

.mixin_effect_slick (@shadowColor, @opacity: 1) {

    position: relative;

    &:before, &:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width: 300px;
        background: rgba(hue(@shadowColor), saturation(@shadowColor), lightness(@shadowColor), @opacity);
        .mixin_box-shadow(0px, 15px, 10px, @shadowColor, @opacity);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    &:after {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        transform: rotate(5deg);
        right: 10px;
        left: auto;
    }
}

.shop-product-view .panel {
    .mixin_shop-product-view();
    &:hover {
        box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.4);
    }
}

.shop-product-item-short {
  .shop-product-image-main {
    .link {
      display: block;
      background-color: #fff;
      .image {
        max-height: 150px;
        margin: 0px auto;
      }
    }
  }
  .shop-product-attr {
    .value-prefix {
      width: auto;
    }
  }
}

/* product images */
.shop-product-images {
  .shop-product-image {
    margin-bottom: 25px;
  }
  .shop-product-image-main { .mixin_effect_slick(#fff, 0.5); }

  .shop-product-image-additional {
    h4 {
      margin: 0px 0px 20px;
    }
    padding: 10px 20px 20px;
    background-color: #2F2F2F;
    box-shadow: 0 0 10px #ffffff;
    ul li {display: inline-block;}
    .image {
      height: 50px;
    }
    .shop-product-image-additional-entry {
      margin-bottom: 10px;
      margin-right: -15px;
    }
  }
  .link {
    display: block;
  }
  .image {}
  .image:hover {
    box-shadow: 0 0 10px #ffffff;
  }
}

/* product attributes */
.shop-product-attr {
  padding-bottom: 5px;
  .value-prefix {display: inline-block; width: 100px;}
}

.shop-product-description {padding: 5px 0px 15px;}

// Shopping cart: common
.shop-component-cart {
  color: #fff;
}

// Shopping cart: embedded
.shop-component-cart-embedded {
  color: #333;
  .label-product-name .link {color: #333;}
}
.shop-component-cart-standalone {
  .table {
    td {
      line-height: 45px;
    }
  }
  .shop-product-image-main {
    max-width: 80px;
    .link {
      display: block;
      background-color: #fff;
      .image {
        max-height: 45px;
        margin: 0px auto;
      }
      .image:hover {
        box-shadow: none;
      }
    }
  }
}

.shop-component-checkout-wizard {
  .wizard {
    ul li {
      color: #333;
    }
    ul li.active {
      background-color: #CFB900;
      color: #fff;
      .chevron:before {
        border-left: 14px solid #CFB900;
      }
    }
  }
  .table {
    td {
      line-height: 45px;
    }
  }
  .shop-product-image-main {
    max-width: 80px;
    .link {
      display: block;
      background-color: #fff;
      .image {
        max-height: 45px;
        margin: 0px auto;
      }
      .image:hover {
        box-shadow: none;
      }
    }
  }
}


.btn {
  color: #333;
}
.btn-success {
  background-color: #FFE500;
  border-color: #CFB900;
}
.btn-success:hover {
  background-color: #CFB900;
}

.shop-component-catalog-filtering {
    .title {
        background: #FFE500;
        padding: 8px 12px;
        strong {
            display:block;
            font: normal 14px/16px Arial, Helvetica, sans-serif;
            min-height: 16px;
            padding: 2px 0 2px;
            text-transform: uppercase;
            color:#333;
        }
        a { text-decoration:none !important; }
    }
    .row {
        margin: 0;
        padding: 5px 9px;
        color: #eee;
    }
    .subtitle {
        font-size: 1em;
        font-weight: bold;
    }
}

.shop-component {
    h4 {color: #eee;}
}

a.list-group-item {color: #fff;}
a.list-group-item:hover {color: #555;}

.navbar-toggle {border-color: #CFB900;}
.navbar-toggle .icon-bar {background-color: #CFB900;}