<!-- Main -->
<div class="row">
    <div class="col-md-2">
        <div class="panel-group container-menu" id="container-menu-ID"></div>
    </div>
    <div class="col-md-10 container-page" id="container-page-ID">
        
        <h1>WOOHOO!!</h1>
    </div>
</div>
<!-- /Main -->