/* = DEFAULT
    GENERAL ELEMENTS
        LINKS
        CONTROLS
        ELEMENTS
        
    WRAPPERS
    COMPONENTS
    PAGE STRUCTURE
        HEADER
            LOGO
            MAIN TEXT
            SUBTEXT
            SHORT MENU V1
            SEARCH
        RIBBON
            OFFERS PRODUCTS
        MAIN CONTENT
            LEFT SIDE
                FULL MENU V2
            CENETR
                
            RIGHT SIDE
                
        FOOTER
            COPYRIGHT TEXT
            COUNTERS
            SHORT MENU V3
*/

/* GENERAL ELEMENTS */
.MPWSPage {font: 12px Arial, Tahoma, Verdana sans-serif; color: #eee; margin: 0px; padding: 0px; background: url("%SITEPATH%/topbg.png") #9c393c repeat-x 0 0;}

    /* GENERIC PAGES */
    .MPWSPageIndex {}

    /* LINKS */
    .MPWSPage a, .MPWSPage a:visited {color: #004276; text-decoration: underline;}
    .MPWSPage a:hover {color: #004276; text-decoration: none;}

    /* CONTROLS */
    .MPWSCLabel {}
    .MPWSCInput {}
    .MPWSCButton {}
    .MPWSCInputText {}
    .MPWSCInputRichText {}
    .MPWSCInputImage {}
    .MPWSCInputButton {}

    /* ELEMENTS */
    .MPWSSeparator {}
    .MPWSLink {}
    .MPWSValue {font-weight: bold;}
    .MPWSNumber {}
    .MPWSText {}
    .MPWSPrefix {}
    .MPWSSuffix {}
    .MPWSWidget {}
    .MPWSFlashObject {}
    .MPWSImage {}
    .MPWSList {}
    .MPWSVideo {}

    /* MESSAGES */
    .MPWSMessage {font-style: italic; color: #9c393c; font-weight: bold; display: block;}
        .MPWSMessageError {color: #c00;}
        .MPWSMessageWarning {}

    /* ICONS */
    .MPWSIcon {width: 20px; float: left;}
        .MPWSIconError {}
        .MPWSIconWarning {}
        .MPWSIcon_New {background: url('icons/new.png') no-repeat;}
        .MPWSIcon_InProgress {background: url('icons/status.png') no-repeat;}
        .MPWSIcon_Pending {background: url('icons/clock.png') no-repeat;}
        .MPWSIcon_Closed {background: url('icons/tick.png') no-repeat;}
        .MPWSIcon_Open {background: url('icons/leaf.png') no-repeat;}
        .MPWSIcon_Rejected {background: url('icons/minus-circle.png') no-repeat;}
        .MPWSIcon_Rework {background: url('icons/lifebuoy.png') no-repeat;}
        .MPWSIcon_Reopen {background: url('icons/arrow-090.png') no-repeat;}
        .MPWSIcon_ToRefund {background: url('icons/money.png') no-repeat;}
        .MPWSIcon_Approved {background: url('icons/thumb-up.png') no-repeat;}
        
    /* TAGS */
    .MPWSTag {}

    /* APPEARANCE */
    .MPWSHidden {display: none;}
    .MPWSCurrent {border: 1px solid #12205D; background-color: #fff; padding: 2px 5px;}
    .MPWSLoading {background: url('%SITEPATH%/ajax-loader.gif') no-repeat center center;}
        .MPWSLoading .MPWSContentPlaceholder {visibility: hidden;}

    /* PLACEHOLDERS */
    .MPWSContentPlaceholder {}
        
    /* HEADER */
    .MPWSHeader {}
        .MPWSHeader .MPWSHeaderIcon {}
        .MPWSHeader .MPWSHeaderTitle {}

/* WRAPPERS */
.MPWSWrapper {}
    .MPWSSectionWrapper {}
    .MPWSContentWrapper {}
    .MPWSWidgetWrapper {}
    .MPWSErrorWrapper {}
    .MPWSWrapperProductItem {/*background: url('%SITEPATH%/productreflection.png') no-repeat 0 bottom;*/ float: left;}
        .MPWSWrapperProductItem.Even {}
        .MPWSWrapperProductItem.Odd {margin-right: 0px;}
        .MPWSWrapperProductItem.Odd .MPWSProductItem {border-right: 0px;}

/* SECTIONS AND MINIBLOCKS */
.MPWSSection {margin-bottom: 15px; /*set width for test only* / width: 200px;*/}
    .MPWSSection .MPWSHeader {padding: 8px 4px 6px 20px;}
        .MPWSSection .MPWSHeaderTitle {font-size: 15px; font-weight: bold; color: #9c393c;}
    .MPWSSectionFooter {}
    .MPWSSectionContent {padding: 10px; border-width: 0px; border-style: none dashed dashed; border-color: #12205D;}
        .MPWSSectionContent .MPWSItem {}
    /* SECTION VARIANTS */
    .MPWSSectionError {}
    .MPWSSectionContent {}
    .MPWSSectionSideLeft {}
    .MPWSSectionSideRight {}
    .MPWSSectionSideMiddle {}
    .MPWSSectionProduct {}
    .MPWSSectionImage {}
    .MPWSSectionStaticPage {padding: 20px;}

    /* MINIBLOCK (inside section or components) */
    .MPWSMiniBlock {}
        .MPWSMiniBlock .MPWSHeader {background: transparent;}
            .MPWSMiniBlock .MPWSHeaderTitle {}
        .MPWSMiniBlockContent {}
            .MPWSMiniBlockContent .MPWSItem {}
        .MPWSMiniBlockFooter {}

    /* WIDGET */
    .MPWSWidget {padding: 5px 10px; margin: 0px 0px 20px;}
        .MPWSWidget .MPWSHeader {}
            .MPWSWidget .MPWSHeaderTitle {}
        .MPWSWidget .MPWSWidgetContent {}
        .MPWSWidget .MPWSWidgetFooter {}




/* COMPONENTS */
    .MPWSComponent {}
    
    /* [COMPONENTS] MENU */
    .MPWSSectionMenu {background-color: transparent;}
        .MPWSSectionMenu .MPWSHeader {}
        .MPWSSectionMenu .MPWSMenuItem {}
        .MPWSSectionMenu .MPWSMenuItem li {}
            .MPWSSectionMenu .MPWSLink {padding: 2px 5px;}
            .MPWSSectionMenu .MPWSLink:hover {color: #fff !important; background-color: #9C393C;}
            .MPWSSectionMenu .MPWSItem {padding: 2px 5px; margin: 0px 3px; text-align: left; display: block;}
            .MPWSSectionMenu .MPWSList {list-style: none; overflow: hidden; zoom: 1; margin: 0px; padding: 0px;}
        .MPWSSectionMenu .MPWSSectionContent {border: 0px none;}

    /* [COMPONENTS] TABBED BLOCK */
    .MPWSTabs {clear: both; margin: 50px 10px 30px;}
        .MPWSTabSwitchers {top: -35px; position: relative;}
            .MPWSTabSwitchers ul {border: 0px none; background: none;}
            .MPWSTabSwitchers .MPWSTabSwitcher {}
        .MPWSContainerTab {}
            .MPWSContainerTab .MPWSTab {margin-top: -35px;}
        .MPWSSeparatorTabs {clear: both; height: 5px;}

    /* [COMPONENTS] PAGINATION */
    .MPWSWidgetPagination {background: #eee; border: 1px dashed #333; color: #333;}
        .MPWSWidgetPagination .MPWSHeader {}
        .MPWSWidgetPagination .MPWSHeaderTitle {}
        .MPWSWidgetPagination .MPWSLink {}
        .MPWSWidgetPagination .MPWSItem {float: left; padding: 2px 5px; margin: 0px 3px;}
        .MPWSWidgetPagination .MPWSItem:hover {background-color: #9C393C;}
        .MPWSWidgetPagination .MPWSItem:hover * {color: #eee;}
        .MPWSWidgetPagination .MPWSItem.MPWSCurrent {color: #eee; background-color: #9C393C;}
        .MPWSWidgetPagination .MPWSList {list-style: none; overflow: hidden; zoom: 1; margin: 0px; padding: 0px; text-align: center;}

    /* [COMPONENTS] ADVERTISEMENT used */
    .MPWSWidgetAdvertisement {background: none; width: 750px !important; height: auto !important; margin: 20px auto; padding: 0px;}
        .MPWSWidgetAdvertisement .MPWSMiniBlock {}

    .MPWSWidgetAdvertisementLeft {width: auto !important;}
    .MPWSWidgetAdvertisementBottom {clear: both; padding-top: 40px;}

    /* [COMPONENTS] ERROR SECTION not used */
    .MPWSError {}
        .MPWSError  {}
        .MPWSError .MPWSMessage {}
            .MPWSError .MPWSMessage ul {}
                .MPWSError .MPWSMessage ul li {}
    
    /* [COMPONENTS] SEARCHER */
    .MPWSWidgetSearch {background: #eee; color: #333;}
        .MPWSWidgetSearch .MPWSHeader {font-size: 14px; padding-bottom: 10px;}
        .MPWSWidgetSearch .MPWSCInputText {width: 220px; border: 2px solid #12205d;}
        .MPWSWidgetSearch .MPWSCButton {}
        .MPWSWidgetSearch .MPWSLabel {float: left; width: 140px; line-height: 28px;}
        .MPWSWidgetSearch .MPWSMiniBlock {padding: 3px 10px;}
        
    /* [COMPONENTS] SEARCH RESULTS */
    .MPWSWidgetSearchResults {background: none; overflow: hidden; zoom: 1; padding: 0px;}
    .MPWSWidgetSearchResults .MPWSMessage {padding: 0px; font-weight: bold; color: #fff; font-size: 14px; background: none; margin-bottom: 15px; display: block;}
    .MPWSWidgetSearchResults .MPWSSectionContentSearchResultItems {background: none; overflow: hidden; zoom: 1;}
    .MPWSWidgetSearchResults .MPWSSectionContentSearchResultItems .MPWSMiniBlockSearchViewInfo {background-color: #eee; padding: 10px; color: #333; margin: 0px; font-size: 14px;}
    .MPWSWidgetSearchResults .MPWSSectionContentSearchResultItems .MPWSMiniBlockItems {overflow: hidden; zoom: 1;}
    .MPWSWidgetSearchResults .MPWSSectionContentSearchResultItems .MPWSMiniBlockPagination {margin: 25px 0px 5px;}
    
    /* [COMPONENTS] QUICK SEARCH */
    .MPWSWidgetQuickSearch {background: transparent; color: #eee; margin-top: 30px; margin-bottom: 0px; padding: 0px; overflow: hidden; float: left;}
    .MPWSWidgetQuickSearch .MPWSHeader {padding: 0px 10px; font-size: 14px; font-weight: bold;}
    .MPWSWidgetQuickSearch .MPWSMiniBlock  {padding: 5px 10px 10px;}
    .MPWSWidgetQuickSearch .MPWSCInputText {display: block; width: 100%; font-size: 16px; padding: 3px 5px;}
    .MPWSWidgetQuickSearch .MPWSLabel {font-style: italic;}
    .MPWSWidgetQuickSearch .MPWSMiniBlockProductName {float: left; width: 360px;}
    .MPWSWidgetQuickSearch .MPWSMiniBlockButtons {float: left; margin-top: -1px; padding-left: 0px;}
    .MPWSWidgetQuickSearch .MPWSLink {color: #fff;}
    .MPWSWidgetQuickSearch .MPWSLink:hover {color: #fff; text-decoration: none;}
    .MPWSWidgetQuickSearch .MPWSLink:visited {color: #fff;}
    
    /* [WIDGET] SOCIAL */
    .MPWSWidgetSocial  {margin-bottom: 10px; padding: 20px;}
    .MPWSWidgetSocial .MPWSHeader {padding: 5px 0px; border: 0px; margin: 0px; height: auto;}
    .MPWSWidgetSocial .MPWSHeaderTitle {color: #9C393C; font-size: 16px; font-weight: bold;}
    .MPWSWidgetSocial .MPWSLink {float: left; margin-right: 10px;}
    .MPWSWidgetSocial .MPWSIconSocial {float: left; width: 32px; height: 32px; background: transparent url("%SITEPATH%/ribbon_social.png") no-repeat center center; opacity:.5;}
    .MPWSWidgetSocial .MPWSIconSocial:hover {opacity:1;}
    .MPWSWidgetSocial .MPWSWidgetContent {}
    .MPWSWidgetSocial .MPWSMiniBlockSocialButtons {overflow: hidden; zoom: 1;}
    .MPWSWidgetSocial .MPWSMiniBlockSocialInformers {padding: 15px 0px 0px;}
    .MPWSWidgetSocial .MPWSMiniBlockSocialInformers .MPWSItem {display: block; float: none; clear: none;}
        /* Social Icons */
        .MPWSWidgetSocial .MPWSIconSocial_Blogger {background-position: 0 -32px;}
        .MPWSWidgetSocial .MPWSIconSocial_Compact {background-position: 0 -64px;}
        .MPWSWidgetSocial .MPWSIconSocial_Delicious {background-position: 0 -64px;}
        .MPWSWidgetSocial .MPWSIconSocial_Digg {background-position:0 -128px;}
        .MPWSWidgetSocial .MPWSIconSocial_Email {background-position:0 -160px;}
        .MPWSWidgetSocial .MPWSIconSocial_Expanded {background-position:0 -192px;}
        .MPWSWidgetSocial .MPWSIconSocial_Facebook {background-position: 0 -224px;}
        .MPWSWidgetSocial .MPWSIconSocial_Twitter {background-position:0 -640px;}
        .MPWSWidgetSocial .MPWSIconSocial_Myspace {background-position:0 -480px;}
        .MPWSWidgetSocial .MPWSIconSocial_GoogleBuzz {background-position:0 -352px;}
        .MPWSWidgetSocial .MPWSIconSocial_GoogleBookmark {background-position:0 -320px;}
        .MPWSWidgetSocial .MPWSIconSocial_MyMailRu {background-position:0 -448px;}
        .MPWSWidgetSocial .MPWSIconSocial_Reddit {background-position:0 -576px;}
        .MPWSWidgetSocial .MPWSIconSocial_Orkut {background-position:0 -512px;}
        .MPWSWidgetSocial .MPWSIconSocial_Print {background-position:0 -544px;}
        .MPWSWidgetSocial .MPWSIconSocial_Stumbleupon {background-position:0 -608px;}
        .MPWSWidgetSocial .MPWSIconSocial_Vk {background-position:0 -672px;}
        .MPWSWidgetSocial .MPWSIconSocial_Yahoomail {background-position:0 -704px;}
        .MPWSWidgetSocial .MPWSIconSocial_Gmail {background-position:0 -288px;}
        .MPWSWidgetSocial .MPWSIconSocial_LinkedIn {background-position:0 -384px;}
        .MPWSWidgetSocial .MPWSIconSocial_Live {background-position:0 -416px;}
        .MPWSWidgetSocial .MPWSIconSocial_Favourites {background-position:0 -256px;}
        /* social */
        .MPWSWidgetSocialProduct {}
        .MPWSWidgetSocialPage {}
        .MPWSWidgetSocialCategory {}
        /* informers */
        .MPWSWidgetSocial .MPWSMiniBlockSocialInformers .MPWSItemFacebookLike {width: 195px;}
        .MPWSWidgetSocial .MPWSMiniBlockSocialInformers .MPWSItemTwitter {width: 105px;}
        .MPWSWidgetSocial .MPWSMiniBlockSocialInformers .MPWSItemGooglePlusOne {width: 190px;}
    
    /* [COMPONENTS] PICTURE BOX not used */
    .MPWSProductPictureBlock {}
        .MPWSProductMainPicture {}
            .MPWSProductMainPicture img {}
        .MPWSProductAdditionalPictures {}
            .MPWSProductAdditionalPictures img {}

    /* [COMPONENTS] MINI GALLERY */
    .MPWSWidgetProductGallery {border: 0px none; margin: 0px; padding: 0px; width: 180px; background: #eee;}
    .MPWSWidgetProductGallery.MPWSWidget {border: 0px none;}
        .MPWSWidgetProductGallery .MPWSHeader {background: #eee; border: 0px none; margin: 0px; padding: 2px;}
        .MPWSWidgetProductGallery .MPWSHeaderTitle {font-size: 10px; color: #9c393c;}
        .MPWSWidgetProductGallery .MPWSCustomScrollBar {margin: 10px; height: 60px; float: left;}
        .MPWSWidgetProductGallery .MPWSWidgetContent {overflow: hidden; height: 80px;}
        .MPWSWidgetProductGallery .MPWSCustomContentMovable {overflow: hidden; height: auto;}
        .MPWSWidgetProductGallery .MPWSMiniBlockProductImage {float: left; width: auto; padding: 5px;}

    /* [COMPONENTS] LOGIN WIDGET not used */
    .MPWSSectionLoginForm {}
    
    /* [COMPONENTS] MESSAGES used */
    .MPWSWidgetMessages {background: url('%SITEPATH%/icon_chat.png') #9C393C no-repeat 20px 10px; width: 748px !important; height: auto !important; margin: 20px auto; padding: 0px; border: 1px solid #eee;}
        .MPWSWidgetMessages .MPWSMiniBlock {padding: 10px 20px 15px 80px; color: #fff;}

        /* [WIDGET] COUNTER */
        .MPWSWidgetCounter {overflow: hissed; zoom: 1;}
            .MPWSWidgetCounter .MPWSMiniBlock {float: left; margin-right: 10px;}
            /* sides */
            .MPWSWidgetCounterBottom {background: none; width: 750px; height: auto; margin: 20px auto; padding: 0px;}
            .MPWSWidgetCounterLeft {}
            .MPWSWidgetCounterTop {}
            .MPWSWidgetCounterRight {}

/* PAGE STRUCTURE */
    .MPWSWrapperPage {background: url("%SITEPATH%/decor_top.png") no-repeat left top;}
    .MPWSPageHeader {height: 290px; overflow: hidden; color: #12205D;/*width: 774px; margin: 0px auto;*/}
        /* LOGO */
        .MPWSLogo {float: left; margin-top: -10px; margin-left: 100px;}
            .MPWSLogo img {}
        /* MAIN TEXT */
        .MPWSPageHeaderText {font-size: 20px; font-weight: bold; padding: 25px 0 0;}
        /* PAGE WRAPPER */
        .MPWSPageHeaderWrapper {float: left;}
            .MPWSPageHeaderWrapper .MPWSText {padding: 0px 10px 5px; font-size: 16px; color: #fff;}
                .MPWSPageHeaderWrapper .MPWSText1 {font-size: 24px;}
                .MPWSPageHeaderWrapper .MPWSText2 {}
                .MPWSPageHeaderWrapper .MPWSText3 {}
        /* SUBTEXT */
        .MPWSPageHeaderSubText {font-style: italic;}
        /* BOTTOM SEPARATOR */
        .MPWSSeparatorPageHeaderBottom {}

/* RIBBON */
.MPWSPageRibbon {}
    /* OFFERS PRODUCTS */


/* MAIN CONTENT */
.MPWSPageMainContent {width: 1000px; margin: 0px auto; /* overflow: hidden; */}
    /* LEFT SIDE */
    .MPWSPageLeftSide {float: left; width: 235px; margin-right: 15px; background: url("%SITEPATH%/menubg.png") repeat-y left top; color: #333; margin-top: -25px; padding-top: 25px; padding-bottom: 80px;}
        /* FULL MENU V2 */
        .MPWSPageLeftSide .MPWSMenu {background-color: transparent;}
        .MPWSPageLeftSide .MPWSMenuList {list-style: none; padding: 0px; margin: 0px;}
        .MPWSPageLeftSide .MPWSMenuItem {padding: 3px 5px;}
        .MPWSPageLeftSide .MPWSMenuItem:hover {background-color: #bbb;}
        .MPWSPageLeftSide .MPWSLink {display: block; color: #004276;}
        .MPWSPageLeftSide .MPWSLink:visited {color: #004276;}

    /* CENETR */
    .MPWSPageCenterSide {width: 750px; float: left;}
        
        .MPWSSectionContentProductsRecent {padding: 0px; background: none;}

    /* RIGHT SIDE */
    .MPWSPageRightSide {}


/* FOOTER */
.MPWSPageFooter {clear: both; display: block; background: url('%SITEPATH%/line.png') #9C393C repeat-x 0px 0px; padding-top: 30px; padding-bottom: 30px;}
    .MPWSFooterContent {width: 900px; padding-left: 200px; margin: 0px auto; overflow: hidden; background: url('%SITEPATH%/logo_2.png') #9C393C no-repeat 0px 0px;}
    .MPWSPageFooter .MPWSLink {display: block; color: #fff;}
    .MPWSPageFooter .MPWSLink:visited {color: #fff;}
    .MPWSSeparatorPageFooterTop {clear: both; display: block; height: 10px;}
    /* COPYRIGHT TEXT */
    .MPWSCopyright {display: block;}
        .MPWSCopyright .MPWSCopytext {}
    /* COUNTERS */
    .MPWSCounters {}
        .MPWSCounters .MPWSCounter {}
    /* SHORT MENU V3 */
    .MPWSPageFooter .MPWSSectionMenu {float: left;}
        .MPWSPageFooter .MPWSSectionMenu .MPWSHeader {display: none;}






/******* VARIANTS *********/

    /* MENU HEADER */
    .MPWSSectionMenu.MPWSSectionMenuHeader {float: left; margin-left: -100px;}
        .MPWSSectionMenu.MPWSSectionMenuHeader .MPWSHeader {display: none;}
            .MPWSSectionMenu.MPWSSectionMenuHeader .MPWSHeaderIcon {}
            .MPWSSectionMenu.MPWSSectionMenuHeader .MPWSHeaderTitle {}
        .MPWSSectionMenu.MPWSSectionMenuHeader .MPWSSectionContent {background: none;}
        .MPWSSectionMenu.MPWSSectionMenuHeader .MPWSList {list-style: none;}
        .MPWSSectionMenu.MPWSSectionMenuHeader .MPWSItem {padding: 5px 0px 0px; font-size: 16px; display: inline;}
        .MPWSSectionMenu.MPWSSectionMenuHeader .MPWSLink {color: #eee;}
        
    /* MENU RSS */
    .MPWSSectionMenu.MPWSSectionMenuRss {position: relative;}
        .MPWSSectionMenu.MPWSSectionMenuRss .MPWSHeaderIcon {}
        .MPWSSectionMenu.MPWSSectionMenuRss .MPWSHeaderTitle {}

        
    /* PRODUCT TABS */
    #MPWSTabSwitcherForCommentsID {}
    
    
    .treeview .hitarea {margin-top: 2px;}
    .treeview li {padding: 3px 0pt 3px 16px !important;}
    .MPWSSectionCategoriesEmbedded .MPWSLink {padding: 2px;}
    ul.treeview ul {background-color: transparent;}

    /* STATIC PAGES */
    .MPWSSectionStaticPage_404 {}
        .MPWSSectionStaticPage_404 dl {background-color: #fff; padding: 10px 30px;}
        .MPWSSectionStaticPage_404 dd {padding-top: 50px; color: #004276;}
        .MPWSSectionStaticPage_404 a.MPWSLink, .MPWSSectionStaticPage_404 a.MPWSLink:visited {color: #004276;}
        .MPWSSectionStaticPage_404 a.MPWSLink:hover {color: #004276; text-decoration: none;}
        .MPWSSectionStaticPage_404 .MPWSWidgetCategoriesList {margin: 0px; padding: 20px; overflow: hidden; zoom: 1;}


        
        
        
/* FORM */
.MPWSForm {}
    .MPWSForm .MPWSSeparator {height: 4px;}
    
    .MPWSComponenContentMessages {margin-left: 120px; padding: 0px 10px; border: 1px solid #eee; background: #fff; display: block; margin-bottom: 20px; border-radius: 10px;}
        .MPWSComponenContentMessages h4 {color: #333;}
        .MPWSComponenContentMessages ul {}
        .MPWSComponenContentMessages ul li {font-size: 12px; font-weight: bold; color: #930;}
        .MPWSPageToolbox .MPWSComponenContentMessages a, .MPWSPageToolbox .MPWSComponenContentMessages a:visited {color: #333;}
        .MPWSPageToolbox .MPWSComponenContentMessages a:hover {color: #555;}
    
    .MPWSSystemMessage {font-size: 14px; font-weight: bold; color: #930; padding: 10px; border: 1px solid #eee; background: #fff; display: block;}
    .MPWSSystemMessage *:hover {border-color: #fff; background: #eee;}
    
    .MPWSSectionOrderMessage {margin: 0px 0px 10px 0px; background: #999; border: 1px dotted #EEE; overflow: hidden; zoom: 1;}
        .MPWSBlockMessageState {float: left; width: 70px; padding: 10px;}
        .MPWSBlockMessageBody {margin-left: 80px; padding: 15px 10px;}
        .MPWSBlockMessageBody .MPWSDivTableCellDataOwner {display: block; font-weight: bold; float: left;}
        .MPWSBlockMessageBody .MPWSDivTableCellDataSubject {display: block; padding-bottom: 5px; font-size: 15px; border-bottom: 1px dotted #eee;}
        .MPWSBlockMessageBody .MPWSDivTableCellDataDateCreated {}
        .MPWSBlockMessageBody .MPWSDivTableCellDataMessages {padding: 15px 0px; display: block;}
        .MPWSBlockMessageBody .MPWSMessageInformation {padding-bottom: 5px; overflow: hidden; zoom: 1; text-align: right;}
        
        
        
.MPWSInlineForms {overflow: hidden; zoom: 1;}
    .MPWSInlineForms form {float: left; margin-right: 10px;}

    
    
    
    .MPWSStatusExpiration_0 {background-color: #A00;}
    .MPWSStatusExpiration_1 {background-color: #633;}
    .MPWSStatusExpiration_2 {background-color: #B66;}
    .MPWSStatusExpiration_4 {background-color: #A88;}
    
    
    .MPWSScrollContainer {overflow: scroll; width: 500px; height: 400px; word-break: break-all;}
