.MPWSHidden {display: none;}

/* MPWS TOOLTIP */
.MPWSJSTooltip {
    width: 200px;
    height: auto;
    line-height: 20px;
    padding: 10px;
    margin-left: -64px;
    font-family: 'Alegreya SC', Georgia, serif;
    font-weight: 400;   
    font-style: italic;
    font-size: 14px;
    color: #719DAB;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 4px solid #fff;
    background: rgba(255,255,255,0.9);
    text-indent: 0px;
    border-radius: 5px;
    visibility: visible;
    pointer-events: none;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
.MPWSTooltipTopSeparator {}
.MPWSTooltipBottomSeparator {border-bottom: transparent;
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-top: 7px solid #888;
bottom: -10px;
left: 60px;
outline: none;
margin: 0 0 0 -5px;
position: absolute;}


.MPWSTopSlider {margin: 0px 50px; left: 25px; right: 25px; /*width: 980px;*/ margin-top: -80px;
border-radius: 0px 0px 10px 10px; position: fixed; z-index: 999999;
padding: 1px 10px 1px; overflow: hidden; background: #090 url('overlay.jpg') no-repeat center top; box-shadow: 0 0 10px black;}
.MPWSTopSlider  div.nicEdit-panelContain {background: none !important; border: 0px none !important;}
.MPWSTopSlider img {opacity: .5; width: 121x; float: left; margin-right: 50px; margin-top: 5px;}
.MPWSTopSlider #MPWSEditPanelID {width: 610px;float: left;margin: 11px 10px 10px;}
.MPWSTopSlider .MPWSButtonBlock {margin: 10px; float: right;}
.MPWSTopSlider input {cursor: pointer; border: 1px solid #ddd; border-radius: 5px; padding: 3px 10px; background: #9c0; color: #fff;}
.MPWSTopSlider input:hover {background: #06c; color: #fff;}