<!DOCTYPE html>
<html>
<head>
    <title>{block name="layoutTitle"}MPWS Default - {$INFO.GET.PAGE}{/block}</title>
    {block name="layoutResourcesCSS"}
    <link rel="stylesheet" type="text/css" href="/static/i/customer/{$INFO.CUSTOMER}/default.css">
    {/block}
    {if not empty($INFO.GET.PLUGIN) }
    <link rel="stylesheet" type="text/css" href="/static/i/plugin/{$INFO.GET.PLUGIN}/default.css">
        {* include plugin css resources *}
        {include file=$OBJECT.WOB[makeKey($INFO.GET.PLUGIN)]->objectTemplatePath_component_pageOnLoadStylesheet}
    {/if}
    <meta name="locale" content="{$CURRENT.OBJECT->getObjectLocale()}">
</head>
<body>

<div class="MPWSLayout MPWSLayoutDefaultSystem">
    {if $INFO.USER.ACTIVE}
        {block name="layoutContentActive"}
            {include file=$CURRENT.OBJECT->{"objectTemplatePath_trigger_page"}}
        {/block}
    {else}
        {block name="layoutContentLogin"}
            {include file=$CURRENT.OBJECT->objectTemplatePath_page_login}
        {/block}
    {/if}
</div>

<div class="static-content-wrapper render-hidden" title="page basic javascript container">
    {block name="layoutResourcesJS"}
    <script type="text/javascript" src="/static/i/customer/{$INFO.CUSTOMER}/starter.js"></script>
    {/block}
    {if not empty($INFO.GET.PLUGIN) }
    <script type="text/javascript" src="/static/i/plugin/{$INFO.GET.PLUGIN}/starter.js"></script>
        {* include plugin js additional resources *}
        {include file=$OBJECT.WOB[makeKey($INFO.GET.PLUGIN)]->objectTemplatePath_component_pageOnLoadJavascript}
    {/if}
    {literal}
    <script type="text/javascript" class="temporary">
        APP.Internal.configureAppLoader({
            VERSION: null,
            // security token
            CUSTOMER: '{/literal}{$INFO.CUSTOMER}{literal}',
            // security token
            TOKEN: '{/literal}{$INFO.TOKEN}{literal}',
            // page
            PAGE: '{/literal}{$INFO.GET.PAGE}{literal}',
            // display
            DISPLAY: '{/literal}{$INFO.GET.DISPLAY}{literal}',
            // action
            ACTION: '{/literal}{$INFO.GET.ACTION}{literal}',
            // action
            PLUGIN: '{/literal}{$INFO.GET.PLUGIN}{literal}',
            // ROUTER: 'router/customer.base',
            URL: {
                // available static urls
                staticUrlBase: '{/literal}{$INFO.URL.STATIC_BASE}{literal}',
                staticUrlCustomer: '{/literal}{$INFO.URL.STATIC_CUSTOMER}{literal}',
                staticUrlPlugin: '{/literal}{$INFO.URL.STATIC_PLUGIN}{literal}'
            },
            STATES: {
                pageDebug: true
            },
            REQUIREJS: {
                router: {
                    modulePageMap: [{
                        match: [".*"],
                        deps: ["router/customer", "router/plugin"]
                    }]
                },
                app: {
                    baseUrl: "{/literal}{$INFO.URL.STATIC_BASE}{literal}",
                    paths: {
                        // general paths
                        lib: '{/literal}{$INFO.URL.STATIC_CUSTOMER}{literal}libs',
                        router: '{/literal}{$INFO.URL.STATIC_CUSTOMER}{literal}routers',
                        widget: '{/literal}{$INFO.URL.STATIC_CUSTOMER}{literal}widgets',
                        model: '{/literal}{$INFO.URL.STATIC_CUSTOMER}{literal}models',
                        view: '{/literal}{$INFO.URL.STATIC_CUSTOMER}{literal}views',
                        // plugins paths
                        p_lib: '{/literal}{$INFO.URL.STATIC_PLUGIN}{literal}libs',
                        p_router: '{/literal}{$INFO.URL.STATIC_PLUGIN}{literal}routers',
                        p_widget: '{/literal}{$INFO.URL.STATIC_PLUGIN}{literal}widgets',
                        p_model: '{/literal}{$INFO.URL.STATIC_PLUGIN}{literal}models',
                        p_view: '{/literal}{$INFO.URL.STATIC_PLUGIN}{literal}views',
                        // version suppress
                        "lib/jquery": '{/literal}{$INFO.URL.STATIC_CUSTOMER}{literal}lib/jquery-1.9.1',
                        "lib/jquery_ui": '{/literal}{$INFO.URL.STATIC_CUSTOMER}{literal}lib/jquery-ui-1.10.3.custom'
                    }
                }
            }
        });
    </script>
    {/literal}
</div>

</body>
</html>