<!DOCTYPE html>
<html>
<head>
    <title>{block name="layoutTitle"}MPWS Default - {$INFO.GET.PAGE}{/block}</title>
    {block name="layoutResources"}
    <link rel="stylesheet" type="text/css" href="/static/mpwsDefault.css">
    <script type="text/javascript" src="/static/mpwsDefault.js"></script>
    {/block}
    {literal}
    <script type="text/javascript">
        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', {'packages':['corechart']});
        // security token
        mpws.token = '{/literal}{$INFO.TOKEN}{literal}';
        // page
        mpws.page = '{/literal}{$INFO.GET.PAGE}{literal}';
        // display
        mpws.display = '{/literal}{$INFO.GET.DISPLAY}{literal}';
        // action
        mpws.action = '{/literal}{$INFO.GET.ACTION}{literal}';
    </script>
    {/literal}
    <meta name="locale" content="{$CURRENT.OBJECT->getObjectLocale()}">
</head>
<body>

<div class="MPWSLayout MPWSLayoutDefaultSystem">

    {if $INFO.USER.ACTIVE}
        {include file=$CURRENT.OBJECT->{"objectTemplatePath_component_pageDispatcher"}}
    {else}
        {include file=$CURRENT.OBJECT->objectTemplatePath_page_login}
    {/if}

</div>

</body>
</html>