<!DOCTYPE html>
<html lang="en">
<head>
    <title>{block name="layoutTitle"}MPWS Default - {$INFO.GET.PAGE}{/block}</title>
    {block name="layoutResourcesCSS"}
    <link rel="stylesheet" type="text/css" href="/static/p/customer/{$INFO.CUSTOMER}/default.css">
    <link rel="stylesheet" type="text/css" href="/static/p/customer/{$INFO.CUSTOMER}/theme.css">
    {/block}
    {if not empty($INFO.GET.PLUGIN) }
    <link rel="stylesheet" type="text/css" href="/static/p/plugin/{$INFO.GET.PLUGIN}/default.css">
        {* include plugin css resources *}
        {include file=$OBJECT.WOB[makeKey($INFO.GET.PLUGIN)]->objectTemplatePath_component_pageOnLoadStylesheet}
    {/if}
    <meta name="locale" content="{$CURRENT.OBJECT->getObjectLocale()}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body class="MPWSPage">

<div class="MPWSLayout MPWSLayoutDefaultPublic">

        {block name="pageCommonBefore"}{/block}
        {block name="pageHeaderBefore"}{/block}
    <div class="MPWSPageHeader">
        {block name="pageHeader"}{/block}
    </div>
        {block name="pageHeaderAfter"}{/block}
        {block name="pageCommonAfter"}{/block}
        
        {block name="pageCommonBefore"}{/block}
        {block name="pageBodyBefore"}{/block}
    <div class="MPWSPageBody">
        {block name="pageBody"}{/block}
    </div>
        {block name="pageBodyAfter"}{/block}
        {block name="pageCommonAfter"}{/block}
        
        {block name="pageCommonBefore"}{/block}
        {block name="pageFooterBefore"}{/block}
    <div class="MPWSPageFooter">
        {block name="pageFooter"}{/block}
    </div>
        {block name="pageFooterAfter"}{/block}
        {block name="pageCommonAfter"}{/block}

</div>

<div class="static-content-wrapper render-hidden" title="page basic javascript container">
    {block name="layoutResourcesJS"}
    <script type="text/javascript" src="/static/p/customer/{$INFO.CUSTOMER}/starter.js"></script>
    {/block}
    {if not empty($INFO.GET.PLUGIN) }
    <script type="text/javascript" src="/static/p/plugin/{$INFO.GET.PLUGIN}/starter.js"></script>
        {* include plugin js additional resources *}
        {include file=$OBJECT.WOB[makeKey($INFO.GET.PLUGIN)]->objectTemplatePath_component_pageOnLoadJavascript}
    {/if}
    {literal}
    <script type="text/javascript" class="temporary">
        APP.Internal.configureAppLoader({
            VERSION: null,
            // security token
            CUSTOMER: '{/literal}{$INFO.CUSTOMER}{literal}',
            // security token
            TOKEN: '{/literal}{$INFO.TOKEN}{literal}',
            // page
            PAGE: '{/literal}{$INFO.GET.PAGE}{literal}',
            // display
            DISPLAY: '{/literal}{$INFO.GET.DISPLAY}{literal}',
            // action
            ACTION: '{/literal}{$INFO.GET.ACTION}{literal}',
            // action
            // PLUGIN: 'shop',
            // ROUTER: 'router/customer.base',
            URL: {
                // available static urls
                staticUrlBase: '{/literal}{$INFO.URL.STATIC_BASE}{literal}',
                staticUrlCustomer: '{/literal}{$INFO.URL.STATIC_CUSTOMER}{literal}',
                staticUrlPlugin: '{/literal}{$INFO.URL.STATIC_PLUGIN}{literal}'
            },
            STATES: {
                pageDebug: true
            },
            REQUIREJS: {
                router: {
                    modulePageMap: [{
                        match: ["{/literal}{$INFO.CUSTOMER}{literal}/*"],
                        deps: ["router/customer"]
                    }]
                },
                app: {
                    baseUrl: false,
                    paths: {
                        // general paths
                        lib: '{/literal}{$INFO.URL.STATIC_CUSTOMER}{literal}lib',
                        router: '{/literal}{$INFO.URL.STATIC_CUSTOMER}{literal}router',
                        widget: '{/literal}{$INFO.URL.STATIC_CUSTOMER}{literal}widget',
                        model: '{/literal}{$INFO.URL.STATIC_CUSTOMER}{literal}model',
                        view: '{/literal}{$INFO.URL.STATIC_CUSTOMER}{literal}view',
                        plugin: '{/literal}{$INFO.URL.STATIC_PLUGIN}{literal}',
                        // version suppress
                        "lib/jquery": '{/literal}{$INFO.URL.STATIC_CUSTOMER}{literal}lib/jquery-1.9.1',
                        "lib/jquery_ui": '{/literal}{$INFO.URL.STATIC_CUSTOMER}{literal}lib/jquery-ui'
                    }
                }
            }
        });
    </script>
    {/literal}
</div>

</body>
</html>