{* SYSTEM: STANDART PAGE IMPLEMENTATION *}

{include assign="wgt_sysUsrInfo" file=$CURRENT.OBJECT->objectTemplatePath_widget_systemUserInfo}

{$_headers[]=$wgt_sysUsrInfo}
{$_footers=Array()}

{* add system messages *}
{if isset($MODEL.MESSAGE.COMMON)}
    {include assign="msg_common" file=$CURRENT.OBJECT->objectTemplatePath_component_messageList _messages=$MODEL.MESSAGE.COMMON _controlOwner='System' _useHeader=true}
    {$_contents[]=$msg_common}
{/if}

{* add widget messages *}
{if $MODEL.MESSAGE|@count gt 1}
    {foreach $MODEL.MESSAGE as $wobOwner => $messageItems}
        {if not ($wobOwner eq 'COMMON')}
            {include assign="msg_common" file=$OBJECT.WOB[makeKey($wobOwner)]->objectTemplatePath_component_messageList _messages=$messageItems _OBJ=$OBJECT.WOB[makeKey($wobOwner)]}
        {$_contents[]=$msg_common}
        {/if}
    {/foreach}
{/if}


{if $INFO.GET.PAGE == $CURRENT.OBJECT->objectConfiguration_object_menuKeyToShowToolsList}
    {if empty($INFO.GET.PLUGIN) }
        {include assign="wgt_tools" file=$CURRENT.OBJECT->objectTemplatePath_widget_systemPluginList}
        {$_contents[]=$wgt_tools}
    {else}
        {* show active plugin menu *}
        {if empty($INFO.GET.DISPLAY) }
            {include assign="wgt_menuList" file=$CURRENT.OBJECT->objectTemplatePath_widget_systemPluginMenu}
            {$_contents[]=$wgt_menuList}
        {/if}
    {/if}
{/if}

{* merge passed arguments *}
{if isset($_header) }
    {$_headers = array_merge($_headers, $_header)}
{/if}
{if isset($_content) }
    {$_contents = array_merge($_contents, $_content)}
{/if}
{if isset($_footer) }
    {$_footers = array_merge($_footers, $_footer)}
{/if}

{* render page *}
{include file=$CURRENT.OBJECT->objectTemplatePath_page_standartSystemPageStyle1 _header=$_headers _content=$_contents _footer=$_footers}