{* SYSTEM: STANDART PAGE IMPLEMENTATION *}

{include assign="wgt_sysUsrInfo" file=$CURRENT.OBJECT->objectTemplatePath_widget_systemUserInfo}
{include assign="msg_common" file=$CURRENT.OBJECT->objectTemplatePath_component_message _realm='COMMON'}

{$_headers[]=$wgt_sysUsrInfo}
{$_contents[]=$msg_common}
{$_footers=Array()}

{if empty($INFO.GET.PLUGIN) }
    {include assign="wgt_tools" file=$CURRENT.OBJECT->objectTemplatePath_widget_systemPluginLinkList}
    {$_contents[]=$wgt_tools}
{else}
    {* show active plugin menu *}
    {if empty($INFO.GET.DISPLAY) }
        {include assign="wgt_menuList" file=$CURRENT.OBJECT->objectTemplatePath_widget_systemPluginLinkMenu}
        {$_contents[]=$wgt_menuList}
    {/if}
{/if}

{* merge passed arguments *}
{if isset($_header) }
    {$_headers = array_merge($_headers, $_header)}
{/if}
{if isset($_content) }
    {$_contents = array_merge($_contents, $_content)}
{/if}
{if isset($_footer) }
    {$_footers = array_merge($_footers, $_footer)}
{/if}

{* render page *}
{include file=$CURRENT.OBJECT->objectTemplatePath_page_standartSystemPageStyle1 _header=$_headers _content=$_contents _footer=$_footers}