<h2>Інтернет-магазин</h2>
<div class="row">
    <div class="col-md-12 col-lg-6 ordersOverview"></div>
    <div class="col-md-12 col-lg-6 productsOverview"></div>
</div>

<div class="row">
    <div class="col-md-12 ordersPending"></div>
    <div class="col-md-12 ordersExpired"></div>
</div>

<div class="row">
    <div class="col-md-12 productsPopular"></div>
    <div class="col-md-12 productsNonPopular"></div>
</div>

<div class="row">
    <div class="col-md-12 ordersIntensityLastMonth"></div>
    <div class="col-md-12 productsIntensityLastMonth"></div>
</div>