<div class="panel-heading">
    <i class="fa fa-bars"></i>
    ! ( В процесі розробки ) ! Форма замовлення
    <span class="switcher-main pull-right"></span>
</div>
<div class="panel-body">
    <div class="list-group">
        <h5 class="hidden">
            Значення, котрі будуть використовуватися для відключених полів
            <i class="fa fa-level-down"></i></span>
        </h5>
    {{#each data}}
        <a href="javascript://" class="list-group-item shop-property-{{@key}} alert" data-property="{{@key}}">
            <input type="checkbox" class="switcher pull-right"{{#if this}}checked{{/if}}>
            <span class="property-label">{{mpwsGetValueByKey ../lang.settings.orderform key=@key }}</span>
        </a>
    {{/each}}
    </div>
</div>
<!-- /.panel-body -->