<div class="panel-heading">
    <i title="Невиконані замовлення" class="fa fa-shopping-cart helper helper-left"></i>
    Необроблені замовлення:
    <span class="pull-right dashed-bottom"><a href="javascript://" class="refresh"><i class="fa fa-refresh"></i></a></span>
</div>
<div class="panel-body">
    <div class="alert alert-info fade in">Немає даних</div>
</div>