<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-shopping-cart"></i>
        {{#if data.info.productCount }}
            {{data.info.productCount}}шт. у кошику
            <span class="caret"></span>
        {{else}}
            Ваш кошик порожній
        {{/if}}
</button>
{{#if data.info.productCount }}
<ul class="dropdown-menu shop-cart-embedded-dropdown-menu" role="menu">
    <li>
        {{>plugin/shop/hbs/partials/cartProductList data }}
    </li>
    <li class="divider"></li>
    <li><a href="/#shop/cart">Відкриити кошик</a></li>
</ul>
{{/if}}