<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapsePluginShop"><span class="glyphicon glyphicon-shopping-cart"></span>Shop</a>
        </h4>
    </div>
    <div id="collapsePluginShop" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="list-group">
                <a href="#shop/products" class="list-group-item">Products</a>
                <a href="#shop/orders" class="list-group-item">Orders</a>
                <a href="#shop/sales" class="list-group-item">Sales</a>
                <a href="#shop/prices" class="list-group-item">Prices</a>
            </div>
        </div>
    </div>
</div>