<h1>Buy ready Essays!</h1>
<div class="content" itemscope itemtype="http://data-vocabulary.org/Product">
    <table cellpadding="5" cellspacing="0" border="0" width="100%">
    <tr>
        <td class="cell01" colspan="2">Details</td>
    </tr>
    <tr>
        <td class="cell04">Subject</td>
        <td class="cell04a">
            <span itemprop="name"><?=$model['CUSTOMER']['DATA']['Title'];?></span>
        </td>
    </tr>
    <tr>
        <td class="cell04">Pages</td>
        <td class="cell04a"><?=$model['CUSTOMER']['DATA']['Pages'];?></td>
    </tr>
    <tr>
        <td class="cell04">Price</td>
        <td class="cell04a">
        <span itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
            <meta itemprop="currency" content="USD"/>
            $<span itemprop="price" content="<?=sprintf("%01.2f", $model['CUSTOMER']['DATA']['Price']);?>"><?=sprintf("%01.2f", $model['CUSTOMER']['DATA']['Price']);?></span>
            <span itemprop="offerURL" content="http://<?=$_SERVER['SERVER_NAME'].$_SERVER['REQUEST_URI'];?>"></span>
            <span itemprop="availability" content="in_stock"></span>
        </span>
        </td>
    </tr>
    </table>

    <div itemscope itemtype="http://data-vocabulary.org/Review-aggregate" style="display:none;">
        <span itemprop="itemreviewed">Anonymous</span>
        <span itemprop="rating" itemscope itemtype="http://data-vocabulary.org/Rating">
        <span itemprop="average">4.9</span> out of <span itemprop="best">5</span>
        </span> based on <span itemprop="votes">28</span> ratings.
        <span itemprop="count">12</span> user reviews.
    </div>

    <table cellpadding="5" cellspacing="0" border="0" width="100%">
    <tr style="display:none;">
        <td class="cell01">
            <span>Reviews</span>
            <a id="MPWSLinkWriterReviewID" data-fancybox-type="iframe" href="/page/submit_review.html?owner=<?=$model['CUSTOMER']['DATA']['ID'];?>">Write A Review</a>
        </td>
    </tr>
    <tr>
        <td class="cell05" align="right">
            <span itemprop="description" class="MPWSHidden"><?=implode(' ', array_slice(explode(' ', strip_tags($model['CUSTOMER']['DATA']['Sample'])), 0, 50));?>...</span>
            <span itemprop="category" class="MPWSHidden"><?=$model['CUSTOMER']['DATA']['Description'];?></span>
            <?=$model['CUSTOMER']['DATA']['Sample'];?>
        </td>
    </tr>
    </table>

    <table cellpadding="5" cellspacing="0" border="0" width="100%">
    <tr>
        <td class="cell01">Sample text</td>
    </tr>
    <tr>
        <td class="cell05" align="right">
            <span itemprop="description category" class="MPWSHidden"><?=$model['CUSTOMER']['DATA']['Description'];?></span>
            <?=$model['CUSTOMER']['DATA']['Sample'];?>
        </td>
    </tr>
    </table>

     <center>
        <a href="?action=buy&amp;oid=<?=$model['CUSTOMER']['DATA']['ID'];?>" class="btn01">Buy</a>
        <a href="<?=$model['CUSTOMER']['REFERER'];?>" class="btn01">Back</a>
     </center>
</div>
<div id="base-text">
    <div class="MPWSStaticContentWrapper" title="Buy Ready Essays">
    <?=getValue($model['PROPS']['BUY_READY_ESSAYS']);?>
    </div>
</div>
