<div class="col-md-12">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Мої списки товарів</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">...</p>
      </a>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">...</p>
      </a>
    </div>
  </div>
</div>

</div>
<div class="col-md-12">
    {{#mpwsIsNotEmpty data }}
    <div class="well">
        <div class="actions">
            <a href="javascript://" data-action="plugin:shop:list_wish:clear" data-id="*">
                <i class="fa fa-trash-o"></i> Видалити всі товари з списку
            </a>
        </div>
    </div>
    <div class="well">
        {{>plugin/shop/common/hbs/partials/wishProductList data }}
    </div>
    <div class="well">
        <div class="actions">
            <a href="javascript://" data-action="plugin:shop:list_wish:clear" data-id="*">
                <i class="fa fa-trash-o"></i> Видалити всі товари з списку
            </a>
        </div>
    </div>
    {{else}}
    <div class="alert alert-warning">Ваш список товарів порожній</div>
    {{/mpwsIsNotEmpty}}
</div>