<option value="NEW">Нове</option>
<option value="ACTIVE">В процеси виконання</option>
<option value="LOGISTIC_DELIVERING">Відправлено</option>
<option value="LOGISTIC_DELIVERED">Вантаж прибув</option>
<option value="SHOP_CLOSED">Виконано</option>