<!DOCTYPE html>
<html>
<head>
    <title>MPWS Toolbox</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <link rel="stylesheet" type="text/css" href="/static/toolboxDisplay.css">
    <script type="text/javascript" src="/static/toolboxAction.js"></script>

    
</head>
<body>


<div class="MPWSPage MPWSPageToolbox">

<div class="MPWSPage MPWSPageToolbox MPWSPageDisplay_Login">

    <div class="MPWSWrapper MPWSWrapperLayoutToolbox">
        <div class="MPWSLayout MPWSLayoutToolbox">
            <h2>TEAM LEAD WORKDESK</h2>
            <div class="MPWSComponent MPWSComponentUserInfo">
                <form action="" method="POST">
                    You are signed in as: <b>username</b>
                    <input type="submit" name="do" value="logout"/>
                </form>
                Your home page url: <a href="//{$smarty.server.HTTP_HOST}" target="_blank">{$smarty.const.MPWS_CUSTOMER}</a>
                <div>
                    tools
                </div>
            </div>
            
            <hr size="2">
            
                <div class="MPWSComponent MPWSComponentMenu">
                    menu
                </div>
            <div class="MPWSComponent MPWSComponentContent">
                messages
                <div class="MPWSMainContentWrapper">
                content
                <p class="MPWSEmptyParagraph">&nbsp</p>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
