{$_widgetName = "SingleQueryCapture"}
{$_resourceOwner = $_resourceOwner|default:($CURRENT.SOURCE.RESOURCE|default:$_widgetName)}
{assign var="DTV_CFG" value=$CURRENT.OBJECT->{"objectConfiguration_widget_singleQueryCapture`$CURRENT.SOURCE.NAME`"}}

<div id="MPWSWidget{$_resourceOwner|capitalize}ID" class="MPWSWidget MPWSWidget{$_widgetName} MPWSWidget{$_resourceOwner|capitalize}">
    <form action="{$DTV_CFG.form.action}" method="{$DTV_CFG.form.method}" class="MPWSForm">
        <div class="MPWSFormHeader">
        {include file=$CURRENT.OBJECT->objectTemplatePath_simple_header _key=$_widgetName}
        </div>
        <div class="MPWSFormBody">
        {* display job installer *}
        {if $CURRENT.SOURCE.DATA.EDIT_PAGE == 'edit'}
            {* main capture text *}
            {include file=$CURRENT.OBJECT->objectTemplatePath_component_dataRow _label=$CURRENT.OBJECT->objectProperty_widget_singleQueryCaptureMainText _value=$CURRENT.SOURCE.DATA.TITLE}
            {* additional capture text *}
            {if not empty($CURRENT.SOURCE.DATA.SUBTITLE)}
                {include file=$CURRENT.OBJECT->objectTemplatePath_component_dataRow _label=$CURRENT.OBJECT->objectProperty_widget_singleQueryCaptureAdditionalText _value=$CURRENT.SOURCE.DATA.SUBTITLE}
            {/if}
            {* captured link control *}
            {include file=$CURRENT.OBJECT->objectTemplatePath_trigger_control _type='textbox' _name=$DTV_CFG.name _value=$CURRENT.SOURCE.DATA.ACTION _resourceOwner=$_resourceOwner _controlOwner=$_widgetName}
        {elseif $CURRENT.SOURCE.DATA.EDIT_PAGE == 'save'}
            {include file=$CURRENT.OBJECT->objectTemplatePath_simple_text _resourceOwner='display' _key="`$_widgetName`SaveMain"}
        {/if}
        </div>
        <div class="MPWSFormFooter">
        {include file=$CURRENT.OBJECT->objectTemplatePath_control_mpwsFormButtons _buttons=$DTV_CFG.form.controls _controlOwner=$_widgetName _resourceOwner='control'}
        </div>
    </form>
</div>