{$_widgetName = "DataRecordManager"}
{$_resourceOwner = $_resourceOwner|default:($CURRENT.SOURCE.RESOURCE|default:$_widgetName)}
{assign var="DTV_CFG" value=$CURRENT.OBJECT->{"objectConfiguration_widget_dataRecordManager`$CURRENT.SOURCE.NAME`"}}

<div id="MPWSWidget{$_resourceOwner|capitalize}ID" class="MPWSWidget MPWSWidget{$_widgetName} MPWSWidget{$_resourceOwner|capitalize}">
    {include file=$CURRENT.OBJECT->objectTemplatePath_simple_header _title=$CURRENT.SOURCE.DATA.RECORD[$DTV_CFG.caption]}
    
    {* record owner information *}
    
    <div id="MPWSBlock MPWSBlockRecordOwner">
    {foreach $CURRENT.SOURCE.DATA.RECORD as $fieldName => $fieldValue}
        {include file=$CURRENT.OBJECT->objectTemplatePath_trigger_control _type='mpwsLabelValue' _name=$fieldName _resourceOwner=$_resourceOwner _value=$fieldValue}
    {/foreach}
    </div>

    {*$_formInnerAction = $CURRENT.SOURCE.DATA.EDIT_PAGE*}
        
    {* customization area *}
    
    {* add all managers by configuration *}
    
    {$_managerCount = $DTV_CFG.managers|@count}

    {* put all managers into TABs | opening TAB area *}
    {if $_managerCount > 1}
        <div class="MPWSBlock MPWSRenderModeTabs MPWSBlockManagers">
            <ul class="MPWSList MPWSListManagerTabs" mpws-activetab="{$CURRENT.SOURCE.DATA.COMMON.ACTIVE_INDEX}">
                {foreach $DTV_CFG.managers as $managerEntry}
                <li class="MPWSListItem">
                    <a href="#MPWSBlockManager_{$managerEntry@key}_ID">{$managerEntry@key}</a>
                </li>
                {/foreach}
            </ul>
    {/if}
    
    {* render all managers *}
    {foreach $CURRENT.SOURCE.DATA.MANAGER as $managerID => $managerEntry}
        {$_formInnerAction = $managerEntry.EDIT_PAGE}
        {$_managerConfig = $DTV_CFG.managers.$managerID}
        <div id="MPWSBlockManager_{$managerID}_ID" class="MPWSBlock MPWSBlockManager">
        {block name="topBlock"}{/block}
        <form action="" method="POST">
            <div class="MPWSFormHeader">{block name="generalBlockFormHeader"}{/block}</div>
            <div class="MPWSFormBody">
                <input type="hidden" name="mpws_field_manager_request_origin" value="{$managerID|lower}">
                <input type="hidden" name="mpws_field_manager_request_page_sender" value="{$_formInnerAction|lower}">
                {block name="generalBlockFormBodyTop"}{/block}
                
                
                {if $_formInnerAction eq 'NEW'}
                
                    {include file=$CURRENT.OBJECT->objectTemplatePath_trigger_control
                        _type='textbox'
                        _name="`$managerID`_newitem"
                        _controlOwner=$_widgetName
                        _resourceOwner=$_resourceOwner
                        _single=true}

                    {include file=$CURRENT.OBJECT->objectTemplatePath_control_mpwsFormButtons _buttons=['Save', 'Cancel'] _controlOwner=$_widgetName _resourceOwner='control'}

                {elseif $_formInnerAction eq 'EDIT' }
                
                    <div class="MPWSBlock MPWSBockReportScriptEditArea">
                        {include file=$CURRENT.OBJECT->objectTemplatePath_control_mpwsRTEWH
                            _name=$managerID
                            _type=$_managerConfig.editor.type
                            _value=$managerEntry.CONTENT.DATA
                            _sources=$managerEntry.CONTENT.SOURCE
                            _useDivWrapper=$_managerConfig.editor.divmode
                            _jslib=$_managerConfig.editor.jslib}
                    </div>
                
                {elseif $_formInnerAction eq 'REMOVE' }
                
                    {include file=$CURRENT.OBJECT->objectTemplatePath_trigger_control
                        _type='mpwsListBox'
                        _name=$managerID
                        _controlOwner=$_widgetName
                        _resourceOwner=$_resourceOwner
                        _items=$managerEntry.CONTENT.SOURCE
                        _renderMode=$_managerConfig.listbox.displayMode
                        _initValues=true
                        _customValueHolder='removeable'
                        _single=true}

                    {include file=$CURRENT.OBJECT->objectTemplatePath_control_mpwsFormButtons _buttons=['Save', 'Cancel'] _controlOwner=$_widgetName _resourceOwner='control'}
                
                {elseif $_formInnerAction eq 'LIST' }
                
                    {if not empty($_managerConfig.buttons.top)}
                        {include file=$CURRENT.OBJECT->objectTemplatePath_control_mpwsFormButtons _buttons=$_managerConfig.buttons.top _controlOwner=$_widgetName _resourceOwner='control'}
                    {/if}

                    {include file=$CURRENT.OBJECT->objectTemplatePath_trigger_control
                        _type='mpwsListBox'
                        _name=$managerID
                        _controlOwner=$_widgetName
                        _resourceOwner=$_resourceOwner
                        _items=$managerEntry.CONTENT.SOURCE
                        _renderMode=$_managerConfig.listbox.displayMode
                        _checkboxes=true
                        _numLines=true
                        _captions=$_managerConfig.listbox.captions}

                    {if not empty($_managerConfig.buttons.bottom)}
                        {include file=$CURRENT.OBJECT->objectTemplatePath_control_mpwsFormButtons _buttons=$_managerConfig.buttons.bottom _controlOwner=$_widgetName _resourceOwner='control'}
                    {/if}
                
                {/if}
                
                
                {block name="generalBlockFormBodyBottom"}{/block}
            </div>
            <div class="MPWSFormFooter">{block name="generalBlockFormFooter"}{/block}</div>
        </form>
        {block name="bottomBlock"}{/block}
        </div>
    {/foreach}
    
    {* put all managers into TABs | closing TAG area *}
    {if $_managerCount > 1}
        </div>
    {/if}
    
    {* additional links *}
    <div class="MPWSBlock MPWSBlockDataEditorBottomLinks">
        {include file=$CURRENT.OBJECT->objectTemplatePath_trigger_control
            _type='mpwsLinkAction'
            _name='BackToRecords'
            _controlOwner=$_widgetName
            _action='BackToRecords'
            _resourceOwner=$_resourceOwner
            _href=$CURRENT.SOURCE.DATA.REFERER
            _single=true
            _mode='system'}
    </div>
</div>