{$_widgetName = "DataApiViewer"}
{$_resourceOwner = $_resourceOwner|default:($CURRENT.SOURCE.RESOURCE|default:$_widgetName)}
{assign var="DTV_CFG" value=$CURRENT.OBJECT->{"objectConfiguration_widget_dataApiViewer`$CURRENT.SOURCE.NAME`"}}

<div id="MPWSWidget{$_resourceOwner|capitalize}ID" class="MPWSWidget MPWSWidget{$_widgetName} MPWSWidget{$_resourceOwner|capitalize}">
    
    {$__key = md5($CURRENT.OBJECT->objectConfiguration_customer_masterJsApiKey)}
    {$__token = "token=`$__key`"}
    {$__qCmnParams = "`$__token`&realm=`$CURRENT.OBJECT->getObjectType()`"}
    {$__qCaller = "caller=`$CURRENT.OBJECT->getObjectName()`"}
    {$__apiChannel = $CURRENT.OBJECT->objectConfiguration_intercom_apiChannel}
    {$__apiSchema = $CURRENT.OBJECT->objectConfiguration_intercom_apiSchema}
    {$__apiLinkBase = "`$__apiSchema`://{$smarty.server.HTTP_HOST}/`$__apiChannel`?`$__qCaller`"}
    {$__prop__ = "objectProperty_`$_resourceOwner`_"}
    {$__propEntry = "`$__prop__`entryLinkFor-"}
    {$__propAuxiliary = "`$__prop__`auxiliaryLinkFor-"}
    
    {* sales force import action security key *}
    {include file=$CURRENT.OBJECT->objectTemplatePath_component_dataRow _label=$CURRENT.OBJECT->{"`$__prop__`securityKey"} _value=$__key}
    
    
    {block name="apiLinksContentBefore"}{/block}
    
    {* display all main actions *}
    {foreach $CURRENT.SOURCE.DATA.RECORDS as $idx => $entry}
    
        {* action link params *}
        {$__entryTitle = $CURRENT.OBJECT->{"`$__propEntry``$entry.ExternalKey`"}}
        {$__qEntryParams = "`$__qCmnParams`&oid=`$entry.ID`&name=`$__entryTitle`"}
        {$_apiLink = "`$__apiLinkBase`&fn=`$DTV_CFG.apiActions.entry`&p={urlencode($__qEntryParams)}"}
        
        {* display api action link *}
        {include file=$CURRENT.OBJECT->objectTemplatePath_component_dataRow _label=$__entryTitle _value=$_apiLink}

        {* add setup link *}
        {if $CURRENT.OBJECT->objectConfiguration_customer_allowJobInstallerLink}
            {include file=$CURRENT.OBJECT->objectTemplatePath_trigger_control
                _type='mpwsLinkAction'
                _name=$entry.ExternalKey
                _controlOwner=$_widgetName
                _action="addjob"
                _single=true
                _href="`$CURRENT.OBJECT->objectConfiguration_intercom_jobInstallerUrlChannel`{urlencode($_apiLink)}"
                _mode='system'}
        {/if}

        {* display additional actions *}
        {if not empty($CURRENT.SOURCE.DATA.ADDITIONAL.$idx)}

            {foreach $CURRENT.SOURCE.DATA.ADDITIONAL.$idx as $scriptKey => $scriptName}

                {* action link params *}
                {$__auxilaryTitle = $CURRENT.OBJECT->{"`$__propAuxiliary``$scriptKey`"}}
                {$__qAuxilaryParams = "`$__qCmnParams`&oid=`$entry.ID`&name=`$__auxilaryTitle`&custom={urlencode("script=`$scriptKey`")}"}
                {$_apiLink = "`$__apiLinkBase`&fn=`$DTV_CFG.apiActions.additional`&p={urlencode($__qAuxilaryParams)}"}

                {* display api action link *}
                {include file=$CURRENT.OBJECT->objectTemplatePath_component_dataRow _label=$__auxilaryTitle _value=$_apiLink}

                {* add setup link *}
                {if $CURRENT.OBJECT->objectConfiguration_customer_allowJobInstallerLink}
                    {include file=$CURRENT.OBJECT->objectTemplatePath_trigger_control
                        _type='mpwsLinkAction'
                        _name=$entry.ExternalKey
                        _controlOwner=$_widgetName
                        _action="addjob"
                        _single=true
                        _href="`$CURRENT.OBJECT->objectConfiguration_intercom_jobInstallerUrlChannel`{urlencode($_apiLink)}"
                        _mode='system'}
                {/if}

            {/foreach}

        {/if}
        
        
        <hr size="2">
    
    {/foreach}
    
    
    {block name="apiLinksContentAfter"}{/block}

</div>