{* Get Configuration For The Widget *}
{$_widgetName = "dataEditor`$CURRENT.SOURCE.NAME`"}
{assign var="DTV_CFG" value=$CURRENT.OBJECT->{"objectConfiguration_widget_dataEditor`$CURRENT.SOURCE.NAME`"}}

<div id="MPWSWidget{$CURRENT.SOURCE.NAME}ID" class="MPWSWidget MPWSWidget{$CURRENT.SOURCE.NAME}">
    
    {$_formInnerAction = libraryRequest::getPostFormAction()|lower}
    {$_sourceOID = libraryRequest::getOID()}
    {if empty($_formInnerAction) }
        {$_formInnerAction = "new"}
    {/if}
    
    {* widget title *}
    {include file=$CURRENT.OBJECT->objectTemplatePath_component_objectSummary _ownerName=$_widgetName _customText=$CURRENT.OBJECT->{"objectProperty_component_editBoxState`$_formInnerAction|upper`"}}
    
    {* editor form *}
    <form action="{$DTV_CFG.form.$_formInnerAction.action}" name="data_edit_{$CURRENT.SOURCE.NAME|lower}" method="{$DTV_CFG.form.$_formInnerAction.method}" class="MPWSForm MPWSFormEditor MPWSFormEditorPage{$_formInnerAction|capitalize:0:1}">

    {* page content *}
    
    {if $_formInnerAction eq "new"}
    
        {* create new form page *}
        {* completely new record without any initial data *}
        {foreach $CURRENT.SOURCE.DATA.FIELDS as $fieldIndex => $fieldEntry}
            {include file=$CURRENT.OBJECT->objectTemplatePath_component_databaseField _type=$fieldEntry.Type _name=$fieldEntry.Field _ownerName=$_widgetName}
        {/foreach}
        {include file=$CURRENT.OBJECT->objectTemplatePath_component_simpleFormButtons _resource='custom' _page=$_formInnerAction _buttons=$DTV_CFG.form.edit.buttons}
    
    {elseif $_formInnerAction eq "edit"}
    
        {* edit form page *}
        {foreach $CURRENT.SOURCE.DATA.FIELDS as $fieldIndex => $fieldEntry}
            {include file=$CURRENT.OBJECT->objectTemplatePath_component_databaseField _type=$fieldEntry.Type _name=$fieldEntry.Field _ownerName=$_widgetName}
        {/foreach}
        {include file=$CURRENT.OBJECT->objectTemplatePath_component_simpleFormButtons _resource='custom' _page=$_formInnerAction _buttons=$DTV_CFG.form.edit.buttons}
        
    {elseif $_formInnerAction eq "preview"}
    
        {* preview page *}
        {foreach $CURRENT.SOURCE.DATA.FIELDS as $fieldIndex => $fieldEntry}
            {include file=$CURRENT.OBJECT->objectTemplatePath_component_databaseField _type=$fieldEntry.Type _name=$fieldEntry.Field _ownerName=$_widgetName _readonly=true}
        {/foreach}
        {include file=$CURRENT.OBJECT->objectTemplatePath_component_simpleFormButtons _resource='custom' _page=$_formInnerAction _buttons=$DTV_CFG.form.preview.buttons}
        
    {elseif $_formInnerAction eq "save"}
    
        {* saved page *}
        {include file=$CURRENT.OBJECT->objectTemplatePath_component_simpleFormButtons _resource='custom' _page=$_formInnerAction _buttons=$DTV_CFG.form.save.buttons}
        
    {elseif $_formInnerAction eq "cancel"}
    
        {* canceled page *}
        {include file=$CURRENT.OBJECT->objectTemplatePath_component_simpleFormButtons _resource='custom' _page=$_formInnerAction _buttons=$DTV_CFG.form.cancel.buttons}
    {/if}

    </form>
    
</div>