<div id="MPWSWidgetSystemPluginListID" class="MPWSWidget MPWSWidgetSystemPluginList">
    <ul class="MPWSList">
    {foreach $OBJECT.WOB as $webObj}
        <li id="MPWSListItem{$webObj->getObjectName()|capitalize:0:1}ID" class="MPWSListItem MPWSListItem{$webObj->getObjectName()|capitalize:0:1}">
            <a href="{$webObj->objectConfiguration_object_menuExecObjectPath}?plugin={$webObj->getObjectName()|lower}" class="MPWSLink" title="{$webObj->objectProperty_widget_systemPluginListTitle}">
                <div class="MPWSBlock">
                    <div class="MPWSWrapper">
                        <span class="MPWSText MPWSTextTitle">{$webObj->objectProperty_widget_systemPluginListTitle}</span>
                        <span class="MPWSText MPWSTextDescription">{$webObj->objectProperty_widget_systemPluginListDescription}</span>
                        <span class="MPWSText MPWSTextLink">{$webObj->objectProperty_widget_systemPluginLinkListStartText}</span>
                    </div>
                </div>
            </a>
        </li>
    {/foreach}
    </ul>
</div>