{$_widgetName = "SystemUserInfo"}
<div id="MPWSWidgetSystemUserInfoID" class="MPWSWidget MPWSWidgetSystemUserInfo">
    <form action="" method="POST" class="MPWSForm">
        <div class="MPWSFormHeader">
        {include file=$CURRENT.OBJECT->objectTemplatePath_simple_header _key=$_widgetName}
        </div>
        <div class="MPWSFormBody">
        {* user name row *}
        {include file=$CURRENT.OBJECT->objectTemplatePath_component_dataRow _label=$CURRENT.OBJECT->objectProperty_widget_systemUserInfoWelcomeMessage _value=$INFO.USER.NAME}
        {* last access row *}
        {include file=$CURRENT.OBJECT->objectTemplatePath_component_dataRow _label=$CURRENT.OBJECT->objectProperty_widget_systemUserInfoLastAccess _value=$INFO.USER.SINCE}
        {* home page link *}
        {include file=$CURRENT.OBJECT->objectTemplatePath_simple_link _href=$CURRENT.OBJECT->objectConfiguration_customer_homepage _title=$smarty.const.MPWS_CUSTOMER assign=simpleHyperlinkHomepage}
        {* home page row *}
        {include file=$CURRENT.OBJECT->objectTemplatePath_component_dataRow _label=$CURRENT.OBJECT->objectProperty_widget_systemUserInfoHomePageLinkPrefix _value=$simpleHyperlinkHomepage}
        
        </div>
        <div class="MPWSFormFooter">
        {include file=$CURRENT.OBJECT->objectTemplatePath_control_mpwsFormButtons _buttons=['SignOut'] _controlOwner=$_widgetName}
        </div>
    </form>
</div>