<div id="MPWSWidgetSystemUserInfoID" class="MPWSWidget MPWSWidgetSystemUserInfo">
    <form action="" method="POST" class="MPWSForm">
        <div class="MPWSLabelValueRow">
            <span class="MPWSLabel">{$CURRENT.OBJECT->objectProperty_user_systemWelcomeMessage}</span>
            <span class="MPWSValue">{$INFO.USER.NAME}</span>
        </div><div class="MPWSLabelValueRow">
            <span class="MPWSLabel">{$CURRENT.OBJECT->objectProperty_user_systemUserLastAccess}</span>
            <span class="MPWSValue">{$INFO.USER.SINCE|date_format:$CURRENT.OBJECT->objectConfiguration_format_dateTimeDisplay}</span>
        </div>
        <div class="MPWSLabelValueRow">
            <span class="MPWSLabel">{$CURRENT.OBJECT->objectProperty_site_homePage}</span>
            <span class="MPWSValue"><a href="{$SITE->objectConfiguration_customer_homepage}" target="blank" class="MPWSLink">{$smarty.const.MPWS_CUSTOMER}</a></span>
        </div>
        <button type="submit" name="do" value="logout" class="MPWSButton">{$CURRENT.OBJECT->objectProperty_user_formSignoutButtonText}</button>
    </form>
</div>