<div id="MPWSWidgetSystemUserInfoID" class="MPWSWidget MPWSWidgetSystemUserInfo">
    <form action="" method="POST" class="MPWSForm">
        {* user name row *}
        {include file=$CURRENT.OBJECT->objectTemplatePath_component_divRowLabelValue _label=$CURRENT.OBJECT->objectProperty_widget_systemUserInfoWelcomeMessage _value=$INFO.USER.NAME}
        {* last access row *}
        {include file=$CURRENT.OBJECT->objectTemplatePath_component_divRowLabelValue _label=$CURRENT.OBJECT->objectProperty_widget_systemUserInfoLastAccess _value=$INFO.USER.SINCE}
        {* home page link *}
        {include file=$CURRENT.OBJECT->objectTemplatePath_component_simpleHyperlink _href=$CURRENT.OBJECT->objectConfiguration_customer_homepage _title=$smarty.const.MPWS_CUSTOMER assign=simpleHyperlinkHomepage}
        {* home page row *}
        {include file=$CURRENT.OBJECT->objectTemplatePath_component_divRowLabelValue _label=$CURRENT.OBJECT->objectProperty_widget_systemUserInfoHomePageLinkPrefix _value=$simpleHyperlinkHomepage}
        <button type="submit" name="do" value="logout" class="MPWSButton">{$CURRENT.OBJECT->objectProperty_widget_systemUserInfoSignoutButtonText}</button>
    </form>
</div>