<div class="panel-heading">
    <i class="fa fa-plus fa-fw add-address"></i>
    Адреси та час роботи
    <span class="switcher-main pull-right"></span>
</div>
<div class="panel-body">
    {{#if extras.shopNames.length}}
    {{#each extras.shopNames}}
        <a href="javascript://" class="list-group-item address" data-id="{{ID}}">
            <i class="fa fa-times fa-fw text-danger remove-delivery"></i>
            <span class="edit-address">{{Value}}</span>
            <input type="checkbox" class="switcher pull-right"{{#if _isActive}}checked{{/if}}>
        </a>
    {{/each}}
    {{else}}
    У Вас немає жодної адреси
    {{/if}}
</div>
<!-- /.panel-body -->