<div class="panel-heading">
    <i class="fa fa-plus fa-fw add-delivery text-info"></i> Варіанти доставки
</div>
<!-- /.panel-heading -->
<div class="panel-body">
    <div class="list-group">
        <a href="javascript://" class="list-group-item">
            <input type="checkbox" class="switcher switcher-config-self-pickup"> самовивіз
        </a>
    {{#each data}}
        <a href="javascript://" class="list-group-item agency" data-id="{{ID}}">
            <i class="fa fa-times fa-fw text-danger remove-delivery"></i>
            <span class="editable name">{{Name}}</span>
            <input type="checkbox" class="switcher pull-right"{{#if _isActive}}checked{{/if}}>
        </a>
    {{/each}}
    </div>
</div>
<!-- /.panel-body -->
<a href="javascript://" class="list-group-item agency is-new agency-template hidden">
    <i class="fa fa-times fa-fw text-danger remove-delivery"></i>
    <span class="editable name">Без назви</span>
    <input type="checkbox" class="switcher pull-right">
    <button type="button" class="btn btn-success btn-xs pull-right create-delivery">Зберегти</button>
</a>