<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Контактні дані та графік роботи
            </div>
            <div class="panel-body">
                <address>
                    <strong class="editable">Twitter, Inc.</strong>
                    <br>
                    <span class="editable">
                        795 Folsom Ave, Suite 600
                    </span>
                    <br>
                    <span class="editable">
                        San Francisco, CA 94107
                    </span>
                    <br>
                    <span class="editable myeditable_phone">
                        (123) 456-7890
                    </span>
                </address>
                <address>
                    <strong class="editable">Full Name</strong>
                    <br>
                    <span class="editable">first.last@example.com</span>
                </address>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <div class="col-md-4 delivery-agencies"></div>
    <div class="col-md-4"></div>
</div>