<div class="panel-heading">
    <i class="fa fa-bar-chart-o fa-fw"></i>
    SEO Оптимізація
    <span class="switcher-main pull-right"></span>
</div>
<div class="panel-body">
    {{#each data}}
        <a href="javascript://" class="list-group-item shop-property-{{Property}}" data-id="{{ID}}">
            <i class="fa fa-pencil fa-fw"></i>
            <span class="property-label">{{mpwsGetValueByKey ../lang Property "setting_property_" }}</span>
        </a>
    {{/each}}
</div>
<!-- /.panel-body -->