<div class="row">
    <div class="col-md-4">
        <div class="shop-settings shop-settings-curency"></div>
        <div class="shop-settings shop-settings-alerts"></div>
        <div class="shop-settings shop-address"></div>
    </div>
    <div class="col-md-4">
        <div class="shop-settings delivery-agencies"></div>
        <div class="shop-settings website-form-order"></div>
    </div>
    <div class="col-md-4">
        <div class="shop-settings shop-product"></div>
        <div class="shop-settings shop-seo"></div>
    </div>
</div>