<div class="panel-heading">
    <i class="fa fa-bar-chart-o fa-fw"></i>
    SEO Оптимізація
    <span class="switcher-main pull-right"></span>
</div>
<div class="panel-body">
    <ul class="list-group hidden">
        <li class="list-group-item js-product-vars">
            <h5>Доступні змінні для сторінки з товаром</h5>
            <span class="label label-default">ProductName</span>
            <span class="label label-default">CategoryName</span>
            <span class="label label-default">OriginName</span>
            <span class="label label-default">ProductModel</span>
            <span class="label label-default">ProductDisplayTitle</span>
        </li>
        <li class="list-group-item js-cat-vars">
            <h5>Доступні змінні для сторінки каталогу (категорії)</h5>
            <span class="label label-default">CatalogFirst5ProductNames</span>
            <span class="label label-default">CategoryName</span>
            <span class="label label-default">CatalogFirst5OriginNames</span>
            <span class="label label-default">CatalogFirst5ProductModels</span>
        </li>
        <li class="list-group-item js-home-vars">
            <h5>Доступні змінні для головної сторінка</h5>
            <span class="label label-default">CatalogFirst10ProductNames</span>
            <span class="label label-default">CatalogFirst10OriginNames</span>
            <span class="label label-default">CatalogFirst10ProductModels</span>
            <span class="label label-default">CatalogFirst10CategoryNames</span>
        </li>
    </ul>
    {{#each data}}
    <a href="javascript://" class="list-group-item shop-property-{{@key}}" data-property="{{@key}}">
        <i class="fa fa-pencil fa-fw"></i>
        <span class="property-label">{{mpwsGetValueByKey ../lang.settings.seo key=@key }}</span>
    </a>
    {{/each}}
</div>
<!-- /.panel-body -->