@mainColor: #CF7400;
@textColor: #fff;
@textForegroundColor: #fff;
@buttonTextColor: #333;
@buttonColorHover: darken(@mainColor, 10%);

@import "base";
@import "sb-admin2";
@import "metisMenu";
@import "animations/fbLoader";
@import "animations/shake";
@import "bootstrap-magnify";
@import "bootstrap-combobox";
@import "bootstrap-slider";
@import "backgrid";
@import "backgrid-paginator";
@import "bootstrap-dialog";
@import "bootstrap-editable";
@import "select2";
@import "jsTreeStyle";
@import "bootstrap-tagsinput";
@import "bootstrap-switch";
@import "bootstrap-alert";
@import "bootstrap-datetimepicker";
@import "jquery.fileupload/jquery-fileupload";

body {
    background-image: none;
}
#page-wrapper {
    padding-top: 30px;
}
.dashboard-container {
    margin-bottom: 30px;
    min-height: 50px;
}
.dashed-bottom {
    border-bottom: 1px dashed #428bca;
    &:hover {
        border-bottom: 1px dashed #2a6496;
    }
}
.dashed-bottom a:hover {
    text-decoration: none;
}
.PageSignin {
    background-color: #292525;
    .navbar-static-top {
        display: none;
    }
    #page-wrapper {
        padding-top: 100px;
        background: none;
        margin: 0px;
    }
}
.title-powered {
    color: #fff;
    display: none;
    margin-left: 35px;
    position: relative;
    top: -15px;
    font-size: 0.65em;
}
.toolbox-component-form-signin {
    margin: 0px auto;
    border: 1px solid #333;
    box-shadow: 0px 0px 10px #000;
    background-color: #FFF;
    padding: 10px;
    width: 400px;
    &, legend {
        color: #333;
    }
    .form-group.buttons {
        text-align: right;
    }
}
.plugin-shop-stats {
    .panel-heading {
        .text-right {
            a {
                color: #fff;
                display: inline-block;
                margin-left: 5px;
                border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
                &:hover {
                    text-decoration: none;
                    border-bottom: 1px dashed #fff;
                }
            }
        }
        .huge {
            a {
                border: 0px none;
                &:hover {
                    border: 0px none;
                    text-shadow: 0px 0px 10px #fff;
                }
            }
        }
    }
}

.pluginShopOrderPopup {
    .modal-dialog {
        width: 50%;
    }
    .shop-widget-productlist {
        .wrapper {
            position: relative;
            padding: 3px 0px 14px;
            border-top: 1px solid #ddd;
            &:nth-child(odd) {
                background-color: #f9f9f9;
            }
            &:nth-child(even) {
                background-color: #fff;
            }
            .shop-product-image-main {
                height: 32px;
                max-width: 32px;
                max-height: 32px;
                display: inline-block;
            }
            .product-name {} .product-price {} .label-default {} .product-quantity {} .product-total {} .productQuantityAction {} .form-control.quantity {
                display: none;
            }
            .shop-product-remove {
                display: none;
            }
        }
    }
    .cartInfo {
        .btn-promo-cancel {
            display: none;
        }
        .shopPropmoCode {
            display: none;
        }
    }
    .list-group-item-status_ACTIVE {
        background-color: #EFD;
    }
    .list-group-item-status_NEW {
        background-color: #FDD;
    }
    .list-group-item-status_LOGISTIC_DELIVERING,
    .list-group-item-status_LOGISTIC_DELIVERED {
        background-color: #FFFEDD;
    }
    .list-group-item-status_SHOP_CLOSED {
        background-color: #DDD;
    }
}
.shop-toolbox-orders {
    .tab-pane {
        padding-top: 15px;
    }
    .panel-heading {
        overflow: hidden;
    }
    .search-block {
        float: right;
        .fa-search {
            margin-right: -25px;
            position: relative;
            color: #dedede;
        }
        .bootstrap-tagsinput {
            margin: 0px;
            padding-left: 30px;
            width: 400px;
        }
    }
}
.shop-managerContent {
    .tab-pane {
        padding-top: 15px;
    }
    .nav-pills {
        li {
            background: none;
            a {
                text-decoration: none;
                background: none;
                color: #428BCA;
                padding: 0px 10px 0px 0px;
            }
            &.active {
                a, a:hover {
                    background: none;
                    color: #428BCA;
                    text-decoration: underline;
                }
            }
        }
    }
}
.html-cell.custom-row-context-menu {
    overflow: visible;
}
.shop_managerProducts {
    .panel-heading {
        overflow: hidden;
    }
    .fa-search {
        margin-right: -25px;
        position: relative;
        color: #dedede;
    }
    .search-block {
        float: right;
        .bootstrap-tagsinput {
            margin: 0px;
            padding-left: 30px;
            width: 400px;
        }
    }
}
.shop_filterPanelOrigins {
    .filter-list-origins {
        overflow-y: auto;
        height: 500px;
        padding-right: 15px;
        div.checkbox {
            .btn-group {
                .btn {
                    font-size: 12px;
                    line-height: normal;
                    padding: 0px;
                    .fa-cog {
                        display: none;
                    }
                }
                display:none;
            }
            .btn-group.open {
                display: inline-block;
            }
            &:focus,
            &:hover {
                .btn-group {
                    display: inline-block;
                }
            }
            .dropdown-menu {
                position: fixed;
            }
        }
        .origin-item {
            &.removed {
                label {
                    text-decoration: line-through;
                }
            }
        }
        .label-datecreated {
            color: #333;
            opacity: 0.4;
            filter: alpha(opacity=40);
            /* For IE8 and earlier */
            font-size: 0.69em;
            padding-right: 10px;
        }
        .origin-homepage {
            opacity: 0.3;
            filter: alpha(opacity=30);
            /* For IE8 and earlier */
            &:hover {
                opacity: 1;
                filter: alpha(opacity=100);
                /* For IE8 and earlier */
            }
        }
    }
}
.shop-popup-product {
    .modal-dialog {
        width: 50%;
    }
    .nav-pills {
        li {
            background: none;
            a {
                text-decoration: none;
                background: none;
                color: #428BCA;
                padding: 0px 10px 0px 0px;
            }
            &.active {
                a, a:hover {
                    background: none;
                    color: #428BCA;
                    text-decoration: underline;
                }
            }
        }
    }
    .tab-content {
        padding-top: 15px;
    }
    .bootstrap-tagsinput {
        border-radius: 0px;
        margin: 0px;
        width: 100%;
    }
    .form-group.product-feature {
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .features-list {
        width: 100%;
    }
    .bootstrap-dialog-message {
        #progress {
            position: absolute;
            left: 0px;
            top: 0px;
            right: 0px;
            height: 2px;
            background: none;
            box-shadow: none;
            .progress-bar {
                height: 2px;
                box-shadow: none;
            }
        }
        .upload-wrapper {
            display: inline-block;
            position: relative;
            margin-right: 20px;
            .del-image {
                position: absolute;
                left: -10px;
                top: -11px;
                width: 16px;
                height: 16px;
                display: block;
                font-size: 1.2rem;
                color: #CA4541;
                line-height: normal;
                white-space: normal;
                cursor: pointer;
                &:hover {
                    text-shadow: 0 0 2px #DA5C5C;
                }
            }
            .restore-image {
                position: absolute;
                left: -10px;
                top: -11px;
                width: 16px;
                height: 16px;
                display: block;
                font-size: 1.2rem;
                color: #FFA100;
                line-height: normal;
                white-space: normal;
                cursor: pointer;
                &:hover {
                    text-shadow: 0 0 2px #DAA100;
                }
            }
            .fileinput-button {
                position: relative;
                overflow: hidden;
                background: none;
                border-style: dashed;
                display: inline-block;
                width: 60px;
                height: 60px;
                margin: 0px;
                padding: 0px;

                &:hover {
                    background: #eee;
                }
                input {
                    z-index: 99999;
                }
            }
            .uploaded-image {
                display: block;
                max-height: 75px;
                max-width: 75px;
                position: absolute;
                left: -5px;
                top: -5px;
            }
            &.none {
                .fa-plus {display: block;}
            }
            &.original {
                .del-image {display: block;}
            }
            &.temp {
                .preview-image {display: block;}
                .uploaded-image {display: none;}
                .del-image {display: block;}
            }
            &.error {
                .fa-plus {display: none;}
                .fa-warning {display: block;}
            }
            &.restore {
                .restore-image {display: block;}
                .uploaded-image {display: none;}
                .preview-image {display: none;}
                .fa-plus {display: block;}
            }
            .restore-image, .del-image {display: none;}
            .fa-plus, .fa-warning {
                display: none;
                font-size: 1.5em;
                position: relative;
                top: 30%;
            }
            .preview-image {display: none;}
        }
    }
    .features {
        .add-feature {
            cursor: pointer;
        }
        .remove-feature {
            cursor: pointer;
            display: table-cell;
            text-align: left;
            width: 20px;
            vertical-align: middle;
        }
        fieldset {
            display: block;
            width: 100%;
            legend {
                font-size: 1em;
            }
        }
        .bootstrap-tagsinput {
            display: table-cell;
        }
    }

}
.dndrow {
    color: #ddd;
    cursor: -webkit-grabbing;
    display: inline-block;
    margin-left: -5px;
    margin-right: 5px;
}
.backgrid .select-cell.editor select {
    height: 38px;
    padding: 8px 5px;
}

.delivery-agencies {
    .add-delivery {
        cursor: pointer;
    }
    .list-group-item.agency {
        .bootstrap-switch {
            display: inline-block;
            float: right;
        }
        .create-delivery {
            display: none;
        }
        &.is-new {
            .switcher, .bootstrap-switch {
                display: none;
            }
            .create-delivery {
                display: inline-block;
            }
        }
    }
}

.shop-settings-alerts {
    .panel-body {
        .shop-property-AllowAlerts {
            display: none;
        }
    }
    .switcher-main {
        .list-group-item {
            background: none;
            display: inline-block;
            border: 0px none;
            margin: 0px;
            padding: 0px;
        }
        .property-label {
            display: none;
        }
    }
}

.shop-settings-addresses {
    .add-address {
        cursor: pointer;
    }
    .list-group-item.address {
        .bootstrap-switch {
            display: inline-block;
            float: right;
        }
    }
}

.popup-settings-address {
    .nav-pills {
        li {
            background: none;
            a {
                text-decoration: none;
                background: none;
                color: #428BCA;
                padding: 0px 10px 0px 0px;
            }
            &.active {
                a, a:hover {
                    background: none;
                    color: #428BCA;
                    text-decoration: underline;
                }
            }
        }
    }
    .tab-content {
        margin-top: 20px;
    }
    .add-contact {
        cursor: pointer;
    }
    .contact-item {
        width: 100%;
        .remove-contact {
            cursor: pointer;
            display: table-cell;
            text-align: left;
            width: 20px;
            vertical-align: middle;
        }
        .wrapper {
            padding-right: 5px;
        }
        .button-label {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        .dropdown-toggle {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        .address-value {
            width: 100%;
        }
    }
    .address-value {float: none; display: table-cell;}
}

.popup-promo {
    .promo-code {
        padding-top: 6px;
        display: inline-block;
        font-weight: bold;
    }
}

.text-warning {
    color: #FFA100;
}
.text-success {
    color: #3FB341;
}
.text-danger {
    color: #CA4541;
}
input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
    margin-top: -1px;
    vertical-align: middle;
    & + small {
        vertical-align: middle;
        cursor: pointer;
    }
}


.shop-settings.website-form-order {
    .property-value {
        display: inline-block;
        float: right;
    }
}

.shop-manager-feeds {
    .feeds {
        .name {
            margin-left: 20px;
            font-weight: bold;
        }
    }
    .btn-feed-upload {
        display: inline-block;
        overflow: hidden;
        height: 1em;
        width: 1em;
    }
}