{* default control attribute values *}
{$_controlName = "mpws_field_`$_name|lower`"}
{$_controlCssName = 'DropDown'}
{$_controlCssNameCustom = "`$_controlCssName``$_name`"}
{$_controlItems = ''}
{$_controlValue = $_value|default:libraryRequest::getPostFormField($_name|lower)}
{$_controlRenderMode = $_renderMode|default:'normal'}
{* init control with passed arguments *}
{if isset($_items)}
    {$_controlItems = $_items}
{/if}
{* control implemetation *}
<div class="MPWSControlField MPWSControlField{$_controlCssName} MPWSControlField{$_controlCssNameCustom} MPWSControlRenderMode{$_controlRenderMode|capitalize}">
    
{if $_controlRenderMode eq 'normal' or $_controlRenderMode eq 'error'}
    
    {* editable control *}
    
    <select id="MPWSControl{$_controlCssNameCustom}ID" type="checkbox" name="{$_controlName}" class="MPWSControl MPWSControl{$_controlCssName} MPWSControl{$_controlCssNameCustom}">
        {foreach $_controlItems as $_item}
            {if $_controlValue eq $_item}
            <option value="{$_item}" selected="selected">
            {else}
            <option value="{$_item}">
            {/if}
                {$CURRENT.OBJECT->{"objectProperty_`$_resourceOwner`_option`$_controlOwner``$_controlCssNameCustom``$_item`"}}
            </option>
        {/foreach}
    </select>
           
{elseif $_controlRenderMode eq 'hidden'}
    
    {* display hidden control*}
    <span class="MPWSControlReadOnlyValue">{$CURRENT.OBJECT->{"objectProperty_`$_resourceOwner`_option`$_controlOwner``$_controlCssNameCustom``$_controlValue`"}}</span>
    <input type="hidden" name="{$_controlName}" value="{$_controlValue}">

{else}
    {include file=$CURRENT.OBJECT->objectTemplatePath_component_exception _message="Wrong control render mode" _tpl=$smarty.template}
{/if}

</div>