{* default control attribute values *}
{$_controlName = "mpws_field_`$_name|lower`"}
{$_controlCssName = 'ListBox'}
{$_resourceOwner = $_resourceOwner|default:'control'}
{$_numerateLines = $_numLines|default:false}
{$_useCheckbox = $_checkboxes|default:false}
{$_useSingleEdit = $_singleEdit|default:true}
{$_listCaptions = $_captions|default:[]}
{$_listInit = $_initValues|default:false}
{$_lineNumber = 1}
{$_innerCaptions = []}
{$_initValues = $_initValues|default:false}
{$_controlCustomValueHolder = $_customValueHolder|default:'use'}

{* setup inner captions *}
{if $_numerateLines }
    {$_innerCaptions[]='RowNumber'}
{/if}
{if $_useCheckbox }
    {$_innerCaptions[]='ActionEdit'}
    {$_innerCaptions[]='ActionRemove'}
{/if}
{* join system and custom captions *}
{if not empty($_listCaptions)}
    {foreach $_listCaptions as $_caption}
        {$_innerCaptions[]=$_caption}
    {/foreach}
    {* fetch relevant properties for all of them *}
    {foreach $_innerCaptions as $_key => $_caption}
        {$_innerCaptions[$_key]=$CURRENT.OBJECT->{"objectProperty_`$_resourceOwner`_captionListBox`$_caption`"}}
    {/foreach}
{/if}

{* control implemetation *}
<div class="MPWSControlField MPWSControlField{$_controlCssName}">
    <input type="hidden" name="mpws_field_owner" value="{$_name}">
    <ul class="MPWSList">
        
    {* print captions *}
    {if not empty($_innerCaptions) and not $_initValues}
    <li class="MPWSListItem">
    {foreach $_innerCaptions as $_fieldCaption}
        <span class="MPWSText MPWSTextCaption">{$_fieldCaption}</span>
    {/foreach}
    </li>
    {/if}

    {* print values *}
    {foreach $_items as $_itemKey => $_itemEntry}
    
        {if $_renderMode eq 'KEYS'}
            {$_display = $_itemKey}
            {$_val = $_itemEntry}
        {else}
            {$_display = $_itemEntry}
            {$_val = $_itemKey}
        {/if}

        <li class="MPWSListItem">
        {if $_numerateLines}
            <span class="MPWSText MPWSLineNumer">{$_lineNumber++}</span>
        {/if}
        {if $_useCheckbox}
            {if $_useSingleEdit}
            <input type="radio" name="{"`$_controlName`_edit"}" value="{$_val}"/>
            <input type="checkbox" name="{"`$_controlName`_remove"}[]" value="{$_val}"/>
            {else}
            <input type="checkbox" name="{"`$_controlName`_edit"}[]" value="{$_val}"/>
            {/if}
        {elseif $_initValues }
            <input type="hidden" name="{"`$_controlName`_`$_controlCustomValueHolder`"}[]" value="{$_val}"/>
        {/if}
            <span class="MPWSText MPWSLineValue">{$_display}</span>
        </li>
    {/foreach}
    </ul>
</div>