{strip}

{assign var="DOs" value=[]}
{if (isset($_OBJ))}
    {assign var="DOs" value=[$_OBJ]}
{/if}
{$DOs[] = $CURRENT.OBJECT}
{$DOs[] = $OBJECT.SITE}
{assign var="DISPLAY_OBJECT" value=glGetFirstNonEmptyValue($DOs)}

{$_link = $link|default:false}
{$_display = $display|default:'default'}

{if isset($link) }
    {$link}
{else}
    {$DISPLAY_OBJECT->objectConfiguration_object_menuExecObjectPath}?{$DISPLAY_OBJECT->getObjectType()}={$DISPLAY_OBJECT->getObjectName()}&amp;display={$display}
{/if}

{/strip}