<option value="">---</option>
<option value=""></option>
<option value="18">Вільшанка</option>
<option value="27">Комсомольське (Донецьк)</option>
<option value="44">Новий Світ</option>
<option value="55">Охтирка</option>
<option value="65">Баштанка</option>
<option value="75">Буринь</option>
<option value="80">Вознесенськ</option>
<option value="85">Генічеськ</option>
<option value="97">Дунаївці</option>
<option value="108">Козятин</option>
<option value="118">Кіровоград</option>
<option value="128">Корсунь-Шевченківський</option>
<option value="142">Лохвиця</option>
<option value="148">Малин</option>
<option value="157">Миколаїв</option>
<option value="170">Павлоград</option>
<option value="181">Путивль</option>
<option value="192">Світловодськ</option>
<option value="202">Слов`янськ</option>
<option value="205">Старобільськ</option>
<option value="208">Сторожинець</option>
<option value="218">Хмільник (Вінницька обл.) </option>
<option value="236">Ямпіль(Шостка)</option>
<option value="249">Кодима</option>
<option value="250">Надвірна</option>
<option value="251">Царичанка</option>
<option value="252">Березань</option>
<option value="253">Свердловськ</option>
<option value="269">Новоселиця</option>
<option value="277">Тальне</option>
<option value="287">Цюрупинськ</option>
<option value="301">Маневичі</option>
<option value="307">Першотравенськ (Дніпропетровська обл)</option>
<option value="329">Радивилів</option>
<option value="331">Рожнятів</option>
<option value="340">Калинівка</option>
<option value="352">Володимирець</option>
<option value="364">Роздольне</option>
<option value="377">Приморськ</option>
<option value="383">Городок(Хмельницький)</option>
<option value="393">Олевськ</option>
<option value="398">Приазовське</option>
<option value="399">Біляївка</option>
<option value="400">Теофіполь</option>
<option value="401">Козятин</option>
<option value="402">Торез</option>
<option value="456">Стара Синява</option>
<option value="460">Велика Лепетиха</option>
<option value="475">Новоархангельськ</option>
<option value="490">Сватові</option>
<option value="500">Підгайці</option>
<option value="513">Рокитне (Біла Церква)</option>
<option value="518">Комінтернівське</option>
<option value="524">Володарське</option>
<option value="535">Калинівка(Вінниця)</option>
<option value="548">Любашівка</option>
<option value="560">Велика Олександрівка</option>
<option value="572">Клавдієво-Тарасове</option>
<option value="2">Сокиряни</option>
<option value="4">Первомайськ(Луганськ)</option>
<option value="6">Південний</option>
<option value="7">Новоайдар</option>
<option value="8">Підволочиськ</option>
<option value="9">Золочів</option>
<option value="10">Старовойтово</option>
<option value="11">Марківка</option>
<option value="12">Великі Копані</option>
<option value="13">Фрунзівка</option>
<option value="14">Чечельник</option>
<option value="15">Оженин</option>
<option value="16">Вапнярка</option>
<option value="17">Вугледар</option>
<option value="19">Нова Водолага</option>
<option value="20">Калинівка(Васильківський район)</option>
<option value="21">Чоп</option>
<option value="22">Віліне</option>
<option value="23">Заболотів</option>
<option value="24">Дніпропетровськ</option>
<option value="25">Харків</option>
<option value="28">Троїцьке</option>
<option value="29">Опішня</option>
<option value="30">Гірське</option>
<option value="31">Селидові</option>
<option value="32">Рівне (Кіровоград)</option>
<option value="34">Дрогобич</option>
<option value="35">Запоріжжя</option>
<option value="36">Володимир-Волинський</option>
<option value="37">Ковель</option>
<option value="38">Луцьк</option>
<option value="39">Маньківка</option>
<option value="40">Христинівка</option>
<option value="41">Житомир</option>
<option value="42">Старий Крим</option>
<option value="43">Моспіно</option>
<option value="45">Маріуполь</option>
<option value="46">Черкаси</option>
<option value="48">Дніпродзержинськ</option>
<option value="49">Умань</option>
<option value="50">Тернопіль</option>
<option value="51">Донецьк</option>
<option value="52">Івано-Франківськ</option>
<option value="53">Олександрія</option>
<option value="54">Алчевськ</option>
<option value="56">Біла Церква</option>
<option value="57">Боярка</option>
<option value="58">Білгород-Дністровський</option>
<option value="26">Вінниця</option>
<option value="33">Суми</option>
<option value="1">Київ</option>
<option value="3">Добровеличківка</option>
<option value="5">Львів</option>
<option value="59">Антрацит</option>
<option value="60">Апостолове</option>
<option value="61">Артемівськ</option>
<option value="62">Арциз</option>
<option value="63">Балаклія</option>
<option value="64">Балта</option>
<option value="66">Бердичів</option>
<option value="67">Бердянськ</option>
<option value="68">Бершадь</option>
<option value="69">Бобринець</option>
<option value="70">Болград</option>
<option value="71">Бориспіль</option>
<option value="72">Димер</option>
<option value="73">Бровари</option>
<option value="74">Броди</option>
<option value="76">Васильків</option>
<option value="77">Верхньодніпровськ</option>
<option value="78">Вижниця</option>
<option value="79">Вишневе</option>
<option value="81">Волочиськ</option>
<option value="82">Вільногірськ</option>
<option value="83">Криве Озеро</option>
<option value="84">Гадяч</option>
<option value="86">Глухів</option>
<option value="87">Глобине</option>
<option value="88">Горлівка</option>
<option value="89">Городище</option>
<option value="90">Городок(Львів)</option>
<option value="91">Гребінка</option>
<option value="92">Дебальцеве</option>
<option value="93">Джанкой</option>
<option value="94">Долина</option>
<option value="95">Долинська</option>
<option value="96">Дубно</option>
<option value="98">Євпаторія</option>
<option value="99">Єнакієве</option>
<option value="100">Жовті Води</option>
<option value="101">Звенигородка</option>
<option value="102">Зіньків</option>
<option value="103">Знам`янка</option>
<option value="104">Золотоноша</option>
<option value="105">Ізмаїл</option>
<option value="106">Ізюм</option>
<option value="107">Іллічівськ</option>
<option value="109">Кам`янець-Подільський</option>
<option value="110">Калуш</option>
<option value="111">Кам`янка</option>
<option value="112">Кам`янка-Дніпровська</option>
<option value="113">Канів</option>
<option value="114">Карлівка</option>
<option value="115">Катеринопіль</option>
<option value="116">Каховка</option>
<option value="119">Кобеляки</option>
<option value="120">Коломия</option>
<option value="121">Комсомольськ</option>
<option value="122">Дворічна</option>
<option value="123">Конотоп</option>
<option value="124">Костянтинівка</option>
<option value="125">Корець</option>
<option value="126">Коростень</option>
<option value="127">Коростишів</option>
<option value="129">Котельва</option>
<option value="130">Котовськ</option>
<option value="131">Краматорськ</option>
<option value="132">Красноград (Харківська обл)</option>
<option value="133">Красноармійськ</option>
<option value="134">Красноперекопськ</option>
<option value="135">Краснопілля</option>
<option value="136">Кременчук</option>
<option value="137">Красний Луч</option>
<option value="138">Кривий Ріг</option>
<option value="139">Кролевець</option>
<option value="140">Лебедин</option>
<option value="141">Лозова</option>
<option value="143">Лубни</option>
<option value="144">Луганськ</option>
<option value="145">Лисянка</option>
<option value="146">Макаров</option>
<option value="147">Макіївка</option>
<option value="149">Машівка</option>
<option value="150">Мелітополь</option>
<option value="151">Мена</option>
<option value="152">Миргород</option>
<option value="153">Могилів - Подільський</option>
<option value="154">Мукачево</option>
<option value="155">Ніжин</option>
<option value="156">Нетішин</option>
<option value="158">Нікополь</option>
<option value="159">Нова Каховка</option>
<option value="160">Нововолинськ</option>
<option value="161">Новгородка</option>
<option value="162">Дзержинськ</option>
<option value="163">Ізяслав</option>
<option value="164">Рожище</option>
<option value="165">Новомосковськ</option>
<option value="166">Новий Буг</option>
<option value="167">Носівка</option>
<option value="168">Обухів</option>
<option value="169">Очаків</option>
<option value="171">Первомайськ (Миколаїв)</option>
<option value="172">Первомайський</option>
<option value="173">Переяслав-Хмельницький</option>
<option value="174">Петропавлівка</option>
<option value="175">Пирятин</option>
<option value="176">Покровське</option>
<option value="177">Пологи</option>
<option value="178">Полонне</option>
<option value="180">Прилуки</option>
<option value="182">П`ятихатки</option>
<option value="183">Рава-Руська</option>
<option value="184">Решетилівка</option>
<option value="185">Ровеньки</option>
<option value="186">Рівне</option>
<option value="187">Ромни</option>
<option value="188">Рубіжне</option>
<option value="189">Саки</option>
<option value="190">Самбір</option>
<option value="191">Сарни</option>
<option value="193">Севастополь</option>
<option value="194">Сєвєродонецьк</option>
<option value="195">Тульчин</option>
<option value="196">Семенівка (Кременчук)</option>
<option value="197">Сімферополь</option>
<option value="198">Синельникове</option>
<option value="199">Скадовськ</option>
<option value="200">Славута</option>
<option value="201">Славутич</option>
<option value="203">Сміла</option>
<option value="204">Снятин</option>
<option value="206">Ківерці</option>
<option value="207">Стаханов</option>
<option value="209">Ресторан</option>
<option value="210">Стрий</option>
<option value="211">Тетіїв</option>
<option value="212">Токмак</option>
<option value="213">Тростянець(Вінницька обл.)</option>
<option value="214">Ужгород</option>
<option value="215">Фастів</option>
<option value="216">Феодосія</option>
<option value="217">Херсон</option>
<option value="219">Хмельницький</option>
<option value="220">Хорол</option>
<option value="221">Хотин</option>
<option value="222">Хуст</option>
<option value="223">Червоноград</option>
<option value="224">Чернігів</option>
<option value="225">Чернівці</option>
<option value="226">Чорноморське</option>
<option value="227">Чигирин</option>
<option value="228">Чугуїв</option>
<option value="229">Чутове</option>
<option value="230">Шостка</option>
<option value="231">Шпола</option>
<option value="232">Енергодар</option>
<option value="233">Південне</option>
<option value="234">Южноукраїнськ</option>
<option value="235">Ялта</option>
<option value="237">Костопіль</option>
<option value="238">Млинів</option>
<option value="239">Попасна</option>
<option value="240">Лисичанськ</option>
<option value="241">Армянськ</option>
<option value="242">Летичів</option>
<option value="243">Роздільна</option>
<option value="244">Кілія</option>
<option value="245">Любомль</option>
<option value="246">Чаплинка</option>
<option value="247">Октябрське</option>
<option value="248">Шишаки</option>
<option value="254">Алушта</option>
<option value="255">Оржиця</option>
<option value="256">Середина-Буда</option>
<option value="257">Монастирищі</option>
<option value="258">Тернівка</option>
<option value="259">Козельщина</option>
<option value="260">Бахчисарай</option>
<option value="261">Ірпінь</option>
<option value="262">Новоазовськ</option>
<option value="263">Миронівка</option>
<option value="264">Баришівка</option>
<option value="265">Яготин</option>
<option value="266">Білопілля</option>
<option value="267">Короп</option>
<option value="268">Ічня</option>
<option value="270">Золочів</option>
<option value="271">Трускавець</option>
<option value="272">Жмеринка</option>
<option value="273">Дружківка</option>
<option value="274">Волноваха</option>
<option value="275">Варва</option>
<option value="276">Рені</option>
<option value="278">Куп`янськ</option>
<option value="279">Марганець</option>
<option value="280">Кельменці</option>
<option value="281">Василівка</option>
<option value="282">Веселе</option>
<option value="283">Немирів</option>
<option value="284">Бар</option>
<option value="285">Шепетівка</option>
<option value="286">Кіровськ</option>
<option value="288">Ясинувата</option>
<option value="289">Чорнухи</option>
<option value="290">Старокостянтинів</option>
<option value="291">Гайворон</option>
<option value="292">Новодністровськ</option>
<option value="293">Бахмач</option>
<option value="294">Харцизьк</option>
<option value="295">Кузнецовськ</option>
<option value="296">Чорнобай</option>
<option value="297">Ладижин</option>
<option value="298">Мерефа</option>
<option value="299">Білогірськ</option>
<option value="300">Гайсин</option>
<option value="302">Новгород-Сіверський</option>
<option value="303">Перемишляни</option>
<option value="304">Жашків</option>
<option value="305">Жидачів</option>
<option value="306">Іваничі</option>
<option value="308">Берегово</option>
<option value="309">Овруч</option>
<option value="310">Щолкіне</option>
<option value="311">Судак</option>
<option value="312">Вишгород</option>
<option value="313">Нові Санжари</option>
<option value="314">Горіхів</option>
<option value="315">Перевальськ</option>
<option value="316">Орджонікідзе</option>
<option value="317">Богуслав (Київська обл.)</option>
<option value="318">Красногвардійське</option>
<option value="319">Олександрівка</option>
<option value="320">Бородянка</option>
<option value="321">Ульяновка</option>
<option value="322">Володарка</option>
<option value="323">Якимівка</option>
<option value="324">Кіровське (Донецьк)</option>
<option value="325">Горохів</option>
<option value="326">Смоліне</option>
<option value="327">Леніне</option>
<option value="328">Зміїв</option>
<option value="330">Борзна</option>
<option value="332">Гуляйполе</option>
<option value="333">Косів</option>
<option value="334">Буськ</option>
<option value="335">Згурівка</option>
<option value="336">Кіцмань</option>
<option value="337">Новий Розділ</option>
<option value="338">Щастя</option>
<option value="339">Лутугине</option>
<option value="341">Корюківка</option>
<option value="342">Новомиргород</option>
<option value="343">Буча</option>
<option value="344">Снігурівка</option>
<option value="345">Велика Багачка</option>
<option value="346">Гола Пристань</option>
<option value="347">Радомишль</option>
<option value="348">Сосниця</option>
<option value="349">Щорс</option>
<option value="350">Березне</option>
<option value="351">Літин</option>
<option value="353">Диканька</option>
<option value="354">Берислав</option>
<option value="355">Шумськ</option>
<option value="356">Брянка</option>
<option value="357">Козелець</option>
<option value="358">Зборів</option>
<option value="359">Болехів</option>
<option value="360">Кагарлик</option>
<option value="361">Куйбишеве</option>
<option value="362">Шахтарськ</option>
<option value="363">Сквира</option>
<option value="365">Новояворівськ</option>
<option value="366">Березнегувате</option>
<option value="367">Мангуш</option>
<option value="368">Городня</option>
<option value="369">Бурштин</option>
<option value="370">Камінь-Каширський</option>
<option value="371">Березанка</option>
<option value="372">Алупка</option>
<option value="373">Кременець</option>
<option value="374">Бобровиця</option>
<option value="375">Рогатин</option>
<option value="376">Бережани</option>
<option value="378">Богодухів</option>
<option value="379">Володарськ-Волинський</option>
<option value="380">Баранівка</option>
<option value="381">Петрове</option>
<option value="382">Дніпрорудне</option>
<option value="384">Горностаївка</option>
<option value="385">Добровеличківка</option>
<option value="386">Виноградів</option>
<option value="387">Чемерівці</option>
<option value="388">Амвросіївка</option>
<option value="389">Нова Одеса</option>
<option value="390">Васильківка</option>
<option value="391">Врадіївка</option>
<option value="392">Новоукраїнка</option>
<option value="394">Доманівка</option>
<option value="395">Глибока</option>
<option value="396">Ємільчине</option>
<option value="397">Деражня</option>
<option value="403">Ананьїв</option>
<option value="404">Каланчак</option>
<option value="405">Городенка</option>
<option value="406">Суходільськ</option>
<option value="407">Теплик</option>
<option value="408">Борщів</option>
<option value="409">Ставище</option>
<option value="410">Тараща</option>
<option value="411">Здолбунів</option>
<option value="412">Докучаєвськ</option>
<option value="413">Первомайськ</option>
<option value="414">Сарата</option>
<option value="415">Вугледар</option>
<option value="416">Дубровиця</option>
<option value="417">Іллінці</option>
<option value="418">Шаргород</option>
<option value="419">Миколаївка (Донецьк)</option>
<option value="420">Вовчанськ</option>
<option value="421">Борова (Харків)</option>
<option value="422">Острог</option>
<option value="423">Тростянець</option>
<option value="424">Кринички</option>
<option value="425">Чортків</option>
<option value="426">Казанка</option>
<option value="427">Томашпіль</option>
<option value="428">Авдіївка</option>
<option value="429">Нижньогірський</option>
<option value="430">Ямпіль (Вінниця)</option>
<option value="431">Муровані Курилівці</option>
<option value="432">Барвінкове</option>
<option value="433">Тячів</option>
<option value="434">Куликівка</option>
<option value="435">Кремінна</option>
<option value="436">Мала Виска</option>
<option value="437">Гусятин</option>
<option value="438">Красний Лиман</option>
<option value="439">Червонозаводське</option>
<option value="440">Рокитне (Рівне)</option>
<option value="441">Помічна</option>
<option value="442">Драбів</option>
<option value="443">Бучач</option>
<option value="444">Львів</option>
<option value="445">Заставна</option>
<option value="446">Радянський</option>
<option value="447">Ватутіне</option>
<option value="448">Краснодон</option>
<option value="449">Шацьк</option>
<option value="450">Саврань</option>
<option value="451">Заліщики</option>
<option value="452">Добропілля</option>
<option value="453">Ратне</option>
<option value="454">Локачі</option>
<option value="455">Градизьк</option>
<option value="457">Первомайське</option>
<option value="458">Жовква</option>
<option value="459">Верхівцеве </option>
<option value="461">Іршава</option>
<option value="462">Станиця Луганська</option>
<option value="463">Тлумач</option>
<option value="464">Братське</option>
<option value="465">Кам`янка-Бузька</option>
<option value="466">Новотроїцьке</option>
<option value="467">Красилів</option>
<option value="468">Радехів</option>
<option value="469">Новоград-Волинський</option>
<option value="470">Кіровське (Донецьк)</option>
<option value="471">Білогір`я</option>
<option value="472">Любар</option>
<option value="473">Магдалинівка</option>
<option value="474">Вільнянськ</option>
<option value="476">Димитров</option>
<option value="477">Липова</option>
<option value="478">Валки</option>
<option value="479">Галич</option>
<option value="480">Віньківці</option>
<option value="481">Липовець </option>
<option value="482">Зугрес</option>
<option value="483">Михайлівка</option>
<option value="484">Софіївка</option>
<option value="485">Теплодар</option>
<option value="486">Козова</option>
<option value="487">Соледар</option>
<option value="488">Гоща</option>
<option value="489">Черняхів</option>
<option value="491">Рахів</option>
<option value="492">Компаніївка</option>
<option value="493">Лугини</option>
<option value="494">Мостиська</option>
<option value="495">Романів</option>
<option value="496">Недригайлів</option>
<option value="497">Іванків</option>
<option value="498">Стара Вижівка</option>
<option value="499">Сколе</option>
<option value="501">Тельманове</option>
<option value="502">Свалява</option>
<option value="503">Ходорів</option>
<option value="504">Веселинове</option>
<option value="505">Ружин</option>
<option value="506">Сніжне</option>
<option value="507">Курахові</option>
<option value="508">Гнівань</option>
<option value="509">Світлодарськ</option>
<option value="510">Липова Долина</option>
<option value="511">Петриківка</option>
<option value="512">Кіровське</option>
<option value="514">Верховина</option>
<option value="515">Новоград - Волинський</option>
<option value="516">Попільня</option>
<option value="517">Новопсков</option>
<option value="519">Червоноармійськ</option>
<option value="520">Оратів</option>
<option value="521">Крижопіль</option>
<option value="522">Голованівськ</option>
<option value="523">Іршанськ</option>
<option value="525">Димер</option>
<option value="526">Любешів</option>
<option value="527">Іванівка (Мелітополь)</option>
<option value="528">Ланівці</option>
<option value="529">Турка</option>
<option value="530">Старобешеве</option>
<option value="531">Збараж</option>
<option value="532">Теребовля</option>
<option value="533">Перещепине</option>
<option value="534">Дружба</option>
<option value="536">Чуднов</option>
<option value="537">Білозерка</option>
<option value="538">Старий Самбір</option>
<option value="539">Ріпки</option>
<option value="540">Люботин</option>
<option value="541">Клевань</option>
<option value="542">Золочів (Харківська обл.)</option>
<option value="543">Копичинці</option>
<option value="544">Велика Новосілка</option>
<option value="545">Томаківка</option>
<option value="546">Білицьке</option>
<option value="547">Вільшанка </option>
<option value="549">Узин</option>
<option value="550">Іловайськ</option>
<option value="551">Нижні Ворота</option>
<option value="552">Біловодськ</option>
<option value="553">Талалаївка</option>
<option value="554">Перечин</option>
<option value="555">Народичі</option>
<option value="556">Піщанка </option>
<option value="557">Краснокутськ</option>
<option value="558">Срібне</option>
<option value="559">Брусилів</option>
<option value="561">Турійськ</option>
<option value="562">Мілове</option>
<option value="563">Гребінки</option>
<option value="564">Звису</option>
<option value="565">Татарбунари</option>
<option value="566">Велика Михайлівка</option>
<option value="567">Ярмолинці</option>
<option value="568">Українка</option>
<option value="569">Овідіополь</option>
<option value="570">Монастириська</option>
<option value="571">Мар`їнка</option>
<option value="573">Солоне</option>
<option value="574">Нова Ушиця</option>
<option value="575">Онуфріївка</option>
<option value="576">Шевченкове</option>
<option value="577">Нововоронцовка</option>
<option value="578">Зарічне</option>
<option value="579">Міжгір`я</option>
<option value="580">Широке</option>
<option value="581">Колки</option>
<option value="582">Велика Писарівка</option>
<option value="583">Білики</option>
<option value="584">Комсомольське (Харків)</option>
<option value="585">Святогірськ</option>
<option value="586">Великий Бурлук</option>
<option value="587">Миколаїв(Львів)</option>
<option value="588">Смига</option>
<option value="589">Зачепилівка</option>
<option value="590">Семенівка (Чернігівська обл.)</option>
<option value="591">Почаїв</option>
<option value="592">Високопілля</option>
<option value="593">Слов`яносербськ</option>
<option value="594">Андрушівка</option>
<option value="595">Дніпровське</option>
<option value="596">Коцюбинське</option>
<option value="597">Золоте поле</option>
<option value="598">Борова</option>
<option value="599">Єланець</option>
<option value="600">Немішаєве</option>
<option value="601">Ржищів</option>
<option value="602">Мамаївці</option>
<option value="603">Іванівка (Одеса)</option>
<option value="604">Червонопартизанськ</option>
<option value="605">Побужжя</option>
<option value="606">Побужжя (Кіровоградська область)</option>
<option value="607">Сокаль</option>
<option value="608">Погребищі</option>
<option value="609">Завалля (Кіровоград обл.)</option>
<option value="610">Гурзуф</option>
<option value="611">Великий Березний</option>
<option value="612">Великий Бичків</option>
<option value="613">Борислав</option>
<option value="614">Яворів</option>
<option value="615">Хоростків</option>
<option value="616">Сахновщина</option>
<option value="617">Ковшаровка</option>
<option value="618">Нові Петрівці</option>
<option value="619">Путила</option>
<option value="620">Нові Білокоровичі</option>
<option value="621">Шпиків</option>
<option value="622">Брошнів-Осада</option>
<option value="623">Зимогір`ї</option>
<option value="624">Березівка</option>
<option value="625">Ясіня</option>
<option value="626">Білогородка</option>
<option value="627">Близнюки </option>
<option value="179">Полтава</option>
<option value="47">Одеса</option>
<option value="117">Керч</option>
<option value="629"></option>
<option value="630"></option>