<option value="self">Самовивіз</option>
<option value="company_gunsel">Гюнсел</option>
<option value="company_novaposhta">Нова Пошта</option>
<option value="company_intime">Ін-Тайм</option>
<option value="company_ukrposhta">Гюнсел</option>