<div class="container">

    <!-- ========== SIDEBAR ========== -->
    <div class="col-xs-12 col-sm-3 no-margin sidebar narrow">
        <div class="widget">
            <h1 class="border">Кабінет</h1>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{bb_link instances.customer.urls.account}}">Профіль</a>
                </li>
                <li class="list-group-item">
                    <a href="{{bb_link instances.customer.urls.shopUserOrders}}">Мої Замовлення</a>
                </li>
                <li class="list-group-item">
                    <a href="{{bb_link instances.customer.urls.shopUserLists}}">Мої Списки</a>
                </li>
                <li class="list-group-item">
                    <a href="{{bb_link instances.customer.urls.userSubscriptions}}">Мої підписки</a>
                </li>
            </ul>
            {{!-- <div class="mpws-js-category-filter"></div> --}}
        </div><!-- /.widget -->
    </div>
    <!-- ========== SIDEBAR : END ========== -->

    <!-- ========== CONTENT ========== -->
    <div class="col-xs-12 col-sm-9 no-margin wide sidebar">
        <section class="mpws-js-user-general"></section>
    </div><!-- /.col -->
    <!-- ========== CONTENT : END ========== -->
</div>