<div class="container mpws-js-cabinet">

    <!-- ========== SIDEBAR ========== -->
    <div class="col-xs-12 col-sm-3 no-margin sidebar narrow">
        <div class="widget">
            <h1 class="border">Кабінет</h1>
            <div class="list-group">
                <a class="list-group-item list-group-item-account" href="{{bb_link instances.customer.urls.account}}">Профіль</a>
                <a class="list-group-item list-group-item-orders" href="{{bb_link instances.customer.urls.shopUserOrders}}">Мої Замовлення</a>
                <a class="list-group-item list-group-item-lists" href="{{bb_link instances.customer.urls.shopUserLists}}">Мої Списки</a>
                <a class="list-group-item list-group-item-subs" href="{{bb_link instances.customer.urls.userSubscriptions}}">Мої підписки</a>
            </div>
            {{!-- <div class="mpws-js-category-filter"></div> --}}
        </div><!-- /.widget -->
    </div>
    <!-- ========== SIDEBAR : END ========== -->

    <!-- ========== CONTENT ========== -->
    <div class="col-xs-12 col-sm-9 no-margin wide sidebar">
        <section class="mpws-js-user-general"></section>
    </div><!-- /.col -->
    <!-- ========== CONTENT : END ========== -->
</div>