<div class="container">

    <!-- ========== SIDEBAR ========== -->
    <div class="col-xs-12 col-sm-3 no-margin sidebar narrow">
        <div class="widget">
            <h1 class="border">Кабінет</h1>
            {{!-- <div class="mpws-js-category-filter"></div> --}}
        </div><!-- /.widget -->
    </div>
    <!-- ========== SIDEBAR : END ========== -->

    <!-- ========== CONTENT ========== -->
    <div class="col-xs-12 col-sm-9 no-margin wide sidebar">
        <section class="mpws-js-user-general"></section>
    </div><!-- /.col -->
    <!-- ========== CONTENT : END ========== -->
</div>