<div id="top-banner-and-menu">
    <div class="container">
        <div class="col-xs-12 col-sm-4 col-md-3 sidemenu-holder">
            <!-- ========== TOP NAVIGATION ========== -->
            <div class="side-menu animate-dropdown">
                <div class="head"><i class="fa fa-fw fa-list"></i>Всі категорії</div>
                <nav class="yamm megamenu-horizontal" role="navigation">
                    <div class="mpws-js-catalog-tree"></div>
                </nav><!-- /.megamenu-horizontal -->
            </div><!-- /.side-menu -->
            <!-- ========== TOP NAVIGATION : END ========== -->
        </div><!-- /.sidemenu-holder -->

        <div class="col-xs-12 col-sm-8 col-md-9 homebanner-holder">
        

            <!-- ========== SECTION – HERO ========== -->
            <div id="hero">
                <div class="mpws-js-shop-offers-carousel">
                </div><!-- /.owl-carousel -->
            </div>
            <!-- ========== SECTION – HERO : END ========== -->


        </div><!-- /.homebanner-holder -->
    </div><!-- /.container -->
</div>