<div class="main-content" id="main-content">
    <div class="container">
        <div class="inner-xs">
            <div class="page-header">
                <h2 class="page-title">
                    Порівняння товарів
                </h2>
            </div>
        </div><!-- /.section-page-title -->
        <section class="mpws-js-product-comparisons"></section>
    </div><!-- /.container -->  
</div>