<div id="products-tab" class="wow fadeInUp animated" style="visibility: visible;">
    <div class="container">
        <div class="tab-holder">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class=""><a href="#mpws-js-shop-tab-products-featured" data-toggle="tab" aria-expanded="false">Популярні</a></li>
                <li class=""><a href="#mpws-js-shop-tab-products-new" data-toggle="tab" aria-expanded="false">Новинки</a></li>
                <li class="active"><a href="#mpws-js-shop-tab-products-top" data-toggle="tab" aria-expanded="true">ТОП продажу</a></li>
                <li><a href="#mpws-js-shop-tab-products-onsale" data-toggle="tab" aria-expanded="true">Розпродаж</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane" id="mpws-js-shop-tab-products-featured">
                    <div class="product-grid-holder mpws-js-shop-products-featured">
                    </div>
                    <div class="loadmore-holder text-center">
                        <a class="btn-loadmore" href="javascript://"><i class="fa fa-fw fa-plus"></i>більше товарів</a>
                    </div>
                </div>
                <div class="tab-pane" id="mpws-js-shop-tab-products-new">
                    <div class="product-grid-holder mpws-js-shop-products-new">
                    </div>
                    <div class="loadmore-holder text-center">
                        <a class="btn-loadmore" href="javascript://"><i class="fa fa-fw fa-plus"></i>більше товарів</a>
                    </div>
                </div>
                <div class="tab-pane active" id="mpws-js-shop-tab-products-top">
                    <div class="product-grid-holder mpws-js-shop-products-top">
                    </div>
                    <div class="loadmore-holder text-center">
                        <a class="btn-loadmore" href="javascript://"><i class="fa fa-fw fa-plus"></i>більше товарів</a>
                    </div>
                </div>
                <div class="tab-pane" id="mpws-js-shop-tab-products-onsale">
                    <div class="product-grid-holder mpws-js-shop-products-onsale">
                    </div>
                    <div class="loadmore-holder text-center">
                        <a class="btn-loadmore" href="javascript://"><i class="fa fa-fw fa-plus"></i>більше товарів</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>