<div class="container">

    <!-- ========== SIDEBAR ========== -->
    <div class="col-xs-12 col-sm-3 no-margin sidebar narrow">
        <div class="widget widget-infolinks">
            <h1 class="border">Інформація</h1>
            <div class="body">
                <ul class="le-links">
                    <li class="mpws-js-catalog-infolink-payment"></li>
                    <li class="mpws-js-catalog-infolink-warranty"></li>
                    <li class="mpws-js-catalog-infolink-shipping"></li>
                </ul>
            </div>
        </div><!-- /.widget -->
        <!-- ========== FEATURED PRODUCTS ========== -->
        <div class="widget">
            <h1 class="border">Популярні</h1>
            <div class="mpws-js-category-featured-products"></div>
        </div><!-- /.widget -->
        <!-- ========== FEATURED PRODUCTS : END ========== -->
    </div>
    <!-- ========== SIDEBAR : END ========== -->

    <!-- ========== CONTENT ========== -->
    <div class="col-xs-12 col-sm-9 no-margin wide sidebar">
        <section class="mpws-ja-catalog-products"></section>
    </div><!-- /.col -->
    <!-- ========== CONTENT : END ========== -->
</div>