<div id="content_wrapper">
    <a href="/page/make-order.html" id="order_now" title="Order Now"><img src="/static/orderNow.png" alt="Order Now"/></a>
    <h1>Your registration is completed!</h1>
    <div class="content">

        <h4>Please login into your account using your credentials.</h4>
        <hr size="2"/>
        <div>Be aware that you should activate your account within 72 hours otherwise it will be removed.</div>
        <div>To activate your account please choose one of provided steps:</div>
        <ul>
            <li>Check you mailbox for confirmation message and proceed with the link inside.</li>
            <li>Login into your account and hit the link in the system messages.</li>
        </ul>


    </div>
</div>