{include assign="wgt_sysUsrInfo" file=$SITE->objectTemplatePath_widget_systemUserInfo}
{include assign="msg_common" file=$SITE->objectTemplatePath_component_message _realm='COMMON'}

{$_contents[]=$msg_common}
{assign var="active_plugin_name" value=libraryRequest::getPlugin()}

{if empty($active_plugin_name) }
    {include assign="wgt_tools" file=$SITE->objectTemplatePath_widget_systemPluginLinkList}
    {$_contents[]=$wgt_tools}
{else}
SOME 

{/if}
    
    
{include
    file=$SITE->{"objectTemplatePath_page_index:default"}
    _header=[$wgt_sysUsrInfo]
    _content=$_contents
    _footer=[]}