{{#ifAny perms.p_shop_EDIT_ORDER}}
<a href="{{bb_link instances.shop.urls.orderEdit id=data.ID asRoot=true}}" title="Редагувати">
    <i class="fa fa-pencil fa-fw"></i>
</a>
{{/ifAny}}
<a href="{{bb_link instances.shop.urls.orderPrint id=data.ID asRoot=true}}" class="hidden" title="Надрукувати">
    <i class="fa fa-print fa-fw"></i>
</a>
<a href="{{bb_link instances.shop.urls.orderEmailTracking id=data.ID asRoot=true}}" class="hidden" title="Надіслати код відстеження">
    <i class="fa fa-envelope fa-fw"></i>
</a>
<a href="{{bb_link instances.shop.urls.orderEmailReceipt id=data.ID asRoot=true}}" class="hidden" title="Надіслати фактуру">
    <i class="fa fa-envelope fa-fw"></i>
</a>