<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{{bb_link instances.shop.urls.promoCreate asRoot=true}}">
                    <i class="fa fa-plus fa-fw"></i>
                </a>
                {{lang.manager_promoCodes_listTitle}}
                <label class="text-danger pull-right">
                    <small>завершені</small>
                    <input type="checkbox" id="show_expired" {{#if extras.withExpired }}checked="checked"{{/if}}>
                </label>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body promo-list"></div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>