<div class="panel-heading">
    <i class="fa fa-bell"></i>
    ! ( В процесі розробки ) ! Сповіщення
    <span class="switcher-main pull-right"></span>
</div>
<div class="panel-body">
    <div class="list-group">
    {{#each data}}
        <a href="javascript://" class="list-group-item shop-property-{{@key}}" data-property="{{@key}}" data-val="{{.}}">
            <input type="checkbox" class="switcher" {{#if .}}checked{{/if}}>
            <span class="property-label">{{mpwsGetValueByKey ../lang.settings.alerts key=@key }}</span>
            <i class="fa fa-pencil pull-right fa-fw edit-alert"></i>
        </a>
    {{/each}}
    </div>
</div>
<!-- /.panel-body -->