<div>
    <h5>Доступні параметри для повідомлення</h5>
    <span class="label label-success" data-eparam="param_customer_title=">Заголовок</span>
    <span class="label label-success" data-eparam="param_greeting=">Вітання</span>
    <span class="label label-success" data-eparam="param_content=">ТекстБлок 1</span>
    <span class="label label-success" data-eparam="param_content2=">ТекстБлок 2</span>
    <span class="label label-success" data-eparam="param_content3=">ТекстБлок 3</span>
    <span class="label label-success" data-eparam="param_show_buttons=true">ПоказатиКнопки</span>
    <span class="label label-success" data-eparam="param_button_href_1=">Кн1: посилання</span>
    <span class="label label-success" data-eparam="param_button_title_1=">Кн1: текст</span>
    <span class="label label-success" data-eparam="param_button_href_2=">Кн2: посилання</span>
    <span class="label label-success" data-eparam="param_button_title_2=">Кн2: текст</span>
    <span class="label label-success" data-eparam="param_button_href_3=">Кн3: посилання</span>
    <span class="label label-success" data-eparam="param_button_title_3=">Кн3: текст</span>
    <span class="label label-success" data-eparam="param_lead=">ТекстБлок 4</span>
    <span class="label label-success" data-eparam="param_content_ending=">ТекстЗавершення</span>
    <span class="label label-success" data-eparam="param_cont_company=">Компанія</span>
    <span class="label label-success" data-eparam="param_cont_addr=">Адреса</span>
    <span class="label label-success" data-eparam="param_cont_mailto=">Мейл</span>
    <span class="label label-success" data-eparam="param_homepage=">ЛінкГоловнаСторінка</span>
    <span class="label label-success" data-eparam="text_cont_prefix=">ПрефіксАдреси</span>
    <span class="label label-success" data-eparam="view_head_small=true">МалийЗаголовок</span>
    <span class="label label-success" data-eparam="param_items_title=">ЗаголовокТоварів</span>
    <hr>
    <textarea class=="mpws-shop-settings-email-params mpws-js-shop-settings-email-params"></textarea>
</div>