<div class="panel-heading">
    <i class="fa fa-bell"></i>
    ! ( В процесі розробки ) ! Сповіщення
    <span class="switcher-main pull-right"></span>
</div>
<div class="panel-body">
    <div class="list-group">
    {{#each data}}
        {{#srtStartsWith @key "Params"}}
        {{else}}
        <a href="javascript://" class="list-group-item shop-property-{{@key}}">
            <input type="checkbox" class="switcher"{{#if this}}checked{{/if}}>
            <span class="property-label">{{mpwsGetValueByKey ../../lang.settings.alerts key=@key }}</span>
            <i class="fa fa-pencil pull-right fa-fw edit-alert" data-property="{{@key}}"></i>
        </a>
        {{/srtStartsWith}}
    {{/each}}
    </div>
</div>
<!-- /.panel-body -->