{*  database field type to html field 

    INT[(M)] [UNSIGNED] [ZEROFILL]
    A normal-size integer. The signed range is -2147483648 to 2147483647. The unsigned range is 0 to 4294967295.

    TINYINT[(M)] [UNSIGNED] [ZEROFILL]
    A very small integer. The signed range is -128 to 127. The unsigned range is 0 to 255.

    BOOL, BOOLEAN
    These types are synonyms for TINYINT(1). A value of zero is considered false. Non-zero values are considered true: [...]
*}

{$_resourceOwner=$_resourceOwner|default:'display'}
{$_renderMode = $_renderMode|default:'normal'}
{$_controlOwner = $_controlOwner|default:'Default'}
{$_controlValue = $_value|default:null}
{$_linkLabelWithControl = true}
    
<div class="MPWSBlock MPWSBlockControl MPWSRenderMode{$_renderMode|capitalize}">

{capture name="control"}
    {if $_type eq 'text' or $_type eq 'textarea' }
        {$_standartControlType = 'TextArea'}
        {include file=$CURRENT.OBJECT->objectTemplatePath_control_htmlTextArea _name=$_name _renderMode=$_renderMode _value=$_controlValue}
    {elseif startsWith($_type, 'varchar') or $_type eq 'textbox' }
        {$_standartControlType = 'TextBox'}
        {include file=$CURRENT.OBJECT->objectTemplatePath_control_htmlTextBox _name=$_name _limit=glGetOnlyNums($_type) _renderMode=$_renderMode _value=$_controlValue}
    {elseif $_type eq 'tinyint(1)' or $_type eq 'bool' or $_type eq 'boolean' or $_type eq 'checkbox'}
        {$_standartControlType = 'CheckBox'}
        {include file=$CURRENT.OBJECT->objectTemplatePath_control_htmlCheckBox _name=$_name _renderMode=$_renderMode _value=$_controlValue}
    {elseif startsWith($_type, 'int')}
        {$_standartControlType = 'TextBox'}
        {include file=$CURRENT.OBJECT->objectTemplatePath_control_htmlTextBox _name=$_name _limit=10 _renderMode=$_renderMode _value=$_controlValue}
    {elseif $_type eq 'datetime'}
        {$_standartControlType = 'DateTime'}
        {include file=$CURRENT.OBJECT->objectTemplatePath_control_htmlDateTime _name=$_name _limit=10 _renderMode=$_renderMode _value=$_controlValue}
    {elseif $_type eq 'password'}
        {$_standartControlType = 'Password'}
        {include file=$CURRENT.OBJECT->objectTemplatePath_control_htmlPassword _name=$_name _renderMode=$_renderMode _value=$_controlValue}
    {elseif startsWith($_type, 'enum') or $_type eq 'select'}
        {$_standartControlType = 'DropDown'}
        {include file=$CURRENT.OBJECT->objectTemplatePath_control_htmlDropDown _name=$_name _items=libraryDataBaseChainQueryBuilder::parseEnum($_type) _resourceOwner=$_resourceOwner _controlOwner=$_controlOwner _renderMode=$_renderMode _value=$_controlValue}
        
     {* MPWS CONTROLS *}
     {* Contains special arguments than standart html controls *}
     
     
     {elseif $_type eq 'mpwsauth'}
     {elseif $_type eq 'mpwscaptcha'}
     {elseif $_type eq 'mpwsemailer'}
     {elseif $_type eq 'mpwsebuttons'}
     {elseif $_type eq 'mpwsLabelValue'}
     
        {$_standartControlType = 'LabelValue'}
        {include file=$CURRENT.OBJECT->objectTemplatePath_control_mpwsLabelValue
            _name=$_name
            _controlOwner=$_controlOwner
            _resourceOwner=$_resourceOwner
            _renderMode=$_renderMode 
            _value=$_controlValue}
            
     {elseif $_type eq 'mpwsLinkAction'}
        
        {$_standartControlType = 'LinkAction'}
        {$_linkLabelWithControl = false}
        {$_controlResourceOwner = 'control'}
        {if not empty($_isCustom) }
            {$_controlResourceOwner = $_resourceOwner}
        {/if}
        {include file=$CURRENT.OBJECT->objectTemplatePath_control_mpwsLinkAction
            _name=$_name
            _controlOwner=$_controlOwner
            _resourceOwner=$_controlResourceOwner
            _renderMode=$_renderMode 
            _action=$_action
            _mode=$_mode|default:'normal'
            _target=$_target|default:''
            _oid=$_oid|default:''
            _mpwsParams=$_mpwsParams|default:false
            _customParams=$_customParams|default:false
            _useValueAsTitle=$_useValueAsTitle|default:null
            _href=$_href|default:''}

    {/if}
{/capture}

{if not isset($_single) or not $_single }
    {if $_linkLabelWithControl}
        {include file=$CURRENT.OBJECT->objectTemplatePath_simple_label _key="`$_standartControlType``$_controlOwner``$_name`" _for="`$_standartControlType``$_name`" _resourceOwner=$_resourceOwner}
    {else}
        {include file=$CURRENT.OBJECT->objectTemplatePath_simple_label _key="`$_standartControlType``$_controlOwner``$_name`" _resourceOwner=$_resourceOwner}
    {/if}
{/if}
{$smarty.capture.control}

</div>