<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>{$model.context->getCurrentContextName()}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <pre>{$debug}</pre>
        <hr size="2"/>
        <div>
            {$model.widgets.TOOLBOXMENU.HTML}
            {$model.widgets.TOOLBOXMENU2.HTML}
            {$smarty.capture.mymsg}
            
        </div>
    </body>
</html>
