{extends file=$OBJECT.SITE->objectTemplatePath_layout_defaultPublic}

{block name="layoutResourcesCSS" append}
    <link rel="stylesheet" type="text/css" href="//codeorigin.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
{/block}

{block name="pageHeader"}
<header>
      <div class="upperHeader">
        <div class="container">
          <ul class="pull-right inline">
            <li><a class="invarseColor" href="#">Мій профіль</a></li>
            <li class="divider-vertical"></li>
            <li><a class="invarseColor" href="#">Мій список</a></li>
            <li class="divider-vertical"></li>
            <li><span class="component-shop-recently-viewed-embedded">Переглянуті товари</span></li>
            <li class="divider-vertical"></li>
            <li><a class="invarseColor" href="/#shop/cart">Кошик</a></li>
          </ul>
          <p>
          Вітаємо, Шановний Клієнте! <a href="login.html">Увійдйіть</a> або <a href="register.html">Зареєструйтесь</a>
          </p>
        </div><!--end container-->
      </div><!--end upperHeader-->

      <div class="middleHeader">
        <div class="container">

          <div class="middleContainer clearfix">

          <div class="siteLogo pull-left">
            <h1><a href="/#">ShopFine</a></h1>
          </div>

          <div class="pull-right">
            <form method="get" action="page" class="siteSearch">
              <div class="input-append">
                <input type="text" class="span2" id="appendedInputButton" placeholder="Search...">
                <button class="btn btn-primary" type="submit" name=""><i class="fa fa-search"></i></button>
              </div>
            </form>
          </div>

          <div class="pull-right">
            <div class="btn-group component-shop-cart-embedded"></div>
          </div><!--end pull-right-->

          </div><!--end middleCoontainer-->

        </div><!--end container-->
      </div><!--end middleHeader-->

      <div class="mainNav">
        <div class="container">
          <div class="navbar">
        </div><!--end container-->
      </div><!--end mainNav-->
      
    </header>
{/block}




{block name="pageBody"}

<!--     Product ID <input type="text" id="product-ID" data-key="id" data-target=".btn-product-details" size="4">

    <a id="button1id" name="button1id" class="btn btn-success" href="#" >Take me home!</a>
    <a id="button1id" name="button1id" class="btn btn-success" href="#shop/catalog" >Hello World! Get Catalog!</a>
    <a id="button1id" name="button1id" class="btn btn-success btn-product-details" href="javascript://" data-href="#shop/product/:id" >Hello World! Get  Product!</a>
    <a id="button1id" name="button1id" class="btn btn-danger" href="#shop/product/" >Hello World! Get 404!</a>
    <div id="data-holder-ID">empty</div>
    <div id="data-ID">empty</div> -->




{/block}




{block name="pageFooter"}
<footer>
    <div class="footerOuter">
      <div class="container">
        <div class="row-fluid">

          <div class="span6">
            <div class="titleHeader clearfix">
              <h3>Usefull Links</h3>
            </div>

            
            <div class="usefullLinks">
              <div class="row-fluid">
                <div class="span6">
                  <ul class="unstyled">
                    <li><a class="invarseColor" href="#"><i class="fa fa-caret-right"></i> About Us</a></li>
                    <li><a class="invarseColor" href="#"><i class="fa fa-caret-right"></i> Delivery Information</a></li>
                    <li><a class="invarseColor" href="#"><i class="fa fa-caret-right"></i> Privecy Police</a></li>
                    <li><a class="invarseColor" href="#"><i class="fa fa-caret-right"></i> Tarms &amp; Condations</a></li>
                  </ul>
                </div>

                <div class="span6">
                  <ul class="unstyled">
                    <li><a class="invarseColor" href="#"><i class="fa fa-caret-right"></i> Surf Brands</a></li>
                    <li><a class="invarseColor" href="#"><i class="fa fa-caret-right"></i> Customer Support</a></li>
                    <li><a class="invarseColor" href="#"><i class="fa fa-caret-right"></i> Special Gifs</a></li>
                    <li><a class="invarseColor" href="#"><i class="fa fa-caret-right"></i> Browse Site Map</a></li>
                  </ul>
                </div>
              </div>
            </div>

          </div><!--end span6-->

          <div class="span3">
            <div class="titleHeader clearfix">
              <h3>Contact Info</h3>
            </div>

            <div class="contactInfo">
              <ul class="unstyled">
                <li>
                  <button class="btn btn-small">
                    <i class="fa fa-volume-up"></i>
                  </button>
                  Call Us: <a class="invarseColor" href="#">5246-4697-891</a>
                </li>
                <li>
                  <button class="btn btn-small">
                    <i class="fa fa-envelope-o"></i>
                  </button>
                  <a class="invarseColor" href="#">shopfine@shopfine.com</a>
                </li>
                <li>
                  <button class="btn btn-small">
                    <i class="fa fa-map-marker"></i>
                  </button>
                  22 Avenue Park, Los Angeles
                </li>
              </ul>
            </div>

          </div><!--end span3-->

          <div class="span3">
            <div class="titleHeader clearfix">
              <h3>Newslatter</h3>
            </div>

            <div class="newslatter">
              <form method="get" action="page">
                <input class="input-block-level" type="text" name="email" value="" placeholder="Your Name...">
                <input class="input-block-level" type="text" name="email" value="" placeholder="Your E-Mail...">
                <button class="btn btn-block" type="submit" name="">Join Us Now</button>
              </form>
            </div>

          </div><!--end span3-->

        </div><!--end row-fluid-->

      </div><!--end container-->
    </div><!--end footerOuter-->

    <div class="container">
      <div class="row">
        <div class="span12">
          <ul class="payments inline pull-right">
            <li class="visia"></li>
            <li class="paypal"></li>
            <li class="electron"></li>
            <li class="discover"></li>
          </ul>
          <p>© Copyrights 2012 for shopfine.com</p>
        </div>
      </div>
    </div>
    </footer>
{/block}