{extends file=$OBJECT.SITE->objectTemplatePath_layout_defaultPublic}

{block name="layoutResourcesCSS" append}
    <link rel="stylesheet" type="text/css" href="//codeorigin.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{$INFO.URL.STATIC_CUSTOMER}extras.css">
{/block}

{block name="pageCommonBefore"}
<!-- MAIN WRAPPER class="wrapper" max-width="1110px"-->
<div class="wrapper">
{/block}

{block name="pageCommonAfter"}
</div>
{/block}

{block name="pageHeader"}
<header>
    <!-- PAGE-HEADER-->
  
    <!-- NAVBAR-->
  <nav class="navbar" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="{$INFO.URL.STATIC_CUSTOMER}logo.png" class="logo" title="Міксер"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-nav-main">
        <li class="active"><a href="#">Головна</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-nav-plugins"></ul>
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
      <input type="text" class="form-control" placeholder="текст для пошуку">
      </div>
      <button type="button" class="btn btn-primary" data-action="shop:search"><span class="fa fa-search"></span></button>
    </form>
  </div>
  </div><!-- /.navbar-collapse -->
</nav>
</header>
{/block}




{block name="pageBodyBefore"}
<div class="breadcrumb-placeholder"></div>
{/block}


{block name="pageBody"}



<!--     Product ID <input type="text" id="product-ID" data-key="id" data-target=".btn-product-details" size="4">

    <a id="button1id" name="button1id" class="btn btn-success" href="#" >Take me home!</a>
    <a id="button1id" name="button1id" class="btn btn-success" href="#shop/catalog" >Hello World! Get Catalog!</a>
    <a id="button1id" name="button1id" class="btn btn-success btn-product-details" href="javascript://" data-href="#shop/product/:id" >Hello World! Get  Product!</a>
    <a id="button1id" name="button1id" class="btn btn-danger" href="#shop/product/" >Hello World! Get 404!</a>
    <div id="data-holder-ID">empty</div>
    <div id="data-ID">empty</div> -->




{/block}

{block name="pageBodyAfter"}
{/block}


{block name="pageFooter"}
<!-- FOOTER-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-3">
                <h4 class="line3 center standart-h4title"><span>Navigation</span></h4>
                <ul class="footer-links">
                    <li><a href="#">Home</a>
                    </li>
                    <li><a href="#">project</a>
                    </li>
                    <li><a href="#">Elements</a>
                    </li>
                    <li><a href="#">Contact</a>
                    </li>
                    <li><a href="#">Blog</a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-6 col-sm-6 col-lg-3">
                <h4 class="line3 center standart-h4title"><span>Useful Links</span></h4>
                <ul class="footer-links">
                    <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a>
                    </li>
                    <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a>
                    </li>
                    <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a>
                    </li>
                    <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a>
                    </li>
                    <li><a href="http://www.bootstraptor.com">Bootstrap templates</a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-6 col-sm-6 col-lg-3">
                <h4 class="line3 center standart-h4title"><span>Useful Links</span></h4>
                <ul class="footer-links">
                    <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a>
                    </li>
                    <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a>
                    </li>
                    <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a>
                    </li>
                    <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a>
                    </li>
                    <li><a href="http://www.bootstraptor.com">Bootstrap templates</a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-6 col-sm-6 col-lg-3">
                <h4 class="line3 center standart-h4title"><span>Наші контакти:</span></h4>
                <address>
              <strong>bootstraptor.com, LLC.</strong><br>
              <i class="icon-map-marker"></i> 795 Folsom Ave, Suite 600<br>
              San Francisco, CA 94107<br>
              <i class="icon-phone-sign"></i> + 4 (123) 456-7890
            
            </address>
            </div>
        </div>
    </div>
    <!-- CONTAINER FOOTER-->
    <!-- NAVBAR-->
    <nav class="navbar navbar-inverse" style="margin-top:20px;" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Міксер</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">

                    <li><a href="#">Link</a>
                    </li>
                    <li><a href="#">Link</a>
                    </li>
                    <li class="dropup">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropup<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li><a href="#">Separated link</a>
                            </li>
                            <li><a href="#">One more separated link</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="текст для пошуку">
                    </div>
                    <button type="submit" class="btn btn-primary"><span class="fa fa-search"></span>
                    </button>
                </form>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</footer>
{/block}