{extends file=$OBJECT.SITE->objectTemplatePath_layout_defaultPublic}

{block name="pageCommonBefore"}
<div class="row">
    <!-- <div class="col-xs-0 col-sm-0 col-md-2"></div> -->
    <div class="col-xs-12 col-sm-12 col-md-12">
{/block}

{block name="pageCommonAfter"}
    </div>
    <!-- <div class="col-xs-0 col-sm-0 col-md-2"></div> -->
</div>
{/block}


{block name="pageHeader"}
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/shop"><!-- <img class="image image-logo image-logo-website" src="{$INFO.URL.STATIC_CUSTOMER}logo.png"/> -->MIKSER</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#/shop">Home</a></li>
      <li><a href="#/shop/catalog">Catalog</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input id="inputSearch" type="text" class="form-control" placeholder="Search">
      </div>
      <button id="buttonSearch" type="submit" class="btn btn-default">Submit</button>
      <button id="button1id" type="button" class="btn btn-default">TEST!</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#shop/cart">Cart<span class="badge">14</span></a></li>
      <li><a href="#site/payment">Payment</a></li>
      <li><a href="#site/shipping">Shipping</a></li>
      <li><a href="#site/help">Help</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Edit orofile</a></li>
          <li><a href="#">Subscriptions</a></li>
          <li><a href="#">Wish list</a></li>
          <li><a href="#">Orders</a></li>
          <li class="divider"></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
{/block}




{block name="pageBody"}

<!--     Product ID <input type="text" id="product-ID" data-key="id" data-target=".btn-product-details" size="4">

    <a id="button1id" name="button1id" class="btn btn-success" href="#" >Take me home!</a>
    <a id="button1id" name="button1id" class="btn btn-success" href="#shop/catalog" >Hello World! Get Catalog!</a>
    <a id="button1id" name="button1id" class="btn btn-success btn-product-details" href="javascript://" data-href="#shop/product/:id" >Hello World! Get  Product!</a>
    <a id="button1id" name="button1id" class="btn btn-danger" href="#shop/product/" >Hello World! Get 404!</a>
    <div id="data-holder-ID">empty</div>
    <div id="data-ID">empty</div> -->




{/block}




{block name="pageFooter"}

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <ul class="unstyled">
                <li>GitHub</li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact & support</a></li>
                <li><a href="#">Enterprise</a></li>
                <li><a href="#">Site status</a></li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
            <ul class="unstyled">
                <li>GitHub</li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact & support</a></li>
                <li><a href="#">Enterprise</a></li>
                <li><a href="#">Site status</a></li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
            <ul class="unstyled">
                <li>GitHub</li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact & support</a></li>
                <li><a href="#">Enterprise</a></li>
                <li><a href="#">Site status</a></li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
            <ul class="unstyled">
                <li>GitHub</li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact & support</a></li>
                <li><a href="#">Enterprise</a></li>
                <li><a href="#">Site status</a></li>
            </ul>
        </div>
    </div>

    <hr size="1">

    <div class="row">
        <div class="col-md-12">
            <p class="muted pull-right">© 2013 Company Name. All rights reserved</p>
        </div>
    </div>

{/block}