<!-- ========== BREADCRUMB ========== -->
<div id="breadcrumb-alt">
    <div class="container">
        <div class="breadcrumb-nav-holder minimal">
            <ul class="mpws-js-breadcrumb-list">
                <li class="locked dropdown breadcrumb-item mpws-js-shop-categories-toplist">
                    <a href="javascript://" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        весь каталог
                    </a>
                </li>
                <li class="locked breadcrumb-item">
                    <a href="#!/">Головна</a>
                </li>
            </ul><!-- /.breadcrumb-nav-holder -->
        </div>
    </div><!-- /.container -->
</div>
<!-- ========== BREADCRUMB : END ========== -->