@charset "utf-8";
/* LESS Document */


@bg_blue: #009CD3;
@bg_darkBlue: #0066CC;
@bg_lightBlue: #99CCFF;
@bg_lightGreen: #99cc00;
@bg_darkGreen: #69B433;
@bg_lightGrey: #eaeaea;
@bg_darkGray: #ccc;
@bg_white: #fff;

@font_blue: #009CD3;
@font_darkBlue: #0066CC;
@font_lightBlue: #99CCFF;
@font_lightGreen: #99cc00;
@font_darkGreen: #69B433;
@font_lightGrey: #eaeaea;
@font_white: #fff;

/*---------------------------------------------------------*/
.bg-gradient (@p, @color1, @color2){background: @color1; /* Old browsers */	/* IE9 SVG, needs conditional override of 'filter' to 'none' */	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR	0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);	background: -moz-linear-gradient(top,  @color1 0%, @color2 @p); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color1), color-stop(@p,@color2)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top,  @color1 0%,@color2 @p); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  @color1 0%,@color2 @p); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  @color1 0%,@color2 @p); /* IE10+ */	background: linear-gradient(to bottom,  @color1 0%,@color2 @p); /* W3C */	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0 ); /* IE6-8 */}

.rouded-corners (top,@radius){-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0; -webkit-border-top-left-radius: @radius;-webkit-border-top-right-radius: @radius;-moz-border-radius-topleft: @radius;-moz-border-radius-topright: @radius;border-top-left-radius: @radius;border-top-right-radius: @radius;}
.rouded-corners (both,@radius){-webkit-border-radius: @radius;-moz-border-radius: @radius;border-radius: @radius;}
.rouded-corners (bottom,@radius){-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0; -webkit-border-bottom-left-radius: @radius;-webkit-border-bottom-right-radius: @radius;-moz-border-radius-bottomleft: @radius;-moz-border-radius-bottomright: @radius;	border-bottom-left-radius: @radius;	border-bottom-right-radius: @radius;}

.padding(none){padding:0;}
.padding(top, @value){padding-top: @value;}
.padding(bottom, @value){padding-bottom: @value;}
.padding(left, @value){padding-left: @value;}
.padding(right, @value){padding-right: @value;}
.padding(all, @value){padding: @value;}

.margin(none){margin:0;}
.margin(top, @value){margin-top: @value;}
.margin(bottom, @value){margin-bottom: @value;}
.margin(left, @value){margin-left: @value;}
.margin(right, @value){margin-right: @value;}
.margin(all, @value){margin: @value;}

.center(@width){width: @width;margin: 0 auto;}

.shadow{ -webkit-box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.1); -moz-box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.1);	box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.1);}

.clearfix {clear:both; height:1px;}


*{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}
body{
	.margin(none);
	.padding(none);
	background:url(images/bg.gif) repeat-x;
}

#top_menu_wrapper{
	position:absolute;
	z-index:999;
	.top_menu_base{
		.shadow;
		.bg-gradient (100%,@bg_lightGrey,#fff);
		.rouded-corners(bottom,20px);
		height:150px;
		padding:10px;
		display:none;
		.top_menu_base_wrapper{
			position:relative;
			width:400px;
			height:150px;
			margin:0 auto;
			margin-left:250px;
			background: url(images/footerLogo.png) no-repeat;
			padding-left:100px;
		}
		.loggout{
			width:200px;
			float:left;
			text-align:center;
			top:0;
			left:0;
			padding:10px;
		}
	}
	.top_menu_button{
		.rouded-corners(bottom,10px);
		position:relative;
		.bg-gradient (100%,@bg_lightBlue,@bg_darkBlue);
		color:white;
		padding:5px;
		left:50px;
		width:150px;
		text-align:center;
		cursor:pointer;
	}
	& a{
		color: #0f6db7;
		display:block;
		text-decoration:none;
		padding:2px 15px;
	}
}
.logged{
	width:600px;
}

#header{
	.center(800px);
	.margin(top,9px);
	height:227px;
	position:relative;
	background:url(images/header.jpg) no-repeat;
	#contacts{
		float:right;
		width:170px;
		margin-top:30px;
		a{
			display:block;
			.rouded-corners(both,10px);
			.bg-gradient(100%,@bg_lightGreen,@bg_darkGreen);
			color:white;
			margin:15px 0 15px 0;
			padding:5px;
			padding-left:30px;
			font-weight:bold;
			text-decoration:none;
			position:relative;
			&:hover{
				.bg-gradient(100%,@bg_darkBlue,@bg_lightBlue);	
			}
			.r{
				position:absolute;
				right:-10px;
			}
			img{
				position:absolute;
				top:-15px;
				left:-10px;
			}
		}
	}
}

#menu {
	.center(600px);
	.padding(left, 200px);
	height:30px;
	position:relative;
		a {
			color: white;
			display:inline-block;
			text-decoration:none;
			font-weight:bold;
			padding:5px;
			.margin(top,4px);
			&:hover{
				.rouded-corners(both,5px);
				background: #e5f2dd;
				color:#0F6DB7;
			}
		}
		a:first-child,a:first-child+a{
			.rouded-corners(top,10px);
			background-color:@bg_darkGreen;
			.bg-gradient (100%,@bg_lightGreen,@bg_darkGreen);
			position:absolute;
			bottom:0;
			color: white;
			text-decoration:none;
			font-weight:bold;
			padding: 10px;
			left:10px;
			height:30px;
			font-size:12px;
			text-align:center;
			&:hover{
				.bg-gradient(100%,@bg_darkBlue,@bg_lightBlue);
			}
		}
		a:first-child+a{
			padding-top:5px;
			left:110px;
			height:25px;
		}
}

#content_wrapper{
	.shadow;
	.center(790px);
	.bg-gradient (20%,@bg_lightGrey,#fff);
	.rouded-corners(both,20px);
	position:relative;
	margin-top:30px;
	border-top: 3px solid #CDD1D3;
	&>h1{
		margin:10px;
		.rouded-corners(both,10px);
		.bg-gradient (100%,@bg_lightBlue,@bg_darkBlue);
		color:white;
		padding:5px;
	}
	.content{
		margin:10px;
		padding:20px;
		padding-top:10px;
	}
	#order_now{
		position:absolute;
		top:-115px;
		right:30px;
		border:none;
		
	}
}

table{
	border: @bg_lightGrey 1px solid;
}

.cell01{
	background-color:@bg_lightGreen;
	color:white;
	padding:10px 5px 10px 5px;
	font-weight:bold;
}

.cell02,.cell02a{
	padding:10px 5px 10px 5px;
	color:@font_darkBlue;
	text-align:center;
	a{
		text-decoration:none;
		color:inherit;
	}
}
.cell02a{
	background:@bg_lightGrey;
}

.cell03{
	background-color:@bg_darkGray;
	color:@font_darkBlue;
	padding:10px 5px 10px 5px;
	font-weight:bold;
	text-align:center;
	a{
		text-decoration:none;
		color:inherit;
	}
}
.cell04,.cell04a{
	padding:10px 5px 10px 5px;
	color:@font_darkBlue;
	text-align:right;
	font-weight:bold;
}
.cell04a{
	padding-left:20px;
	width:80%;
	text-align:left;
	font-weight:normal;
}
.cell05{
	color:black;
	padding:15px;
	text-align:justify;
}

.cell06{
	.cell02;
	text-align:left;
	font-weight:bold;
}
.cell06a{
	.cell02a;
	text-align:left;
}

#msg01,#msg02{
	.center(700px);
	.rouded-corners(both,5px);
	border:1px solid @bg_lightGreen;
	padding:5px;
	color:@font_darkGreen;
	margin-bottom:20px;
	&>span{
		display:block;
		margin:5px;
	}
	& li{
		margin:5px 20px;
	}
}

#msg02{
	border:1px solid red;
	padding:5px;
	color:red;

}

.msg04{
	
}

a.pagination, a.pagination_active{
	color: @font_darkBlue;
	display:inline-block;
	text-decoration:none;
	font-weight:bold;
	padding:5px;
	&:hover{
		.rouded-corners(both,5px);
		background: #e5f2dd;
		color:#0F6DB7;
	}
}
a.pagination_active{
	.rouded-corners(both,5px);
	background: @bg_darkBlue;
	color: white;
}

.btn01{
		.rouded-corners(both,10px);
		.bg-gradient(100%,@bg_lightGreen,@bg_darkGreen);
		color:white;
		margin:10px 0;
		padding:5px;
		font-weight:bold;
		text-decoration:none;
		&:hover{
			.bg-gradient(100%,@bg_darkBlue,@bg_lightBlue);	
		}
}

#base-text{
	.center(700px);
	text-align:justify;
}

#payments,#guarantee{
	.center(800px);
	padding:20px;
	text-align:center;
	img{
		margin:10px;
		border:none;
	}
}

#footer {
	background:#ededed;
	border-bottom:1px solid #0f6db7;
	border-top:1px solid #0f6db7;
	padding:20px;
}

#footer .footerMenu{
	background: url(images/footerLogo.png) no-repeat;
	width:300px;
	margin:0 auto;
	padding-left: 100px;
}

#footer .footerMenu a{
	color: #0f6db7;
	display:block;
	text-decoration:none;
	padding:2px;
	clear: both;
}



