<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapsePluginAccount"><span class="glyphicon glyphicon-user"></span>Accounts</a>
        </h4>
    </div>
    <div id="collapsePluginAccount" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="list-group">
                <a href="#account/profile" class="list-group-item">Profiles</a>
            </div>
        </div>
    </div>
</div>