<div class="MPWSComponent MPWSComponentDataTable">
{if isset($CURRENT.SOURCE.NAME)}
    {include file=$CURRENT.OBJECT->objectTemplatePath_component_objectSummary _title=$CURRENT.SOURCE.NAME _type='component'}
{/if}
{* data table content *}
{if count($_data) gt 0}

    {* render table captions *}
    {if isset($_confing.datatable.displayCaptions) and $_confing.datatable.displayCaptions}
        <div class="MPWSDataTableRow MPWSDataTableRowCaptions">


        {if not empty($_confing.datatable.actions)}
            <div class="MPWSDataTableCell MPWSDataTableCellCaption MPWSDataTableCellActions">{$CURRENT.OBJECT->objectProperty_widget_dataTableViewCaptionActions}</div>
        {/if}

        {if isset($_confing.datatable.fields)}
            {foreach $_confing.datatable.fields as $fieldKey}
                <div class="MPWSDataTableCell MPWSDataTableCellCaption MPWSDataTableCell{$fieldKey|capitalize:0:1}">
                    {$CURRENT.OBJECT->{"objectProperty_widget_dataTableViewCaption`$CURRENT.SOURCE.NAME``$fieldKey`"}}
                </div>
            {/foreach}
        {else}
            {foreach $_data.0 as $cellEntry}
                <div class="MPWSDataTableCell MPWSDataTableCellCaption MPWSDataTableCell{$cellEntry@key|capitalize:0:1}">
                    {$CURRENT.OBJECT->{"objectProperty_widget_dataTableViewCaption`$CURRENT.SOURCE.NAME``$cellEntry@key`"}}
                </div>
            {/foreach}
        {/if}
        </div>
    {/if}

    {foreach $_data as $rowIndex => $rowEntry}
        <div class="MPWSDataTableRow MPWSDataTableRow{$rowIndex}">
        {capture name="dataTableActions"}{/capture}
        {if not empty($_confing.datatable.actions)}
            {capture "dataTableActions"}
                <div class="MPWSDataTableCell MPWSDataTableCellActions">
                {foreach $_confing.datatable.actions as $actionName}
                    <span class="MPWSDataTableCellAction{$actionName|capitalize:0:1}">
                    {include file=$CURRENT.OBJECT->objectTemplatePath_component_actionLink _name="dataTableViewActionLink`$CURRENT.SOURCE.NAME`" _resource='widget' _action=$actionName}
                    </span>
                {/foreach}
                </div>
            {/capture}
        {/if}
        {if isset($_confing.datatable.fields)}
            {$smarty.capture.dataTableActions}
            {* display all data according to fields *}
            {foreach $_confing.datatable.fields as $fieldKey}
                <div class="MPWSDataTableCell MPWSDataTableCell{$fieldKey|capitalize:0:1}">{$rowEntry[$fieldKey]}</div>
            {/foreach}
        {else}
            {$smarty.capture.dataTableActions}
            {* display all data *}
            {foreach $rowEntry as $fieldKey => $cellEntry}
                <div class="MPWSDataTableCell MPWSDataTableCell{$fieldKey|capitalize:0:1}">{$cellEntry}</div>
            {/foreach}
        {/if}
        </div>
    {/foreach}

{else}
    {include file=$CURRENT.OBJECT->objectTemplatePath_component_exception _message="Data object does not have content to render" _tpl=$smarty.template}
{/if}
</div>