<div class="MPWSComponent MPWSComponenMenuPlugins">
    <ul class="MPWSList MPWSListPluginLinks">
    {foreach $OBJECT.WOB as $webObj}
        <li class="MPWSListItem MPWSListItemPluginLink">
            <a href="{$webObj->objectConfiguration_object_menuExecObjectPath}?plugin={$webObj->getObjectName()}" class="MPWSLink" title="{$webObj->objectProperty_widget_systemPluginListTitle}">
                <span class="MPWSText MPWSTextTitle">{$webObj->objectProperty_widget_systemPluginListTitle}</span>
                {$submenu = $webObj->objectConfiguration_display_menuPlugin}
                {if !empty($submenu) }
                    {include file=$CURRENT.OBJECT->objectTemplatePath_component_menu _items=$submenu _OBJ=$webObj}
                {/if}
            </a>
        </li>
    {/foreach}
    </ul>
</div>