{assign var="DOs" value=[]}
{if (isset($_OBJ))}
    {assign var="DOs" value=[$_OBJ]}
{/if}
{$DOs[] = $CURRENT.OBJECT}
{$DOs[] = $OBJECT.SITE}
{assign var="DISPLAY_OBJECT" value=glGetFirstNonEmptyValue($DOs)}

{$showDescription = $_showDescription|default:false}
{* get menu index *}
{$_subIndex = $_sub|default:0}

{* print container for root list *}
{if empty($_subIndex)}
<div class="MPWSComponent MPWSComponenMenu">
{/if}

    {if isset($_items)}
    
    {if empty($_subIndex)}
        <ul class="MPWSList MPWSListMenu">
    {else}
        <ul class="MPWSList MPWSListMenuSub MPWSListMenuSub{$_subIndex}">
    {/if}
        
    {foreach $_items as $keyvar=>$itemvar}
        <li class="MPWSListItem">
            {$_linkText = $DISPLAY_OBJECT->{"objectProperty_display_menuText`$keyvar|capitalize:0:1`"}}
            <a href="{$itemvar.link}" target="{$itemvar.target}" class="MPWSLink" title="{$_linkText}">
                <span class="MPWSText MPWSTextTitle">{$_linkText}</span>
                {if $showDescription}
                <span class="MPWSText MPWSTextDescription">{$DISPLAY_OBJECT->{"objectProperty_display_menuTextDescription`$keyvar|capitalize:0:1`"}}</span>
                {/if}
                {if not empty($itemvar.contains)}
                    <span class="MPWSIconArrow"></span>
                {/if}
            </a>
            {if isset($itemvar.contains) and ($itemvar.contains eq '__PLUGINS__')}
            <ul class="MPWSList MPWSListMenuSub MPWSListMenuSub{$_subIndex + 1}">
                {foreach $OBJECT.WOB as $webObj}
                    <li class="MPWSListItem">
                        <a href="{$webObj->objectConfiguration_object_menuExecObjectPath}?plugin={$webObj->getObjectName()}" class="MPWSLink" title="{$webObj->objectProperty_widget_systemPluginListTitle}">
                            <span class="MPWSText">{$webObj->objectProperty_widget_systemPluginListTitle}</span>
                        </a>
                        {$submenu = $webObj->objectConfiguration_display_menuPlugin}
                        {if !empty($submenu) }
                            {include file=$CURRENT.OBJECT->objectTemplatePath_component_menu _items=$submenu _OBJ=$webObj _sub=$_subIndex + 2}
                        {/if}
                    </li>
                {/foreach}
            </ul>
            {/if}
        </li>
    {/foreach}
    </ul>
    {/if}
    
{if empty($_subIndex)}
</div>
{/if}