<div class="MPWSComponent MPWSComponentMessageList MPWSComponentMessageList{$_controlOwner|capitalize}">
{include file=$CURRENT.OBJECT->objectTemplatePath_simple_header _resourceOwner='display' _key="MessageList`$_controlOwner|default:''`"}
{if isset($_messages) }
    <ul class="MPWSList">
    {foreach $_messages as $keyvar=>$itemvar}
        <li class="MPWSListItem">{$CURRENT.OBJECT->{"objectProperty_`$_resourceOwner|default:'message'`_message`$itemvar|capitalize`"}}</li>
    {/foreach}
    </ul>
{/if}
</div>