{if isset($_realm) }
    <div id="MPWSComponentMessagesList{$_realm|capitalize:0:1}ID" class="MPWSComponent MPWSComponentMessagesList MPWSComponentMessagesList{$_realm|capitalize:0:1}">
    {include file=$CURRENT.OBJECT->objectTemplatePath_component_simpleHeader _title=$CURRENT.OBJECT->objectProperty_component_messagesListHeader}
    {if isset($MODEL.MESSAGE[$_realm]) }
        <ul class="MPWSList">
        {foreach $MODEL.MESSAGE[$_realm] as $keyvar=>$itemvar}
            <li class="MPWSListItem">{$CURRENT.OBJECT->{"objectProperty_message_`$itemvar`"}}</li>
        {/foreach}
        </ul>
    {else}
        {include file=$CURRENT.OBJECT->objectTemplatePath_component_exception _message="Wrong realm type" _tpl=$smarty.template}
    {/if}
    </div>
{/if}