<div class="MPWSControl MPWSControlComplex MPWSControlComplexLoginForm">

{$_formAction = $MODEL.CUSTOM.LOGIN_URL}
{if isset($_action)}
    {$_formAction = $_action}
{/if}

<form action="?{$_formAction}" method="POST">
    {include file=$CURRENT.OBJECT->objectTemplatePath_component_controlFieldSwitcher _type='textbox' _name='Login' _ownerName="authBox"}
    {include file=$CURRENT.OBJECT->objectTemplatePath_component_controlFieldSwitcher _type='password' _name='Password' _value='' _ownerName="authBox"}
    {include file=$CURRENT.OBJECT->objectTemplatePath_component_simpleFormButtons _buttons=['SignIn'] _page='Login'}
</form>
    
</div>