<div id="MPWSComponenPagingBarID" class="MPWSComponent MPWSComponenPagingBar">
    
    {include file=$CURRENT.OBJECT->objectTemplatePath_component_divRowLabelValue _label=$CURRENT.OBJECT->objectProperty_component_pagingBarSummaryFilteredRecords _value=$_data.AVAILABLE}
    
    {include file=$CURRENT.OBJECT->objectTemplatePath_component_divRowLabelValue _label=$CURRENT.OBJECT->objectProperty_component_pagingBarSummaryTotalRecords _value=$_data.TOTAL}

    {include file=$CURRENT.OBJECT->objectTemplatePath_component_divRowLabelValue _label=$CURRENT.OBJECT->objectProperty_component_pagingBarSummaryPageSize _value=$_data.LIMIT}
    
    {include file=$CURRENT.OBJECT->objectTemplatePath_component_divRowLabelValue _label=$CURRENT.OBJECT->objectProperty_component_pagingBarSummaryPageCount _value=$_data.PAGES}
    
    {include file=$CURRENT.OBJECT->objectTemplatePath_component_divRowLabelValue _label=$CURRENT.OBJECT->objectProperty_component_pagingBarSummaryCurrentPage _value=$_data.CURRENT}

    <div class="MPWSWrapper">
        
    {if not empty($_data.EDGES)}
    <div class="MPWSBlock MPWSBlockEdgeLinks">
    {foreach $_data.EDGES as $edgeName => $link}
        <a href="?{$link}" class="MPWSLink MPWSLinkPaging">{$CURRENT.OBJECT->{"objectProperty_component_pagingBarEdgeLink`$edgeName`"}}</a>
    {/foreach}
    </div>
    {/if}
    
    {if not empty($_data.LINKS) and count($_data.LINKS) gt 1}
    <div class="MPWSBlock MPWSBlockPageLinks">
    {foreach $_data.LINKS as $pageIndex => $link}
        {if $_data.CURRENT == $pageIndex}
            <a href="?{$link}" class="MPWSLink MPWSLinkPaging MPWSLinkPagingActive">{$pageIndex}</a>
        {else}
            <a href="?{$link}" class="MPWSLink MPWSLinkPaging">{$pageIndex}</a>
        {/if}
    {/foreach}
    </div>
    {/if}

    </div>
    
</div>