<div id="MPWSComponenPagingBarID" class="MPWSComponent MPWSComponenPagingBar">
    
    <div class="MPWSBlock MPWSBlockSummary">
        <div class="MPWSDataRow">
            <label class="MPWSLabel">{$CURRENT.OBJECT->objectProperty_component_pagingBarSummaryFilteredRecords}</label>
            <span class="MPWSValue">{$_data.AVAILABLE}</span>
        </div>
        <div class="MPWSDataRow">
            <label class="MPWSLabel">{$CURRENT.OBJECT->objectProperty_component_pagingBarSummaryTotalRecords}</label>
            <span class="MPWSValue">{$_data.TOTAL}</span>
        </div>
        <div class="MPWSDataRow">
            <label class="MPWSLabel">{$CURRENT.OBJECT->objectProperty_component_pagingBarSummaryPageSize}</label>
            <span class="MPWSValue">{$_data.LIMIT}</span>
        </div>
        <div class="MPWSDataRow">
            <label class="MPWSLabel">{$CURRENT.OBJECT->objectProperty_component_pagingBarSummaryPageCount}</label>
            <span class="MPWSValue">{$_data.PAGES}</span>
        </div>
        <div class="MPWSDataRow">
            <label class="MPWSLabel">{$CURRENT.OBJECT->objectProperty_component_pagingBarSummaryCurrentPage}</label>
            <span class="MPWSValue">{$_data.CURRENT}</span>
        </div>
    </div>
    
    <div class="MPWSBlock MPWSBlockEdgeLinks">
    {foreach $_data.EDGES as $edgeName => $link}
    <a href="?{$link}" class="MPWSLink MPWSLinkPaging">{$CURRENT.OBJECT->{"objectProperty_component_pagingBarEdgeLink`$edgeName`"}}</a>
    {/foreach}
    </div>
    
    <div class="MPWSBlock MPWSBlockPageLinks">
    {foreach $_data.LINKS as $pageIndex => $link}
    <a href="?{$link}" class="MPWSLink MPWSLinkPaging">{$pageIndex}</a>
    {/foreach}
    </div>
    
</div>