{$_controlOwner = 'SearchBox'}
<div id="MPWSComponentSearchBoxID" class="MPWSComponent MPWSComponentSearchBox">
    {include file=$CURRENT.OBJECT->objectTemplatePath_simple_header _key="searchBox"}
    <form action="{$_confing.searchbox.formAction}" class="MPWSForm MPWSFormSearchBox" method="POST">
        <div class="MPWSFormBody">
        {* search fields *}
        {foreach $_data.FIELDS as $field}
            {assign var="_fieldValue" value=""}
            {if $_data.ACTIVE }
                {assign var="_fieldValue" value=libraryRequest::getPostFormField($field)}
                {if empty($_fieldValue) and isset($_data.FILTER.$field)}
                    {$_fieldValue = trim($_data.FILTER.$field, '%')}
                {/if}
            {else}
                {assign var="_fieldValue" value=false}
            {/if}
            {include file=$CURRENT.OBJECT->objectTemplatePath_trigger_control _type='textbox' _name=$field _value=$_fieldValue _resourceOwner=$_resourceOwner _controlOwner=$_controlOwner}
        {/foreach}
        </div>
        
        <div class="MPWSFormFooter">
        {* form buttons *}
        {if $_data.ACTIVE }
            {include file=$CURRENT.OBJECT->objectTemplatePath_control_mpwsFormButtons _buttons=['Search', 'Discard'] _controlOwner=$_controlOwner _resourceOwner='control'}
        {else}
            {include file=$CURRENT.OBJECT->objectTemplatePath_control_mpwsFormButtons _buttons=['Search'] _controlOwner=$_controlOwner _resourceOwner='control'}
        {/if}
        </div>
    </form>

    {* show search result message *}
    {if $_data.ACTIVE }
    
        {capture name="searchBoxResultText"}
            {foreach $_data.WORDS as $sbKey => $sbVal}
                {$_filterString[]= "`$CURRENT.OBJECT->objectProperty_component_searchBoxResultFilterTextFieldPrefix` `$sbKey` `$CURRENT.OBJECT->objectProperty_component_searchBoxResultFilterTextValuePrefix` `$sbVal`"}
            {/foreach}
            {$srchl = implode($CURRENT.OBJECT->objectProperty_component_searchBoxResultFilterTextFieldValueSplitter, $_filterString)}
            {$CURRENT.OBJECT->objectProperty_component_searchBoxResultFilterTextPrefix} {$srchl}
        {/capture}
        {include file=$CURRENT.OBJECT->objectTemplatePath_component_dataRow _label=$CURRENT.OBJECT->objectProperty_component_searchBoxResultMessage _value=$smarty.capture.searchBoxResultText}
        
    {/if}
    
</div>