<div class="MPWSComponent MPWSComponentSearchBox">
    <div class="MPWSComponentHeader">
        <h3>Search Box</h3>
    </div>
    <div class="MPWSComponentBody">
        <form action="{$_confing.searchbox.formAction}" class="MPWSForm MPWSFormSearchBox" method="POST">
            <div class="MPWSFormFields">
            {foreach $_data.FIELDS as $fieldKey => $field}
                {assign var="_fieldValue" value=libraryRequest::getPostValue($field)}
                <div class="MPWSFormField MPWSFormField{$fieldKey|capitalize:0:1}">
                    <label class="MPWSFieldLabel">{$fieldKey}</label>
                    <input type="text" class="MPWSTextBox" name="{$field}" value="{$_fieldValue}" placeholder="... part of title"/>
                </div>
                <div class="MPWSSeparator"></div>
            {/foreach}
            </div>
            <div class="MPWSBlock MPWSBlockFormControls">
                <input type="submit" name="do" value="Search"/>
            {if $_data.ACTIVE }
                <input type="submit" name="do" value="Discard"/>
            {/if}
            </div>
        </form>
    </div>
    {if $_data.ACTIVE }
    <div class="MPWSComponentSummary">
        <div class="MPWSComponentSummaryRow">
            <label>Your search request is:</label>
            <span class="MPWSValue">
            {foreach $_data.WORDS as $sbKey => $sbVal}
                {$_filterString[]= "field `$sbKey` contains value `$sbVal`"}
            {/foreach}
            {$srchl = implode(", and the ", $_filterString)}
            The {$srchl}
            </span>
        </div>
    </div>
    {/if}
</div>