


<div id="MPWSComponentSearchBoxID" class="MPWSComponent MPWSComponentSearchBox">
    {include file=$CURRENT.OBJECT->objectTemplatePath_component_simpleHeader _title=$CURRENT.OBJECT->objectProperty_component_searchBoxHeader}

    <form action="{$_confing.searchbox.formAction}" class="MPWSForm MPWSFormSearchBox" method="POST">
        {* search fields *}
        {foreach $_data.FIELDS as $field}
            {assign var="_fieldValue" value=""}
            {if $_data.ACTIVE }
                {assign var="_fieldValue" value=libraryRequest::getPostFormField($field)}
                {if empty($_fieldValue) and isset($_data.FILTER.$field)}
                    {$_fieldValue = trim($_data.FILTER.$field, '%')}
                {/if}
            {else}
                {assign var="_fieldValue" value=""}
            {/if}
            {include file=$CURRENT.OBJECT->objectTemplatePath_component_controlFieldSwitcher _type='textbox' _name=$field _value=$_fieldValue _ownerName="`$_ownerName`SearchBox" _resource='custom'}
        {/foreach}
        {* form buttons *}

        {if $_data.ACTIVE }
            {include file=$CURRENT.OBJECT->objectTemplatePath_component_simpleFormButtons _buttons=['Search', 'Discard'] _page='SearchBox'}
        {else}
            {include file=$CURRENT.OBJECT->objectTemplatePath_component_simpleFormButtons _buttons=['Search'] _page='SearchBox'}
        {/if}
    </form>

    {if $_data.ACTIVE }
    
        {capture name="searchBoxResultText"}
            {foreach $_data.WORDS as $sbKey => $sbVal}
                {$_filterString[]= "`$CURRENT.OBJECT->objectProperty_component_searchBoxResultFilterTextFieldPrefix` `$sbKey` `$CURRENT.OBJECT->objectProperty_component_searchBoxResultFilterTextValuePrefix` `$sbVal`"}
            {/foreach}
            {$srchl = implode($CURRENT.OBJECT->objectProperty_component_searchBoxResultFilterTextFieldValueSplitter, $_filterString)}
            {$CURRENT.OBJECT->objectProperty_component_searchBoxResultFilterTextPrefix} {$srchl}
        {/capture}
        {include file=$CURRENT.OBJECT->objectTemplatePath_component_divRowLabelValue _label=$CURRENT.OBJECT->objectProperty_component_searchBoxResultMessage _value=$smarty.capture.searchBoxResultText}
        
    {/if}
    
</div>