{* default control attribute values *}
{$_controlCssName = 'TextBox'}
{$_controlCssNameCustom = "`$_controlCssName``$_name`"}
{$_controlValue = false}
{$_controlSize = 25}
{$_controlLimit = ''}
{* init control with passed arguments *}
{if isset($_value)}
    {$_controlValue = $_value}
{/if}
{if isset($_size)}
    {$_controlSize = $_size}
{/if}
{if isset($_limit)}
    {$_controlLimit = " maxlength=\"`$_limit`\""}
{/if}
{* control implemetation *}
<div class="MPWSControlField MPWSControlField{$_controlCssName} MPWSControlField{$_controlCssNameCustom}">
    <input id="MPWSControl{$_controlCssNameCustom}ID" type="text" name="mpws_field_{$_name|lower}" value="{$_controlValue}" size="{$_controlSize}"{$_controlLimit} class="MPWSControl MPWSControl{$_controlCssName} MPWSControl{$_controlCssNameCustom}">
</div>