{* default control attribute values *}
{$_controlCssName = 'DateTime'}
{$_controlCssNameCustom = "`$_controlCssName``$_name`"}
{$_controlValue = false}
{* init control with passed arguments *}
{if isset($_value)}
    {$_controlValue = $_value}
{/if}
{* control implemetation *}
<div class="MPWSControlField MPWSControlField{$_controlCssName} MPWSControlField{$_controlCssNameCustom}">
    <input id="MPWSControl{$_controlCssNameCustom}ID" type="text" name="mpws_field_{$_name|lower}" value="{$_controlValue}" size="{$_controlSize}" class="MPWSControl MPWSControl{$_controlCssName} MPWSControl{$_controlCssNameCustom}">
</div>