{* default control attribute values *}
{$_controlName = "mpws_field_`$_name|lower`"}
{$_controlCssName = 'CheckBox'}
{$_controlCssNameCustom = "`$_controlCssName``$_name`"}
{$_controlValue = libraryRequest::getPostValue($_controlName)}
{$_controlRenderMode = 'normal'}

{* init control with passed arguments *}
{if isset($_renderMode)}
    {$_controlRenderMode = $_renderMode}
{/if}
{if (empty($_controlValue) and isset($_value)) or $_controlValue eq "on"}
    {$_controlValue = "checked"}
{/if}
{* control implemetation *}
<div class="MPWSControlField MPWSControlField{$_controlCssName} MPWSControlField{$_controlCssNameCustom}">
    
{if $_controlRenderMode eq 'normal'}
    
    {* editable control *}
    
    <input id="MPWSControl{$_controlCssNameCustom}ID" type="checkbox" name="{$_controlName}" {$_controlValue} class="MPWSControl MPWSControl{$_controlCssName} MPWSControl{$_controlCssNameCustom}">
           
{elseif $_controlRenderMode eq 'hidden'}
    
    {* display hidden control*}
    <span class="MPWSControlReadOnlyValue">{$_controlValue}</span>
    <input type="hidden" name="{$_controlName}" value="{$_controlValue}">

{else}
    {include file=$CURRENT.OBJECT->objectTemplatePath_component_exception _message="Wrong control render mode" _tpl=$smarty.template}
{/if}
           
</div>