{* default control attribute values *}
{$_controlName = "mpws_field_`$_name|lower`"}
{$_controlCssName = 'DateTime'}
{$_controlCssNameCustom = "`$_controlCssName``$_name`"}
{$_controlValue = libraryRequest::getPostValue($_controlName, false)}
{$_controlRenderMode = 'normal'}
{* init control with passed arguments *}
{if isset($_renderMode)}
    {$_controlRenderMode = $_renderMode}
{/if}
{if empty($_controlValue) and isset($_value)}
    {$_controlValue = $_value}
{/if}
{* control implemetation *}
<div class="MPWSControlField MPWSControlField{$_controlCssName} MPWSControlField{$_controlCssNameCustom} MPWSControlRenderMode{$_controlRenderMode|capitalize}">
    {if $_controlRenderMode eq 'normal' or $_controlRenderMode eq 'error'}
    
        {* editable control *}
        <input id="MPWSControl{$_controlCssNameCustom}ID" type="text" name="{$_controlName}" value="{$_controlValue}" size="{$_controlSize}" class="MPWSControl MPWSControl{$_controlCssName} MPWSControl{$_controlCssNameCustom}">

    {elseif $_controlRenderMode eq 'hidden'}

        {* display hidden control*}
        <span class="MPWSControlReadOnlyValue">{$_controlValue}</span>
        <input type="hidden" name="{$_controlName}" value="{$_controlValue}">

    {else}
        {include file=$CURRENT.OBJECT->objectTemplatePath_component_exception _message="Wrong control render mode" _tpl=$smarty.template}
{/if}
</div>