body {
    background: #eee;
}

.MPWSPageHeader {
    background-color: #555;
    height: 101px;
    position: fixed;
    width: 100%;
    top: 0px;
    box-shadow: 0px 0px 10px 10px #333;
    border-bottom: 1px solid #bbb;
    .image-logo-website {
        width: auto;
        height: 100px;
        margin-left: 300px;
        // box-shadow: 0px 0px 10px 0px #000;
    }
}

.MPWSPageBody {
    margin-top: 150px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    #data-holder {
        padding: 10px;
        border: 1px solid #aaa;
        margin-bottom: 40px;
    }
}