@charset "utf-8";
/* LESS Document */


@bg_blue: #009CD3;
@bg_darkBlue: #0066CC;
@bg_lightBlue: #99CCFF;
@bg_lightGreen: #99cc00;
@bg_darkGreen: #69B433;
@bg_lightGrey: #eaeaea;
@bg_white: #fff;

@font_blue: #009CD3;
@font_darkBlue: #0066CC;
@font_lightBlue: #99CCFF;
@font_lightGreen: #99cc00;
@font_darkGreen: #69B433;
@font_lightGrey: #eaeaea;
@font_white: #fff;

/*---------------------------------------------------------*/
.bg-gradient (@p, @color1, @color2){background: @color1; /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */ background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR   0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=); background: -moz-linear-gradient(top,  @color1 0%, @color2 @p); /* FF3.6+ */    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color1), color-stop(@p,@color2)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top,  @color1 0%,@color2 @p); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  @color1 0%,@color2 @p); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  @color1 0%,@color2 @p); /* IE10+ */    background: linear-gradient(to bottom,  @color1 0%,@color2 @p); /* W3C */   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0 ); /* IE6-8 */}

.rouded-corners (top,@radius){-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0; -webkit-border-top-left-radius: @radius;-webkit-border-top-right-radius: @radius;-moz-border-radius-topleft: @radius;-moz-border-radius-topright: @radius;border-top-left-radius: @radius;border-top-right-radius: @radius;}
.rouded-corners (both,@radius){-webkit-border-radius: @radius;-moz-border-radius: @radius;border-radius: @radius;}
.rouded-corners (bottom,@radius){-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0; -webkit-border-bottom-left-radius: @radius;-webkit-border-bottom-right-radius: @radius;-moz-border-radius-bottomleft: @radius;-moz-border-radius-bottomright: @radius;    border-bottom-left-radius: @radius; border-bottom-right-radius: @radius;}

.padding(none){padding:0;}
.padding(top, @value){padding-top: @value;}
.padding(bottom, @value){padding-bottom: @value;}
.padding(left, @value){padding-left: @value;}
.padding(right, @value){padding-right: @value;}
.padding(all, @value){padding: @value;}

.margin(none){margin:0;}
.margin(top, @value){margin-top: @value;}
.margin(bottom, @value){margin-bottom: @value;}
.margin(left, @value){margin-left: @value;}
.margin(right, @value){margin-right: @value;}
.margin(all, @value){margin: @value;}

.center(@width){width: @width;margin: 0 auto;}

.shadow{ -webkit-box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.1); -moz-box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.1); box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.1);}

.clearfix {clear:both; height:1px;}


*{
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
}
body{
    .margin(none);
    .padding(none);
    background:url(bg.gif) repeat-x;
}

#top_menu_wrapper{
    position:absolute;
    z-index:999;
    .top_menu_base{
        .shadow;
        .bg-gradient (100%,@bg_lightGrey,#fff);
        .rouded-corners(bottom,20px);
        height:150px;
        padding:10px;
        display:none;
        background-image: url(top_slider_bg.png);
        .top_menu_base_wrapper{
            position:relative;
            width:400px;
            height:150px;
            margin:0 auto;
            margin-left:250px;
            background: url(footerLogo.png) no-repeat;
            padding-left:100px;
        }
        .loggout{
            width:200px;
            float:left;
            text-align:left;
            top:0;
            left:0;
            padding:10px;
        }
    }
    .top_menu_button{
        .rouded-corners(bottom,10px);
        position:relative;
        .bg-gradient (100%,@bg_lightBlue,@bg_darkBlue);
        color:white;
        padding:5px;
        left:50px;
        width:150px;
        text-align:center;
        cursor:pointer;
    }
    & a{
        color: #0f6db7;
        display:block;
        text-decoration:none;
        padding:2px 15px;
    }
}
.logged{
    width:600px;
}

#header{
    .center(800px);
    .margin(top,9px);
    height:227px;
    position:relative;
    background:url(header.jpg) no-repeat;
    #contacts{
        float:right;
        width:170px;
        margin-top:30px;
        a{
            display:block;
            .rouded-corners(both,10px);
            .bg-gradient(100%,@bg_lightGreen,@bg_darkGreen);
            color:white;
            margin:15px 0 15px 0;
            padding:5px;
            padding-left:30px;
            font-weight:bold;
            text-decoration:none;
            position:relative;
            &:hover{
                .bg-gradient(100%,@bg_darkBlue,@bg_lightBlue);  
            }
            .r{
                position:absolute;
                right:-10px;
            }
            img{
                position:absolute;
                top:-15px;
                left:-10px;
            }
        }
    }
}

#menu {
    .center(600px);
    .padding(left, 200px);
    height:30px;
    position:relative;
        a {
            color: white;
            display:inline-block;
            text-decoration:none;
            font-weight:bold;
            padding:5px;
            .margin(top,4px);
            &:hover{
                .rouded-corners(both,5px);
                background: #e5f2dd;
                color:#0F6DB7;
            }
        }
        a:first-child,a:first-child+a{
            .rouded-corners(top,10px);
            background-color:@bg_darkGreen;
            .bg-gradient (100%,@bg_lightGreen,@bg_darkGreen);
            position:absolute;
            bottom:0;
            color: white;
            text-decoration:none;
            font-weight:bold;
            padding: 10px;
            left:10px;
            height:30px;
            font-size:12px;
            text-align:center;
            &:hover{
                .bg-gradient(100%,@bg_darkBlue,@bg_lightBlue);
            }
        }
        a:first-child+a{
            padding-top:5px;
            left:110px;
            height:25px;
        }
}

#diagram{
    .shadow;
    .center(790px);
    position:relative;
    margin-top:30px;
    border-top: 3px solid #CDD1D3;
    padding:5px;
    .bg-gradient (60%,@bg_lightGrey,#fff);
    .rouded-corners(both,20px);
    .padding(bottom,20px);
        a {
            text-decoration: none;
        }
    a>.MPWSOrderButton {
            width: 121px;
            height: 115px;
            position:absolute;
            top:-115px;
            right:30px;
            border:none;
            background: url('static/orderNow.png') no-repeat 0 0;
            /*&:hover {
                text-decoration: none;
                background-image: url('static/orderNowHover.png');
            }*/
        }
    
    #whyUs{
        float:right;
        width:270px;
        .padding(right,20px);
        text-align:justify;
        color:@font_darkBlue;
        h1{
            font-size:26px;
            font-weight:bold;
            color:@font_darkGreen;
            border-bottom: 1px dotted #6BB445;
            display:block;
            padding:5px;
            margin-bottom:10px;
            text-align:center;
        }
        ul{
            margin:0;
            padding-left:25px;
            li{
                margin:0 0 10px 0;
            }
        }
    }
    #callToAction{
        text-align:center;
        margin:10px;
        a{
            .rouded-corners(both,10px);
            .bg-gradient(100%,@bg_lightGreen,@bg_darkGreen);
            color:white;
            margin:10px 0;
            padding:5px;
            font-weight:bold;
            text-decoration:none;
            &:hover{
                .bg-gradient(100%,@bg_darkBlue,@bg_lightBlue);  
            }
        }
    }

}
    
#in-short{
    .center(800px);
    .block{
        position:relative;
        height:250px;
        float:left;
        width:230px;
        .shadow;
        .bg-gradient (60%,@bg_lightGrey,#fff);
        .rouded-corners(both,10px);
        .padding(all,10px);
        .margin(all,5px);
        margin-bottom:120px;

        .header{
            font-size:14px;
            font-weight:bold;
            border-bottom: 1px dotted #0f6db7;
            display:block;
            padding:10px;
            padding-left:50px;
            margin-bottom:10px;
            color:#0f6db7;
        }
        .body{
            padding:5px;
            text-align:justify;
            b{
                color:red;
                font-weight:bold;
            }
        }
        .sign{
            text-align:right;
            font-weight:bold;
            color:#0f6db7;
            padding-top:10px;
            padding-left:100px;
        }
    }
    .ic03{
        background: url(inshort.png) no-repeat 5px 0px;
    }
    .ic01{
        background: url(inshort.png) no-repeat 5px -45px;
    }
    .ic02{
        background: url(inshort.png) no-repeat 5px -90px;
    }
    .block>a>img{
        position:absolute;
        bottom:-110px;
        left:65px
    }
}

#base-text{
    .center(700px);
    text-align:justify;
}

#payments,#guarantee{
    .center(800px);
    padding:20px;
    text-align:center;
    img{
        margin:10px;
        border:none;
    }
}

#footer {
    background:#ededed;
    border-bottom:1px solid #0f6db7;
    border-top:1px solid #0f6db7;
    padding:20px;
}

#footer .footerMenu{
    background: url(footerLogo.png) no-repeat;
    width:300px;
    margin:0 auto;
    padding-left: 100px;
}

#footer .footerMenu a{
    color: #0f6db7;
    display:block;
    text-decoration:none;
    padding:2px;
    clear: both;
}


.MPWSMessage {text-align: left; margin-bottom: 5px;}
    .MPWSMessageWelcome {font-weight: bold;}
    .MPWSMessageNotify {font-weight: bold; color: #69B433; padding: 5px 0px 0px 10px; font-size: 11px;}
    .MPWSMessageNotifyNew {}
    .MPWSMessageNotifyRework {}
    .MPWSMessageNotifyPending {}
    .MPWSMessageNote {color: #06C; padding-top: 5px; margin-top: 5px;  font-size: 11px; font-style: italic; border-top: 1px solid #555;}
    
#contacts .MPWSOnlineName {
    position: absolute;
    left:100%;
    top:-5px;
    width: 105px;
    height: 30px;
    background: url('currently_online.png') no-repeat;
    span {
        color: #9C0;
        font-size: 15px;
        display: block;
        margin-top: 10px;
        text-align: center;
    }
}

#contacts .phoneNumber {font-size: 17px;padding-left: 0px;top: -6px;position: relative;color: white;font-weight: bold;display: block;width: 180px;}

/* Social Box */
.MPWSBlockSocial.MPWSBlockShadow {display: block; left: -90px;}
    .MPWSBlockSocial .button  {margin: 15px auto 5px; padding: 5px 0px; width: 65px; overflow: hidden;}
    .MPWSBlockSocial .button.delicious  {height: 40px;}
    .MPWSBlockSocial .button.facebook div.fb-like  {padding-left: 12px;}
    .MPWSBlockSocial .button.facebook div.fb-like .pluginButton {width: 45px;}