<a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="fa fa-fw fa-user"></i>Вітаємо <b>{{data.FullName}}</b> <i class="fa fa-caret-down"></i>
</a>
<ul class="dropdown-menu dropdown-user">
    <li>
        <a href="{{bb_link instances.system.urls.userEdit id=data.ID asRoot=true}}">
            <i class="fa fa-fw fa-gear"></i> Налаштування
        </a>
    </li>
    <li>
        <a href="/#!/signout">
            <i class="fa fa-fw fa-power-off"></i> Вийти
        </a>
    </li>
</ul>
<!-- /.dropdown-user -->