<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{{bb_link instances.system.urls.customerCreate asRoot=true}}">
                    <i class="fa fa-plus fa-fw"></i>
                </a>
                {{lang.managers.customers.title}}
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body list"></div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>