<li>
  <a href="#">Women &nbsp;<i class="icon-caret-down"></i></a>
  <div>
    <ul>
      <li><a href="#"> <span>-</span> Dresses (2)</a></li>
      <li><a href="#"> <span>-</span> Jackets &amp; Coats (4)</a></li>
      <li>
        <a href="#"> <span>-</span> Skirts (0) <i class="icon-caret-right pull-right"></i></a>
        <div>
          <ul>
            <li><a href="#"> <span>-</span> Dresses (2)</a></li>
            <li><a href="#"> <span>-</span> Jackets &amp; Coats (4)</a></li>
            <li><a href="#"> <span>-</span> Skirts (0)</a></li>
            <li><a href="#"> <span>-</span> Suits &amp; Tailoring (82)</a></li>
            <li><a href="#"> <span>-</span> Tops (58)</a></li>
            <li><a href="#"> <span>-</span> Shoes (15)</a></li>
            <li><a href="#"> <span>-</span> Shorts (54) </a></li>
          </ul>
        </div>
      </li>
      <li><a href="#"> <span>-</span> Suits &amp; Tailoring (82)</a></li>
      <li><a href="#"> <span>-</span> Tops (58)</a></li>
      <li><a href="#"> <span>-</span> Shoes (15)</a></li>
      <li><a href="#"> <span>-</span> Shorts (54) </a></li>
    </ul>
  </div>
</li>