<div class="shopProductListCatalog container-filtering container">
    <div class="title row">
        <strong><span>Фільтрувати по:</span></strong>
    </div>
    <div class="content row">
        <dl id="narrow-by-list">
            <dt class="odd">Категорії:</dt>
            <dd class="odd">
                <ol>
                    <li>
                        <a class="ajaxLayer" onclick="ajaxFilter('http://www.plazathemes.com/demo/ma_greatshop/index.php/women.html?cat=11')">Dresses</a> (12)
                    </li>
                    <li>
                        <a class="ajaxLayer" onclick="ajaxFilter('http://www.plazathemes.com/demo/ma_greatshop/index.php/women.html?cat=12')">Accessories</a> (12)
                    </li>
                    <li>
                        <a class="ajaxLayer" onclick="ajaxFilter('http://www.plazathemes.com/demo/ma_greatshop/index.php/women.html?cat=13')">Tops</a> (11)
                    </li>
                    <li>
                        <a class="ajaxLayer" onclick="ajaxFilter('http://www.plazathemes.com/demo/ma_greatshop/index.php/women.html?cat=14')">Handbags</a> (11)
                    </li>
                </ol>
            </dd>
            <dt class="even">Ціна:</dt>
            <dd class="even">
                <p>
                    <input type="text" disabled="disabled" id="amount" style="">
                    <button type="submit" class="btn btn-primary"><span class="fa fa-search"></span></button>
                </p>
                <div id="slider-range"></div>
            </dd>
            <dt class="odd">Виробники:</dt>
            <dd class="odd">
                <ol>
                    <li>
                        <a class="ajaxLayer" onclick="ajaxFilter('http://www.plazathemes.com/demo/ma_greatshop/index.php/women.html?manufacturer=13')">Calvin Klein</a> (2)
                    </li>
                    <li>
                        <a class="ajaxLayer" onclick="ajaxFilter('http://www.plazathemes.com/demo/ma_greatshop/index.php/women.html?manufacturer=12')">Diesel</a> (1)
                    </li>
                    <li>
                        <a class="ajaxLayer" onclick="ajaxFilter('http://www.plazathemes.com/demo/ma_greatshop/index.php/women.html?manufacturer=11')">Polo</a> (1)
                    </li>
                    <li>
                        <a class="ajaxLayer" onclick="ajaxFilter('http://www.plazathemes.com/demo/ma_greatshop/index.php/women.html?manufacturer=10')">Tommy Hilfiger</a> (1)
                    </li>
                    <li>
                        <a class="ajaxLayer" onclick="ajaxFilter('http://www.plazathemes.com/demo/ma_greatshop/index.php/women.html?manufacturer=9')">Versace</a> (2)
                    </li>
                </ol>
            </dd>
    </div>
</div>



<div class="ma-onsale-products block">
    <div class="ma-onsale-product-title block-title"><strong><span>Onsale Products</span></strong>
    </div>
    <div class="onsale-products block-content">
        <ul class="onsale-grid  first">
            <li class="item first">
                <a href="http://www.plazathemes.com/demo/ma_greatshop/index.php/quisque-in-arcu-10.html" title="Nunc facilisis" class="product-image">
                    <img src="http://www.plazathemes.com/demo/ma_greatshop/media/catalog/product/cache/4/small_image/55x70/9df78eab33525d08d6e5fb8d27136e95/1/2/12_1_1.jpg" width="55" height="70" alt="Nunc facilisis">
                </a>
                <h2 class="product-name"><a href="http://www.plazathemes.com/demo/ma_greatshop/index.php/quisque-in-arcu-10.html" title="Nunc facilisis">Nunc facilisis</a></h2>



                <div class="price-box">

                    <p class="old-price">
                        <span class="price-label">Regular Price:</span>
                        <span class="price" id="old-price-10">
                $80.00                </span>
                    </p>

                    <p class="special-price">
                        <span class="price-label">Special Price:</span>
                        <span class="price" id="product-price-10">
                $70.00                </span>
                    </p>


                </div>

                <div class="actions">
                </div>
            </li>
            <!--  -->
            <li class="item">
                <a href="http://www.plazathemes.com/demo/ma_greatshop/index.php/quisque-in-arcu-11.html" title="Primis in faucibus" class="product-image">
                    <img src="http://www.plazathemes.com/demo/ma_greatshop/media/catalog/product/cache/4/small_image/55x70/9df78eab33525d08d6e5fb8d27136e95/1/3/13_4.jpg" width="55" height="70" alt="Primis in faucibus">
                </a>
                <h2 class="product-name"><a href="http://www.plazathemes.com/demo/ma_greatshop/index.php/quisque-in-arcu-11.html" title="Primis in faucibus">Primis in faucibus</a></h2>



                <div class="price-box">

                    <p class="old-price">
                        <span class="price-label">Regular Price:</span>
                        <span class="price" id="old-price-11">
                $80.00                </span>
                    </p>

                    <p class="special-price">
                        <span class="price-label">Special Price:</span>
                        <span class="price" id="product-price-11">
                $70.00                </span>
                    </p>


                </div>

                <div class="actions">
                </div>
            </li>
            <!--  -->
            <li class="item last">
                <a href="http://www.plazathemes.com/demo/ma_greatshop/index.php/quisque-in-arcu-12.html" title="Accumsan elit " class="product-image">
                    <img src="http://www.plazathemes.com/demo/ma_greatshop/media/catalog/product/cache/4/small_image/55x70/9df78eab33525d08d6e5fb8d27136e95/1/4/14_3.jpg" width="55" height="70" alt="Accumsan elit ">
                </a>
                <h2 class="product-name"><a href="http://www.plazathemes.com/demo/ma_greatshop/index.php/quisque-in-arcu-12.html" title="Accumsan elit ">Accumsan elit </a></h2>



                <div class="price-box">

                    <p class="old-price">
                        <span class="price-label">Regular Price:</span>
                        <span class="price" id="old-price-12">
                $80.00                </span>
                    </p>

                    <p class="special-price">
                        <span class="price-label">Special Price:</span>
                        <span class="price" id="product-price-12">
                $70.00                </span>
                    </p>


                </div>

                <div class="actions">
                </div>
            </li>
        </ul>
    </div>
    <!-- end exist product -->
</div>
<!-- end products list -->

<div class="block block-list block-compare">
    <div class="block-title">
        <strong><span>Compare Products                    </span></strong>
    </div>
    <div class="block-content">
        <p class="empty">You have no items to compare.</p>
    </div>
</div>
