<div class="container">
    <div class="row">
    {{#each source.data }}
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            {{>productEntryViewList}}
        </div>
    {{/each}}
    </div>
</div>