<div class="shopProductListCatalog container-filtering container">
    <div class="title row">
        <strong><span>Перегляд:</span></strong>
    </div>
    <div class="content row">

        <div class="subtitle row">
            Сортування:
        </div>

        <div class="subtitle row">
            К-сть товарів:
        </div>

    </div>

</div>