{{#mpwsIsNotEmpty source.data.filterOptionsAvailable.filter_categorySubCategories }}
<div class="shop-component-catalog-filtering">
    <div class="title row">
        <strong><span>Категорії:</span></strong>
    </div>
    <div class="content row">

        <div class="spacer"></div>
        <div class="row">
            <div class="list-group">
            {{#each source.data.filterOptionsAvailable.filter_categorySubCategories }}
                <a class="list-group-item" href="#/shop/catalog/{{ID}}">
                    <span class="badge">{{ProductCount}}</span>
                    {{Name}}
                </a>
            {{/each}}
            </div>
        </div>
        <div class="spacer"></div>

    </div>
</div>
{{/mpwsIsNotEmpty}}