<select name="deliveryCity" id="deliveryCityDD" class="selectpicker" data-size="6">
      <option value="">обрати місто</option>
      <option value="Київ" selected="select">Київ</option>
      <option value="Львів">Львів</option>
      <option value="Вінниця">Вінниця</option>
      <option value="Одеса">Одеса</option>
      <option value="Полтава">Полтава</option>
      <option value="Керч">Керч</option>
      <option value="Суми">Суми</option>
      <option value="Авдіївка">Авдіївка</option>
      <option value="Акимівка">Акимівка</option>
      <option value="Олександрія">Олександрія</option>
      <option value="Олександрівка">Олександрівка</option>
      <option value="Алушта">Алушта</option>
      <option value="Алупка">Алупка</option>
      <option value="Алчевськ">Алчевськ</option>
      <option value="Амвросіївка">Амвросіївка</option>
      <option value="Ананьїв">Ананьїв</option>
      <option value="Андрушівка">Андрушівка</option>
      <option value="Антрацит">Антрацит</option>
      <option value="Апостолове">Апостолове</option>
      <option value="Армянськ">Армянськ</option>
      <option value="Артемівськ">Артемівськ</option>
      <option value="Арциз">Арциз</option>
      <option value="Охтирка">Охтирка</option>
      <option value="Балаклея">Балаклея</option>
      <option value="Балта">Балта</option>
      <option value="Барышевка">Барышевка</option>
      <option value="Бар">Бар</option>
      <option value="Барановка">Барановка</option>
      <option value="Барвенково">Барвенково</option>
      <option value="Бахчисарай">Бахчисарай</option>
      <option value="Бахмач">Бахмач</option>
      <option value="Баштанка">Баштанка</option>
      <option value="Біла Церква">Біла Церква</option>
      <option value="Белгород-Днестровский">Белгород-Днестровский</option>
      <option value="Белополье">Белополье</option>
      <option value="Белогорск">Белогорск</option>
      <option value="Беляевка">Беляевка</option>
      <option value="Белогорье">Белогорье</option>
      <option value="Білозерка">Білозерка</option>
      <option value="Белицкое">Белицкое</option>
      <option value="Беловодск">Беловодск</option>
      <option value="Білики">Білики</option>
      <option value="Белогородка">Белогородка</option>
      <option value="Бердичев">Бердичев</option>
      <option value="Бердянськ">Бердянськ</option>
      <option value="Бершадь">Бершадь</option>
      <option value="Березань">Березань</option>
      <option value="Берегово">Берегово</option>
      <option value="Березно">Березно</option>
      <option value="Берислав (Херсонська обл.)">Берислав (Херсонська обл.)</option>
      <option value="Березнеговатое">Березнеговатое</option>
      <option value="Березанка">Березанка</option>
      <option value="Бережани">Бережани</option>
      <option value="Березівка">Березівка</option>
      <option value="Близнюки">Близнюки</option>
      <option value="Бобринец">Бобринец</option>
      <option value="Бобровица">Бобровица</option>
      <option value="Богуслав (Київська обл.)">Богуслав (Київська обл.)</option>
      <option value="Богодухов">Богодухов</option>
      <option value="Болград">Болград</option>
      <option value="Болехов">Болехов</option>
      <option value="Борисполь">Борисполь</option>
      <option value="Бородянка">Бородянка</option>
      <option value="Борзна">Борзна</option>
      <option value="Борщев">Борщев</option>
      <option value="Боровая (Харьков)">Боровая (Харьков)</option>
      <option value="Борова (Київ)">Борова (Київ)</option>
      <option value="Борислав (Львівська обл.)">Борислав (Львівська обл.)</option>
      <option value="Боярка">Боярка</option>
      <option value="Братское">Братское</option>
      <option value="Бровары">Бровары</option>
      <option value="Броды">Броды</option>
      <option value="Брошнів-Осада">Брошнів-Осада</option>
      <option value="Брусилів">Брусилів</option>
      <option value="Брянка">Брянка</option>
      <option value="Бурынь">Бурынь</option>
      <option value="Бурштын">Бурштын</option>
      <option value="Буск">Буск</option>
      <option value="Буча">Буча</option>
      <option value="Бучач">Бучач</option>
      <option value="Валки">Валки</option>
      <option value="Валки">Валки</option>
      <option value="Вапнярка">Вапнярка</option>
      <option value="Варва">Варва</option>
      <option value="Васильков">Васильков</option>
      <option value="Васильевка">Васильевка</option>
      <option value="Васильковка">Васильковка</option>
      <option value="Ватутино">Ватутино</option>
      <option value="Великі Копані">Великі Копані</option>
      <option value="Великая Багачка">Великая Багачка</option>
      <option value="Великая Лепетиха">Великая Лепетиха</option>
      <option value="Великая Новоселка">Великая Новоселка</option>
      <option value="Велика Олександрівка">Велика Олександрівка</option>
      <option value="Великая Михайловка">Великая Михайловка</option>
      <option value="Велика Писарівка">Велика Писарівка</option>
      <option value="Великий Бурлук">Великий Бурлук</option>
      <option value="Великий Березний">Великий Березний</option>
      <option value="Великий Бичків">Великий Бичків</option>
      <option value="Верхній Рогачик">Верхній Рогачик</option>
      <option value="Верхнеднепровск">Верхнеднепровск</option>
      <option value="Верховцево ">Верховцево </option>
      <option value="Верховина">Верховина</option>
      <option value="Веселое">Веселое</option>
      <option value="Веселиново">Веселиново</option>
      <option value="Вижница">Вижница</option>
      <option value="Віліне">Віліне</option>
      <option value="Виноградов">Виноградов</option>
      <option value="Виньковцы">Виньковцы</option>
      <option value="Вишневое">Вишневое</option>
      <option value="Володимир-Волинський">Володимир-Волинський</option>
      <option value="Владимирец">Владимирец</option>
      <option value="Власівка">Власівка</option>
      <option value="Вознесенск">Вознесенск</option>
      <option value="Волочиск">Волочиск</option>
      <option value="Вольногорск">Вольногорск</option>
      <option value="Волноваха">Волноваха</option>
      <option value="Володарка">Володарка</option>
      <option value="Володарск-Волынский">Володарск-Волынский</option>
      <option value="Волчанск">Волчанск</option>
      <option value="Вольнянск">Вольнянск</option>
      <option value="Володарское">Володарское</option>
      <option value="Врадиевка">Врадиевка</option>
      <option value="Вугледар">Вугледар</option>
      <option value="Високопілля">Високопілля</option>
      <option value="Вышгород">Вышгород</option>
      <option value="Гадяч">Гадяч</option>
      <option value="Гайворон">Гайворон</option>
      <option value="Гайсин">Гайсин</option>
      <option value="Галич">Галич</option>
      <option value="Гвардійське (Дніпропетровськ)">Гвардійське (Дніпропетровськ)</option>
      <option value="Геническ">Геническ</option>
      <option value="Глобино">Глобино</option>
      <option value="Глухов">Глухов</option>
      <option value="Глыбокая">Глыбокая</option>
      <option value="Гнивань">Гнивань</option>
      <option value="Голая Пристань">Голая Пристань</option>
      <option value="Голованевск">Голованевск</option>
      <option value="Гірське">Гірське</option>
      <option value="Горлівка">Горлівка</option>
      <option value="Городище">Городище</option>
      <option value="Городок">Городок</option>
      <option value="Горохов">Горохов</option>
      <option value="Городня">Городня</option>
      <option value="Городок(Хмельницкий)">Городок(Хмельницкий)</option>
      <option value="Горностаевка">Горностаевка</option>
      <option value="Городенка">Городенка</option>
      <option value="Гоща">Гоща</option>
      <option value="Градижск">Градижск</option>
      <option value="Гребінка (Полтавська обл.)">Гребінка (Полтавська обл.)</option>
      <option value="Гребінки">Гребінки</option>
      <option value="Гуляйполе">Гуляйполе</option>
      <option value="Гурзуф">Гурзуф</option>
      <option value="Гусятин">Гусятин</option>
      <option value="Дворічна">Дворічна</option>
      <option value="Дебальцево">Дебальцево</option>
      <option value="Деражня">Деражня</option>
      <option value="Джанкой">Джанкой</option>
      <option value="Дзержинск">Дзержинск</option>
      <option value="Диканька">Диканька</option>
      <option value="Димер">Димер</option>
      <option value="Димитров">Димитров</option>
      <option value="Дніпропетровськ">Дніпропетровськ</option>
      <option value="Дніпродзержинськ">Дніпродзержинськ</option>
      <option value="Днепрорудное">Днепрорудное</option>
      <option value="Дніпровське">Дніпровське</option>
      <option value="Добровеличковка">Добровеличковка</option>
      <option value="Доброполье">Доброполье</option>
      <option value="Докучаевск">Докучаевск</option>
      <option value="Долина">Долина</option>
      <option value="Долинская">Долинская</option>
      <option value="Доманевка">Доманевка</option>
      <option value="Доманевка">Доманевка</option>
      <option value="Донецьк">Донецьк</option>
      <option value="Драбов">Драбов</option>
      <option value="Дрогобич">Дрогобич</option>
      <option value="Дружковка">Дружковка</option>
      <option value="Дружба">Дружба</option>
      <option value="Дубно">Дубно</option>
      <option value="Дубровица">Дубровица</option>
      <option value="Дунаевцы">Дунаевцы</option>
      <option value="Дымер">Дымер</option>
      <option value="Євпаторія">Євпаторія</option>
      <option value="Еланец">Еланец</option>
      <option value="Емильчино">Емильчино</option>
      <option value="Енакиево">Енакиево</option>
      <option value="Жашков">Жашков</option>
      <option value="Желтые Воды">Желтые Воды</option>
      <option value="Жидачев">Жидачев</option>
      <option value="Жидачів">Жидачів</option>
      <option value="Житомир">Житомир</option>
      <option value="Жмеринка">Жмеринка</option>
      <option value="Жовква">Жовква</option>
      <option value="Заболотів">Заболотів</option>
      <option value="Завалля (Кіровоград. обл)">Завалля (Кіровоград. обл)</option>
      <option value="Залещики">Залещики</option>
      <option value="Запоріжжя">Запоріжжя</option>
      <option value="Зарічне">Зарічне</option>
      <option value="Заставна">Заставна</option>
      <option value="Зачепилівка">Зачепилівка</option>
      <option value="Збараж">Збараж</option>
      <option value="Зборів">Зборів</option>
      <option value="Звенигородка">Звенигородка</option>
      <option value="Згуровка">Згуровка</option>
      <option value="Здолбунов">Здолбунов</option>
      <option value="Зеленодольськ">Зеленодольськ</option>
      <option value="Зеньков">Зеньков</option>
      <option value="Зимогорье">Зимогорье</option>
      <option value="Змиев">Змиев</option>
      <option value="Знаменка">Знаменка</option>
      <option value="Золочів">Золочів</option>
      <option value="Золотоноша">Золотоноша</option>
      <option value="Золочев">Золочев</option>
      <option value="Золочів(Харківська обл.)">Золочів(Харківська обл.)</option>
      <option value="Золоте Поле">Золоте Поле</option>
      <option value="Зугрес">Зугрес</option>
      <option value="Івано-Франківськ">Івано-Франківськ</option>
      <option value="Иваничи">Иваничи</option>
      <option value="Иванков">Иванков</option>
      <option value="Ивановка (Мелитополь)">Ивановка (Мелитополь)</option>
      <option value="Іванівка(Одеса)">Іванівка(Одеса)</option>
      <option value="Измаил">Измаил</option>
      <option value="Изюм">Изюм</option>
      <option value="Изяслав">Изяслав</option>
      <option value="Иловайск">Иловайск</option>
      <option value="Ильичевск">Ильичевск</option>
      <option value="Ильинцы">Ильинцы</option>
      <option value="Ирпень">Ирпень</option>
      <option value="Іршава">Іршава</option>
      <option value="Иршанск">Иршанск</option>
      <option value="Ичня">Ичня</option>
      <option value="Кіровське (Донецьк)">Кіровське (Донецьк)</option>
      <option value="Кагарлык">Кагарлык</option>
      <option value="Казатин">Казатин</option>
      <option value="Казанка">Казанка</option>
      <option value="Калинівка(Васильківський р-н.)">Калинівка(Васильківський р-н.)</option>
      <option value="Калуш">Калуш</option>
      <option value="Калиновка">Калиновка</option>
      <option value="Каланчак">Каланчак</option>
      <option value="Калинівка(Вінниця)">Калинівка(Вінниця)</option>
      <option value="Кам'янець-Подільський">Кам'янець-Подільський</option>
      <option value="Каменка">Каменка</option>
      <option value="Каменка-Днепровская">Каменка-Днепровская</option>
      <option value="Камень-Каширский">Камень-Каширский</option>
      <option value="Каменка-Бугская">Каменка-Бугская</option>
      <option value="Канев">Канев</option>
      <option value="Карловка">Карловка</option>
      <option value="Катеринополь">Катеринополь</option>
      <option value="Каховка">Каховка</option>
      <option value="Квасилів">Квасилів</option>
      <option value="Кельменцы">Кельменцы</option>
      <option value="Киверцы">Киверцы</option>
      <option value="Килия">Килия</option>
      <option value="Кіровоград">Кіровоград</option>
      <option value="Кировск">Кировск</option>
      <option value="Кировское (Донецк)">Кировское (Донецк)</option>
      <option value="Кировское">Кировское</option>
      <option value="Кицмань">Кицмань</option>
      <option value="Клавдієво-Тарасове">Клавдієво-Тарасове</option>
      <option value="Клевань">Клевань</option>
      <option value="Кобеляки">Кобеляки</option>
      <option value="Ковель">Ковель</option>
      <option value="Ковшаровка">Ковшаровка</option>
      <option value="Кодыма">Кодыма</option>
      <option value="Козельщина">Козельщина</option>
      <option value="Козелец">Козелец</option>
      <option value="Козятин">Козятин</option>
      <option value="Козова">Козова</option>
      <option value="Коломыя">Коломыя</option>
      <option value="Колки">Колки</option>
      <option value="Комсомольське (Донецьк)">Комсомольське (Донецьк)</option>
      <option value="Комсомольск">Комсомольск</option>
      <option value="Компанеевка">Компанеевка</option>
      <option value="Коминтерновское">Коминтерновское</option>
      <option value="Комсомольське (Харків)">Комсомольське (Харків)</option>
      <option value="Конотоп">Конотоп</option>
      <option value="Константиновка">Константиновка</option>
      <option value="Копичинці (Гусятинський р-н)">Копичинці (Гусятинський р-н)</option>
      <option value="Корец">Корец</option>
      <option value="Коростень">Коростень</option>
      <option value="Коростышев">Коростышев</option>
      <option value="Корсунь-Шевченківський">Корсунь-Шевченківський</option>
      <option value="Короп">Короп</option>
      <option value="Корюковка">Корюковка</option>
      <option value="Костополь">Костополь</option>
      <option value="Косов">Косов</option>
      <option value="Котельва">Котельва</option>
      <option value="Котовск">Котовск</option>
      <option value="Коцюбинське">Коцюбинське</option>
      <option value="Краматорськ">Краматорськ</option>
      <option value="Красноград (Харківська обл)">Красноград (Харківська обл)</option>
      <option value="Красноармійськ">Красноармійськ</option>
      <option value="Красноперекопск">Красноперекопск</option>
      <option value="Краснополье">Краснополье</option>
      <option value="Красный Луч">Красный Луч</option>
      <option value="Красногвардейское">Красногвардейское</option>
      <option value="Красный Лиман">Красный Лиман</option>
      <option value="Краснодон">Краснодон</option>
      <option value="Красилов">Красилов</option>
      <option value="Краснокутск">Краснокутск</option>
      <option value="Красноармейск">Красноармейск</option>
      <option value="Кременчук">Кременчук</option>
      <option value="Кременец">Кременец</option>
      <option value="Кременная">Кременная</option>
      <option value="Кривое Озеро">Кривое Озеро</option>
      <option value="Кривий Ріг">Кривий Ріг</option>
      <option value="Кринички">Кринички</option>
      <option value="Кролевец">Кролевец</option>
      <option value="Крыжополь">Крыжополь</option>
      <option value="Кузнецовск">Кузнецовск</option>
      <option value="Куйбышево">Куйбышево</option>
      <option value="Куликовка">Куликовка</option>
      <option value="Купянск">Купянск</option>
      <option value="Курахове">Курахове</option>
      <option value="Ладижин">Ладижин</option>
      <option value="Ланівці">Ланівці</option>
      <option value="Лебедин">Лебедин</option>
      <option value="Ленино">Ленино</option>
      <option value="Летичев">Летичев</option>
      <option value="Липовая">Липовая</option>
      <option value="Липовец ">Липовец </option>
      <option value="Липовая Долина">Липовая Долина</option>
      <option value="Лисичанськ">Лисичанськ</option>
      <option value="Литин">Литин</option>
      <option value="Лозовая">Лозовая</option>
      <option value="Локачи">Локачи</option>
      <option value="Лохвица">Лохвица</option>
      <option value="Лубны">Лубны</option>
      <option value="Луганськ">Луганськ</option>
      <option value="Лугины">Лугины</option>
      <option value="Лутугино">Лутугино</option>
      <option value="Луцьк">Луцьк</option>
      <option value="Лысянка">Лысянка</option>
      <option value="Любомль">Любомль</option>
      <option value="Любар">Любар</option>
      <option value="Любешов">Любешов</option>
      <option value="Люботин">Люботин</option>
      <option value="Любашівка">Любашівка</option>
      <option value="Магдалиновка">Магдалиновка</option>
      <option value="Макаров">Макаров</option>
      <option value="Макіївка">Макіївка</option>
      <option value="Малин">Малин</option>
      <option value="Малая Виска">Малая Виска</option>
      <option value="Мамаевцы">Мамаевцы</option>
      <option value="Маньковка">Маньковка</option>
      <option value="Маневичи">Маневичи</option>
      <option value="Мангуш">Мангуш</option>
      <option value="Марківка">Марківка</option>
      <option value="Маріуполь">Маріуполь</option>
      <option value="Марганец">Марганец</option>
      <option value="Марьинка">Марьинка</option>
      <option value="Машевка">Машевка</option>
      <option value="Міжгір'я">Міжгір'я</option>
      <option value="Мелітополь">Мелітополь</option>
      <option value="Меловое">Меловое</option>
      <option value="Мена">Мена</option>
      <option value="Мерефа">Мерефа</option>
      <option value="Миргород">Миргород</option>
      <option value="Мироновка">Мироновка</option>
      <option value="Михайловка">Михайловка</option>
      <option value="Млинов">Млинов</option>
      <option value="Могилев - Подольский">Могилев - Подольский</option>
      <option value="Монастырище">Монастырище</option>
      <option value="Монастыриска">Монастыриска</option>
      <option value="Моспине">Моспине</option>
      <option value="Мостиска">Мостиска</option>
      <option value="Мукачево">Мукачево</option>
      <option value="Мурованые Куриловцы">Мурованые Куриловцы</option>
      <option value="Надворная">Надворная</option>
      <option value="Народичі">Народичі</option>
      <option value="Недригайлов">Недригайлов</option>
      <option value="Нежин">Нежин</option>
      <option value="Немиров">Немиров</option>
      <option value="Немішаєве">Немішаєве</option>
      <option value="Нетешин">Нетешин</option>
      <option value="Нижнегорский">Нижнегорский</option>
      <option value="Нижні Ворота">Нижні Ворота</option>
      <option value="Миколаїв">Миколаїв</option>
      <option value="Нікополь">Нікополь</option>
      <option value="Николаевка (Донецк)">Николаевка (Донецк)</option>
      <option value="Миколаїв(Львів)">Миколаїв(Львів)</option>
      <option value="Новоайдар">Новоайдар</option>
      <option value="Нова Водолага">Нова Водолага</option>
      <option value="Новий Світ">Новий Світ</option>
      <option value="Новая Каховка">Новая Каховка</option>
      <option value="Нововолынск">Нововолынск</option>
      <option value="Новгородка">Новгородка</option>
      <option value="Новомосковск">Новомосковск</option>
      <option value="Новый Буг">Новый Буг</option>
      <option value="Новоазовск">Новоазовск</option>
      <option value="Новоселица">Новоселица</option>
      <option value="Новоднестровск">Новоднестровск</option>
      <option value="Новгород-Северский">Новгород-Северский</option>
      <option value="Новые Санжары">Новые Санжары</option>
      <option value="Новый Раздел">Новый Раздел</option>
      <option value="Новомиргород">Новомиргород</option>
      <option value="Новояворовск">Новояворовск</option>
      <option value="Новая Одесса">Новая Одесса</option>
      <option value="Новоукраинка">Новоукраинка</option>
      <option value="Новотроицкое">Новотроицкое</option>
      <option value="Новоград-Волынский">Новоград-Волынский</option>
      <option value="Новоархангельск">Новоархангельск</option>
      <option value="Новоград - Волинський">Новоград - Волинський</option>
      <option value="Новопсков">Новопсков</option>
      <option value="Нова Водолага">Нова Водолага</option>
      <option value="Нова Ушиця">Нова Ушиця</option>
      <option value="Нововоронцовка">Нововоронцовка</option>
      <option value="Нововоронцовка">Нововоронцовка</option>
      <option value="Нові Петрівці">Нові Петрівці</option>
      <option value="Нові Белокоровичі">Нові Белокоровичі</option>
      <option value="Носовка">Носовка</option>
      <option value="Обухов">Обухов</option>
      <option value="Овідіополь">Овідіополь</option>
      <option value="Овруч">Овруч</option>
      <option value="Оженин">Оженин</option>
      <option value="Октябрське">Октябрське</option>
      <option value="Олевск">Олевск</option>
      <option value="Вільшанка">Вільшанка</option>
      <option value="Ольшанка">Ольшанка</option>
      <option value="Вільшанка">Вільшанка</option>
      <option value="Онуфріївка">Онуфріївка</option>
      <option value="Опошня">Опошня</option>
      <option value="Оратов">Оратов</option>
      <option value="Орджоникидзе">Орджоникидзе</option>
      <option value="Орехов">Орехов</option>
      <option value="Оржица">Оржица</option>
      <option value="Острог">Острог</option>
      <option value="Очаков">Очаков</option>
      <option value="Павлоград">Павлоград</option>
      <option value="Первомайськ(Луганськ)">Первомайськ(Луганськ)</option>
      <option value="Первомайск (Николаев)">Первомайск (Николаев)</option>
      <option value="Первомайский">Первомайский</option>
      <option value="Переяслав-Хмельницкий">Переяслав-Хмельницкий</option>
      <option value="Перемышляны">Перемышляны</option>
      <option value="Першотравенськ (Дніпропетровська обл)">Першотравенськ (Дніпропетровська обл)</option>
      <option value="Перевальск">Перевальск</option>
      <option value="Первомайск">Первомайск</option>
      <option value="Первомайское">Первомайское</option>
      <option value="Перещепине">Перещепине</option>
      <option value="Перечин">Перечин</option>
      <option value="Песчанка ">Песчанка </option>
      <option value="Петропавловка">Петропавловка</option>
      <option value="Петрово">Петрово</option>
      <option value="Петриковка">Петриковка</option>
      <option value="Пирятин">Пирятин</option>
      <option value="Побугское">Побугское</option>
      <option value="Побузьке (Кіровоградська область)">Побузьке (Кіровоградська область)</option>
      <option value="Погребище">Погребище</option>
      <option value="Підволочиськ">Підволочиськ</option>
      <option value="Підгайці">Підгайці</option>
      <option value="Покровское">Покровское</option>
      <option value="Пологи">Пологи</option>
      <option value="Полонное">Полонное</option>
      <option value="Помична">Помична</option>
      <option value="Попасная">Попасная</option>
      <option value="Попельня">Попельня</option>
      <option value="Почаїв">Почаїв</option>
      <option value="Прилуки">Прилуки</option>
      <option value="Приморск">Приморск</option>
      <option value="Приазовское">Приазовское</option>
      <option value="Путивль">Путивль</option>
      <option value="Путила">Путила</option>
      <option value="Пятихатки">Пятихатки</option>
      <option value="Рава-Русская">Рава-Русская</option>
      <option value="Радивилов">Радивилов</option>
      <option value="Радомышль">Радомышль</option>
      <option value="Радехов">Радехов</option>
      <option value="Раздельная">Раздельная</option>
      <option value="Раздольное">Раздольное</option>
      <option value="Ракитное (Белая Церковь)">Ракитное (Белая Церковь)</option>
      <option value="Ратно">Ратно</option>
      <option value="Рахов">Рахов</option>
      <option value="Рени">Рени</option>
      <option value="Репки">Репки</option>
      <option value="Решетиловка">Решетиловка</option>
      <option value="Ржищів">Ржищів</option>
      <option value="Рівне (Кіровоград)">Рівне (Кіровоград)</option>
      <option value="Ровеньки">Ровеньки</option>
      <option value="Рівне">Рівне</option>
      <option value="Рогатин">Рогатин</option>
      <option value="Рожище">Рожище</option>
      <option value="Рожнятов">Рожнятов</option>
      <option value="Рокитное (Ровно)">Рокитное (Ровно)</option>
      <option value="Ромны">Ромны</option>
      <option value="Романов">Романов</option>
      <option value="Рубежное">Рубежное</option>
      <option value="Ружин">Ружин</option>
      <option value="Саврань">Саврань</option>
      <option value="Саки">Саки</option>
      <option value="Самбор">Самбор</option>
      <option value="Сарны">Сарны</option>
      <option value="Сарата">Сарата</option>
      <option value="Сахновщина">Сахновщина</option>
      <option value="Сватове">Сватове</option>
      <option value="Свалява">Свалява</option>
      <option value="Светловодск">Светловодск</option>
      <option value="Свердловск">Свердловск</option>
      <option value="Светлодарск">Светлодарск</option>
      <option value="Свеса">Свеса</option>
      <option value="Святогорск">Святогорск</option>
      <option value="Севастополь">Севастополь</option>
      <option value="Сєверодонецьк">Сєверодонецьк</option>
      <option value="Селидове">Селидове</option>
      <option value="Семеновка (Кременчуг)">Семеновка (Кременчуг)</option>
      <option value="Семенівка(Чернігівська обл.)">Семенівка(Чернігівська обл.)</option>
      <option value="Середина-Буда">Середина-Буда</option>
      <option value="Серебряное">Серебряное</option>
      <option value="Сімферополь">Сімферополь</option>
      <option value="Синельниково">Синельниково</option>
      <option value="Скадовск">Скадовск</option>
      <option value="Сквира">Сквира</option>
      <option value="Сколе">Сколе</option>
      <option value="Славута">Славута</option>
      <option value="Славутич">Славутич</option>
      <option value="Слов'янськ">Слов'янськ</option>
      <option value="Славяносербск">Славяносербск</option>
      <option value="Слов'яносербськ">Слов'яносербськ</option>
      <option value="Смела">Смела</option>
      <option value="Смига">Смига</option>
      <option value="Смолино">Смолино</option>
      <option value="Снежное">Снежное</option>
      <option value="Снигиревка">Снигиревка</option>
      <option value="Снятин">Снятин</option>
      <option value="Советский">Советский</option>
      <option value="Сокиряны">Сокиряны</option>
      <option value="Сокаль">Сокаль</option>
      <option value="Соледар">Соледар</option>
      <option value="Солоне">Солоне</option>
      <option value="Сосница">Сосница</option>
      <option value="Софиевка">Софиевка</option>
      <option value="Старовойтове">Старовойтове</option>
      <option value="Старий Крим">Старий Крим</option>
      <option value="Старобельск">Старобельск</option>
      <option value="Стаханов">Стаханов</option>
      <option value="Староконстантинов">Староконстантинов</option>
      <option value="Ставище">Ставище</option>
      <option value="Старая Синява">Старая Синява</option>
      <option value="Станица Луганская">Станица Луганская</option>
      <option value="Старая Выжевка">Старая Выжевка</option>
      <option value="Старобешево">Старобешево</option>
      <option value="Старый Самбор">Старый Самбор</option>
      <option value="Сторожинец">Сторожинец</option>
      <option value="Стоянка">Стоянка</option>
      <option value="Стрий">Стрий</option>
      <option value="Судак">Судак</option>
      <option value="Суходольск">Суходольск</option>
      <option value="Счастье">Счастье</option>
      <option value="Тальное">Тальное</option>
      <option value="Талалаевка">Талалаевка</option>
      <option value="Тараща">Тараща</option>
      <option value="Татарбунари">Татарбунари</option>
      <option value="Татарбунары">Татарбунары</option>
      <option value="Тельманово">Тельманово</option>
      <option value="Теофиполь">Теофиполь</option>
      <option value="Теплик">Теплик</option>
      <option value="Теплодар">Теплодар</option>
      <option value="Тернопiль">Тернопiль</option>
      <option value="Терновка">Терновка</option>
      <option value="Теребовля">Теребовля</option>
      <option value="Тетиев">Тетиев</option>
      <option value="Тлумач">Тлумач</option>
      <option value="Токмак">Токмак</option>
      <option value="Томашполь">Томашполь</option>
      <option value="Томаковка">Томаковка</option>
      <option value="Торез">Торез</option>
      <option value="Троїцьке">Троїцьке</option>
      <option value="Тростянець(Вінницька обл.) ">Тростянець(Вінницька обл.) </option>
      <option value="Тростянец">Тростянец</option>
      <option value="Трускавец">Трускавец</option>
      <option value="Тульчин">Тульчин</option>
      <option value="Турка">Турка</option>
      <option value="Турійськ">Турійськ</option>
      <option value="Тячев">Тячев</option>
      <option value="Угледар">Угледар</option>
      <option value="Ужгород">Ужгород</option>
      <option value="Узин">Узин</option>
      <option value="Українка">Українка</option>
      <option value="Ульяновка">Ульяновка</option>
      <option value="Умань">Умань</option>
      <option value="Фастов">Фастов</option>
      <option value="Феодосия">Феодосия</option>
      <option value="Фрунзовка">Фрунзовка</option>
      <option value="Харків">Харків</option>
      <option value="Харцызск">Харцызск</option>
      <option value="Херсон">Херсон</option>
      <option value="Хмельник (Винницкая обл.) ">Хмельник (Винницкая обл.) </option>
      <option value="Хмельницький">Хмельницький</option>
      <option value="Ходоров">Ходоров</option>
      <option value="Хорол">Хорол</option>
      <option value="Хоростків">Хоростків</option>
      <option value="Хотин">Хотин</option>
      <option value="Христиновка">Христиновка</option>
      <option value="Хуст">Хуст</option>
      <option value="Царичанка">Царичанка</option>
      <option value="Цюрупинск">Цюрупинск</option>
      <option value="Чаплинка">Чаплинка</option>
      <option value="Чемерівці">Чемерівці</option>
      <option value="Черкаси">Черкаси</option>
      <option value="Червоноград">Червоноград</option>
      <option value="Чернігів">Чернігів</option>
      <option value="Чернівці">Чернівці</option>
      <option value="Черноморское">Черноморское</option>
      <option value="Чернухи">Чернухи</option>
      <option value="Чернобай">Чернобай</option>
      <option value="Червонозаводское">Червонозаводское</option>
      <option value="Черняхов">Черняхов</option>
      <option value="Червоноармійськ">Червоноармійськ</option>
      <option value="Червонопартизанськ">Червонопартизанськ</option>
      <option value="Чечельник">Чечельник</option>
      <option value="Чигирин">Чигирин</option>
      <option value="Чоп">Чоп</option>
      <option value="Чортків">Чортків</option>
      <option value="Чугуев">Чугуев</option>
      <option value="Чуднов">Чуднов</option>
      <option value="Чутово">Чутово</option>
      <option value="Шаргород">Шаргород</option>
      <option value="Шахтерск">Шахтерск</option>
      <option value="Шацк">Шацк</option>
      <option value="Шевченкове">Шевченкове</option>
      <option value="Шепетовка">Шепетовка</option>
      <option value="Широке">Широке</option>
      <option value="Ширяево">Ширяево</option>
      <option value="Шишаки">Шишаки</option>
      <option value="Шостка">Шостка</option>
      <option value="Шпиків">Шпиків</option>
      <option value="Шпола">Шпола</option>
      <option value="Шумск">Шумск</option>
      <option value="Щёлкино">Щёлкино</option>
      <option value="Щорс">Щорс</option>
      <option value="Енергодар">Енергодар</option>
      <option value="Южный">Южный</option>
      <option value="Южное">Южное</option>
      <option value="Южноукраинск">Южноукраинск</option>
      <option value="Яворів">Яворів</option>
      <option value="Яготин">Яготин</option>
      <option value="Ялта">Ялта</option>
      <option value="Ямполь">Ямполь</option>
      <option value="Ямполь (Винница)">Ямполь (Винница)</option>
      <option value="Ярмолинці">Ярмолинці</option>
      <option value="Ясиноватая">Ясиноватая</option>
      <option value="Ясіня">Ясіня</option>
      <option value="other">Інше</option>
</select>