<div class="MPWSLayout" name="Layout">
    <div class="MPWSPageHeader" name="CommonHeader">
        <div class="MPWSBlockLeft" name="CommonHeaderLeft"></div>
        <div class="MPWSBlockCenter" name="CommonHeaderCenter">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-mainmenu-ID">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand hide" href="/">
                                <img id="site-logo-ID" class="logo" title="">
                            </a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="site-mainmenu-ID">
                            <ul class="nav navbar-nav navbar-nav-main navbar-nav-main-left" name="CommonMenuLeft"></ul>
                            <ul class="nav navbar-nav navbar-right navbar-nav-main-right" name="CommonMenuRight"></ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>
        </div>
        <div class="MPWSBlockRight" name="CommonHeaderRight"></div>
    </div>
    <div class="MPWSBannerHeaderTop" name="CommonBannerHeaderTop"></div>
    <div class="MPWSWidgetsTop" name="CommonWidgetsTop"></div>
    <div class="MPWSBreadcrumb" name="CommonBreadcrumbTop"></div>
    <div class="MPWSBannerHeaderBottom" name="CommonBannerHeaderBottom"></div>
    <div class="MPWSPageBody" name="CommonBody">
        <div class="MPWSBlockLeft" name="CommonBodyLeft"></div>
        <div class="MPWSBlockCenter" name="CommonBodyCenter"></div>
        <div class="MPWSBlockRight" name="CommonBodyRight"></div>
    </div>
    <div class="MPWSBreadcrumb" name="CommonBreadcrumbBottom"></div>
    <div class="MPWSWidgetsBottom" name="CommonWidgetsBottom"></div>
    <div class="MPWSBannerFooter" name="CommonBannerFooter"></div>
    <div class="MPWSPageFooter" name="CommonFooter">
        <div class="MPWSBlockLeft" name="CommonFooterLeft"></div>
        <div class="MPWSBlockCenter" name="CommonFooterCenter"></div>
        <div class="MPWSBlockRight" name="CommonFooterRight"></div>
    </div>
</div>